﻿@model IEnumerable<Certificate_AdminPanel.ViewModels.ComplaintsView>

@{
    ViewBag.Title = "Complaints Report";
}
@*<script src="~/Scripts/Complaints.js"></script>*@

<script type="text/javascript">
    $(document).ready(function () {

        //$("#example").dataTable({
        //    "bJQueryUI": true,
        //    //"aaSorting": [[1, "desc"]],
        //    "aoColumnDefs": [{ 'bSortable': false, 'aTargets': [0] }],
        //    "sScrollX": "100%",
        //    "oLanguage": { "oPaginate": { "sFirst": "&lt&lt", "sLast": "&gt&gt", "sNext": "&gt", "sPrevious": "&lt" }, },
        //    "sPaginationType": "full_numbers",
        //    "bAutoWidth": false,
        //    "bScrollAutoCss": true, "bScrollCollapse": true,

        //})
        $('#example').DataTable({
            responsive: true,
            scrollY: "400px",
            scrollX: true,
            scrollCollapse: true,
            paging: true,
            fixedColumns: {
                leftColumns: 1,
                rightColumns: 1
            }
            //"sDom": 'T<"clear">lfrtip',
            //"oTableTools": {
            //    "aButtons": [
            //        "xls",
            //        "print"],
            //    "sSwfPath": "../../Content/swf/copy_csv_xls_pdf.swf"
            //}

        });
    });
</script>
<!-- Content Header (Page header) -->
</section>
<div class="content-wrapper">
    <section class="content-header">
        <h1>Complaints
       
        <small>Closed Complaint  Details</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a href="#">Complaint</a></li>
            <li class="active">Index</li>
        </ol>
    </section>
    <!-- Content Header (Page header) -->
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Closed Complaints</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example2" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>S.No
                                    </th>
                                    <th>Complaint No
                                    </th>
                                    <th>Complaint Date
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Customer)
                                    </th>
                                    <th>Product Description
                                    </th>
                                    <th>Serial No
                                    </th>
                                    <th>Complaint Details
                                    </th>
                                    <th>Problem Found
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Reason)
                                    </th>
                                    <th>Rectified By
                                    </th>
                                    <th>Closed Date
                                    </th>

                                    <th>Remarks
                                    </th>
                                    @if (Certificate_AdminPanel.SessionWrapper.AdminLevel == AdminLevel.Admin)
                                    {
                                        <th>Admin
                                        </th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @{int i = 1;}
                                @foreach (var item in Model)
                                {
    
                                    <tr>
                                        <td>@i</td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ComplaintNo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Cdate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Customer)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ProductDescription)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SerialNo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ComplaintDetails)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Problem)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Reason)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.RectifiedBy)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DateOfReturn)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Remark)
                                        </td>
                                        @if (Certificate_AdminPanel.SessionWrapper.AdminLevel == AdminLevel.Admin)
                                        {
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DealerName)
                                            </td>
                                        }

                                    </tr>
                                        i = i + 1;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>


        </div>
    </section>
</div>
