﻿@model Certificate_AdminPanel.Models.Complaints

@{
    ViewBag.Title = "Create";
   
}
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/AdminTemplates/plugins/select2/select2.full.min.js"></script>
<link href="~/AdminTemplates/plugins/select2/select2.min.css" rel="stylesheet" />
<script src="~/AdminTemplates/plugins/iCheck/icheck.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        //GetRegistrationDate('#Cdate');
        $("#Cdate").datepicker({
            autoclose: true,
            format: 'dd/M/yyyy'
        });

    });
</script>
@*<div style="padding-left:20em">
<h2>Register</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    
        <table class="grid">
            <tr>
                <td>

        <div class="editor-label">
           @Html.LabelFor(model=>model.Cdate)
        </div>
                    
                </td>
            <td>
        <div class="editor-field">
            @Html.EditorFor(model => model.Cdate)
            @Html.ValidationMessageFor(model => model.Cdate)
        </div></td></tr>
            <tr>
            <td>

        <div class="editor-label">
            @Html.LabelFor(model => model.Customer)
        </div></td>
            <td>
        <div class="editor-field">
            @Html.EditorFor(model => model.Customer)
            @Html.ValidationMessageFor(model => model.Customer)
        </div></td>
                </tr>
            <tr>
            <td>

        <div class="editor-label">
            @Html.LabelFor(model => model.ProductDescription)
        </div></td>
            <td>
        <div class="editor-field">
            @Html.EditorFor(model => model.ProductDescription)
            @Html.ValidationMessageFor(model => model.ProductDescription)
        </div></td>
                </tr>
            <tr>
            <td>

        <div class="editor-label">
            @Html.LabelFor(model => model.SerialNo)
        </div></td>
            <td>
        <div class="editor-field">
            @Html.EditorFor(model => model.SerialNo)
            @Html.ValidationMessageFor(model => model.SerialNo)
        </div></td>
            
                </tr>
            
            <tr><td>

        <div class="editor-label">
           @Html.LabelFor(model => model.ComplaintDetails)
        </div></td>
            <td>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.ComplaintDetails,new { style="width:150px;height:60px;overflow:hidden;"})
            @Html.ValidationMessageFor(model => model.ComplaintDetails)
        </div>
                </td>
                </tr>
            
     
            <tr>
      <td>

            <input type="submit" value="Create" />
        
                    
                </td>
            </tr>
        </table>

}
        </div>
<div >*@
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Complaints
       
            <small>Complaint Registratoin</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a href="/Company/Index">Complaints</a></li>
            <li class="active">Registration</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">

            <!-- Horizontal Form -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Complaint Registration</h3>
                </div>

                @using (Html.BeginForm("Create", "Complaints", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
                {
   
                    @Html.ValidationSummary(true)
   
                    <div class="box-body">
                        <!-- left column -->
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Cdate, new { @class = "col-sm-3 control-label " })

                                <div class="col-sm-7">

                                    @Html.TextBoxFor(model => model.Cdate, new { @class = "form-control cuswidth", tabindex = 1 })
                                    @Html.ValidationMessageFor(model => model.Cdate)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Customer, new { @class = "col-sm-3 control-label " })

                                <div class="col-sm-7">

                                    @Html.TextBoxFor(model => model.Customer, new { @class = "form-control cuswidth", tabindex = 2 })
                                    @Html.ValidationMessageFor(model => model.Customer)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ProductDescription, new { @class = "col-sm-3 control-label " })

                                <div class="col-sm-7">

                                    @Html.TextAreaFor(model => model.ProductDescription, new { @class = "form-control cuswidth", tabindex = 3 })
                                    @Html.ValidationMessageFor(model => model.ProductDescription)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.SerialNo, new { @class = "col-sm-3 control-label " })

                                <div class="col-sm-7">

                                    @Html.TextBoxFor(model => model.SerialNo, new { @class = "form-control cuswidth", tabindex = 4 })
                                    @Html.ValidationMessageFor(model => model.SerialNo)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ComplaintDetails, new { @class = "col-sm-3 control-label " })

                                <div class="col-sm-7">

                                    @Html.TextAreaFor(model => model.ComplaintDetails, new { @class = "form-control cuswidth", style = "width:100%", tabindex = 5 })

                                    @Html.ValidationMessageFor(model => model.ComplaintDetails)
                                </div>


                            </div>
                        </div>

                    </div>
                }
                <div class="box-footer">
                    @Html.ActionLink("Back to Index", "Index", null, new { @class = "btn btn-info pull-left", tabindex = 6 })
                    <button type="submit" class="btn btn-info pull-right" tabindex="7">Submit</button>
                </div>


            </div>
    </section>


</div>
