﻿@model Certificate_AdminPanel.Models.Complaints

@{
    ViewBag.Title = "Delete";
}


<h3>Are you sure you want to delete:<strong></strong> </h3>

@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="OK" /> |
        <input type="button" value="Cancel" onclick="window.location='@Url.Action("Index")'" class="button" />
 
    </p>
}

