﻿@model Certificate_AdminPanel.Models.Complaints

@{
    ViewBag.Title = "Edit";
   
}
@*<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@
<script type="text/javascript">
    $(document).ready(function () {
        
        GetRegistrationDate('#DateOfReturn');

    });
</script>
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <p style="text-align:right">Token No:  @Html.DisplayFor(model=>model.Id)</p>
     
<table class="grid">
 
       
            
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model=>model.Cuser)    
    @Html.HiddenFor(model=>model.Cdate)
    @Html.HiddenFor(model=>model.Customer)
    @Html.HiddenFor(model=>model.ProductDescription)
    @Html.HiddenFor(model=>model.SerialNo)
    @Html.HiddenFor(model=>model.ComplaintDetails)
    @Html.HiddenFor(model=>model.AdminId)



    @*<tr><td>
        <div class="editor-label">
            @Html.LabelFor(model => model.Cdate)
        </div>
            </td>
        <td>
        <div class="editor-field">
            @Html.EditorFor(model => model.Cdate)
            @Html.ValidationMessageFor(model => model.Cdate)
        </div>
            </td>
        <td>
        <div class="editor-label">
            @Html.LabelFor(model => model.Customer)
        </div>
            </td>
        <td>
        <div class="editor-field">
            @Html.EditorFor(model => model.Customer)
            @Html.ValidationMessageFor(model => model.Customer)
        </div>
            </td>
        </tr>
    <tr>
        <td>
        <div class="editor-label">
            @Html.LabelFor(model => model.ProductDescription)
        </div></td>
        <td>
        <div class="editor-field">
            @Html.EditorFor(model => model.ProductDescription)
            @Html.ValidationMessageFor(model => model.ProductDescription)
        </div>
</td>
        <td>
        <div class="editor-label">
            @Html.LabelFor(model => model.SerialNo)
        </div></td>
        <td>
        <div class="editor-field">
            @Html.EditorFor(model => model.SerialNo)
            @Html.ValidationMessageFor(model => model.SerialNo)
        </div>
            </td>
        </tr>
    <tr>
        <td>
        <div class="editor-label">
            @Html.LabelFor(model => model.ComplaintDetails)
        </div></td>
        <td>
        <div class="editor-field">
            @Html.EditorFor(model => model.ComplaintDetails)
            @Html.ValidationMessageFor(model => model.ComplaintDetails)
        </div>
            </td>
        <td>
        <div class="editor-label">
            @Html.LabelFor(model => model.Problem)
        </div>
            </td>
        <td>
        <div class="editor-field">
            @Html.EditorFor(model => model.Problem)
            @Html.ValidationMessageFor(model => model.Problem)
        </div></td> </tr>*@
    <tr>
            <td>
        <div class="editor-label">
         Problem Found
        </div></td>
            <td>
        <div class="editor-field">
            @Html.EditorFor(model => model.Problem)
            @Html.ValidationMessageFor(model => model.Problem)
        </div></td>
                </tr>
    <tr>
        <td>

        <div class="editor-label">
            @Html.LabelFor(model => model.Reason)
        </div></td>
       
        <td>
        <div class="editor-field">
            @Html.EditorFor(model => model.Reason)
            @Html.ValidationMessageFor(model => model.Reason)
        </div></td>
        </tr>
    <tr>
        <td>

        <div class="editor-label">
           Closing Date
        </div></td>
        <td>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateOfReturn)
            @Html.ValidationMessageFor(model => model.DateOfReturn)
        </div></td>  </tr>
    <tr>
                  <td>

        <div class="editor-label">
            @Html.LabelFor(model => model.RectifiedBy)
        </div></td>
            <td>
        <div class="editor-field">
            @Html.EditorFor(model => model.RectifiedBy)
            @Html.ValidationMessageFor(model => model.RectifiedBy)
        </div></td>
            </tr>
    <tr>
        <td>

        <div class="editor-label">
            Remarks
        </div></td>
      
        <td>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Remark,new { style="width:150px;height:60px;overflow:hidden;"})
            @Html.ValidationMessageFor(model => model.Remark)
        </div>

        </td>
        </tr>
    <tr>
        <td>
        <div class="editor-label">
            Token Close
        </div>
            </td>
        <td>
        <div class="editor-field">
            @Html.CheckBoxFor(model=>model.Stat)

        </div>
        </td>
        </tr>
    <tr>
        <td>
            <input type="submit" value="Save" />
       
            
        </td>
    </tr>
</table>
   
}

