﻿@model IEnumerable<Certificate_AdminPanel.ViewModels.ComplaintsView>

@{
    ViewBag.Title = "Index";
}


<script src="~/Scripts/Complaints.js"></script>
@*<script src="~/AdminTemplates/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
<link href="~/AdminTemplates/plugins/datatables/extensions/Responsive/css/dataTables.responsive.css" rel="stylesheet" />*@
@using System.Web.Optimization
@Styles.Render("~/bundles/DatatableResposive")
@Scripts.Render("~/bundles/DatetableResposiveJs")
<div class="content-wrapper">


    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Complaints
       
        <small>Open Complaint  Details</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a href="#">Complaint</a></li>
            <li class="active">Index</li>
        </ol>
    </section>
    <!-- Content Header (Page header) -->
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Open Complaints</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example2" class="table table-bordered table-striped">


                            <thead>

                                <tr>
                                    <th>S.No
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ComplaintNo)
                                    </th>
                                    <th>Complaint Date
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Customer)
                                    </th>
                                    <th>Product Description
                                    </th>
                                    <th>Serial No
                                    </th>
                                    <th>Complaint Details
                                    </th>
                                    <th>Problem Found
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Reason)
                                    </th>

                                    <th>Closed Date
                                    </th>
                                    <th>Remarks
                                    </th>
                                    @if (Certificate_AdminPanel.SessionWrapper.IsAdmin)
                                    { <th></th>}
                                </tr>
                            </thead>
                            <tbody>
                                @{int i = 1;}
                                @foreach (var item in Model)
                                {
   
                                    <tr>
                                        <td>@i</td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ComplaintNo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Cdate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Customer)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ProductDescription)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SerialNo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ComplaintDetails)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Problem)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Reason)
                                        </td>
                                        <td>
                                            @if (item.DateOfReturn == null)
                                            {
                                                <p>N/A</p>
                                            }
                                            @Html.DisplayFor(modelItem => item.DateOfReturn)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Remark)
                                        </td>
                                        @if (Certificate_AdminPanel.SessionWrapper.IsAdmin)
                                        {
                                            <td>



                                                <a href="/Certificate/edit/@item.Id" class="iframedetails" style="text-decoration:none">
                                                    <span class="glyphicon glyphicon-edit"></span>
                                                </a>
                                            </td>
                                        }
                                    </tr>
                                        i = i + 1;
                                }
                            </tbody>
                        </table>
                        
                    </div>
                </div>
            </div>
        </div>

        <p>
            <span style="text-decoration: underline; font-weight: bold">Note:</span> N/A=Not Available
        </p>
        <br />
        <br />
    </section>

</div>
