﻿@model Certificate_AdminPanel.ViewModels.GPSCertificateView
@{
    ViewBag.Title = "Thinture Technologies Pvt. Ltd. Bangalore 560097";
    Layout = null;
}



<br/>

<!DOCTYPE html>
<html> 
    <head>
    <meta charset="utf-8" />
   @* <title>@ViewBag.Title - Certification</title>*@
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    </head>
        <body>
            @if(Model.Duplicate >0){
            <p style="text-align:center;font-weight:normal;font-size:12px;color: #999999">
               DUPLICATE
            </p>
            }
            
            else if(Model.InstallDate.Date.AddYears(1) <= DateTime.UtcNow.Date)
            {
                    <p style="text-align:center;font-weight:normal;font-size:12px;color: #999999">
               Renewal
            </p>
            }
            
              <br/>
   <div border="1" >
    <table border="0"><tr><td style="margin-top:2px; padding-bottom:0px;padding-left:5px; font-size:12px;font-weight:bold;font-family: Arial, Helvetica, sans-serif; text-align:center" bgcolor="#66B65A" >
               <span >GPS TRACKER CERTIFICATE</span></td></tr>
            </table>
       <table border="0" width:100%><tr><td rowspan="6"><img height="65"  float: left src="@Model.ImageUrl"/></td><td></td></tr>
                  
                 <tr style="text-align: right;"><td>@Model.AdminName</td></tr>
                <tr style="text-align: right;"><td>@Model.AdminAddress </td></tr>
                <tr style="text-align: right;"><td> </td></tr>
                <tr style="text-align: right;"><td>Phone No:@Model.AdminPhone </td></tr>
      <tr style="text-align: right;"><td>@Model.AdminEmail </td></tr>
            </table>
 
                                                     
       <br />
            <table style="border: 1px groove #000000;width: 100%; height: 15px;font-family: Verdana;font-size: 9px;color: #000000;"><tr><td style="border: 1px groove #000000;width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 5px;"><span class="table_col">Applicable standard</span></td><td style="border: 1px groove #000000;width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 5px;">@Html.DisplayFor(model => model.ApplicableStandard)</td><td style="border: 1px groove #000000;width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 5px;">Country of Installation</td><td style="border: 1px groove #000000;width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 2px;">@Html.DisplayFor(model => model.CountryName)</td></tr></table>
            <table border="0"><tr><td style="padding-top:2px; padding-bottom:1px;padding-left:5px; font-size:12px; font-weight: bold;" bgcolor="#66B65A">
              <span >DECLARATION</span></td></tr>
            </table>
        
            <p>This is to certify that the vehicle with below mentioned details has been fitted with Thinture GPS Tracking Device@*            <p width: 100%; text-align: left;padding-left: 2px; padding-top: 2px; height: 25px; font-weight: bold; font-family: Arial, Helvetica, sans-serif;background-color: #66B65A; color: #000000;>*@
       <br />  
                <br />          
       <table border="0"><tr><td style="margin-top:2px; padding-bottom:0px;padding-left:5px; font-size:12px;font-weight:bold" bgcolor="#66B65A">
               <span >VEHICLE DETAILS</span></td></tr>
            </table>
      <br />
            <table style="border: 1px groove #000000;width: 100%; height: 15px;font-family: Arial;color: #000000;">
                <tr><td style="width: 150px;height: 15px;font-family: Arial,Helvetica, sans-serif;font-size: 10px;color: #000000;padding-left: 2px;">Vehicle Owner</td><td  colspan="3" style="font-family: Arial, Helvetica, sans-serif;font-size: 10px;color: #000000;padding-left: 2px;">@Html.DisplayFor(model=>model.OwnerName)</td></tr>
                <tr><td style="width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 10px;color: #000000;padding-left: 2px;">Registration No.</td><td style="width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 10px;color: #000000;padding-left: 2px;">@Html.DisplayFor(model=>model.VehicleNo)</td><td style="width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 10px;color: #000000;padding-left: 2px;">Chassis No.</td><td style="width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 10px;color: #000000;padding-left: 2px;">@Html.DisplayFor(model=>model.ChassisNo)</td></tr>
                <tr><td style="width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 10px;color: #000000;padding-left: 2px;">Engine No.</td><td style="width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 10px;color: #000000;padding-left: 2px;">@Html.DisplayFor(model=>model.EngineNo)</td><td style="width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 10px;color: #000000;padding-left: 2px;">Make of Vehicle</td><td style="width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 10px;color: #000000;padding-left: 2px;">@Html.DisplayFor(model=>model.MakeOfVehicle)</td></tr>
                <tr><td style="width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 10px;color: #000000;padding-left: 2px;">Model of Vehicle</td><td style="width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 10px;color: #000000;padding-left: 2px;">@Html.DisplayFor(model=>model.ModelOfVehicle)</td><td style="width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 10px;color: #000000;padding-left: 2px;"></td><td style="width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 10px;color: #000000;padding-left: 2px;">@*@Html.DisplayFor(model=>model.ManufactureYear)*@</td></tr>
            </table>
            <br />
              <table border="0"><tr><td style="padding-top:2px; padding-bottom:1px;padding-left:5px; font-size:12px; font-weight:bold;font-size:12px" bgcolor="#66B65A">
                <span>GPS DEVICE DETAILS</span></td></tr>
            </table>

      
         <br />
           <table style="width: 100%; height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 9px;color: #000000;">
                <tr><td style="width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 2px;">Terminal Id</td><td style="border: 1px groove #000000;width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 5px;">@Html.DisplayFor(model=>model.TerminalId)</td><td style="border: 1px groove #000000;width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 5px;">Max  Speed</td><td style="border: 1px groove #000000;width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 2px;">@Html.DisplayFor(model=>model.Maxspeed) km/hr</td></tr>
                <tr><td style="width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 2px;">IMEI No.</td><td style="border: 1px groove #000000;width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 5px;">@Html.DisplayFor(model=>model.IMEINO)</td><td style="border: 1px groove #000000;width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 5px;">SIM NO</td><td style="border: 1px groove #000000;width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 2px;">@Html.DisplayFor(model=>model.SIMNO)</td></tr>
                <tr><td style="width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 2px;">Date of Installation</td><td style="border: 1px groove #000000;width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 5px;">@Html.DisplayFor(model=>model.InstallDate)</td><td style="border: 1px groove #000000;width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 5px;">Technician Name</td><td style="border: 1px groove #000000;width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 2px;">@Html.DisplayFor(model=>model.TechnicianName)</td></tr>
            </table>
       <br />
             <table border="0"><tr><td style="padding-top:2px; padding-bottom:1px;padding-left:5px; font-size:12px; font-weight:bold" bgcolor="#66B65A">
                <span >DEALER DETAILS</span></td></tr>
            </table>
         <br />
            <table style="border: 1px groove #000000;width: 100%; height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 9px;color: #000000;">
             
                   <tr><td style="width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 2px;">Dealer Name</td><td style="padding-left: 2px;"colspan="3" >@Html.DisplayFor(model=>model.Name)</td></tr>
                <tr><td style="width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 2px;">Address & Phone</td><td style="padding-left: 2px;"colspan="3">@Html.DisplayFor(model=>model.Address),@Html.DisplayFor(model=>model.PhoneNo)</td></tr>
            </table>
       <br />
            <table style="width: 100%; height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 9px;color: #000000;">
                <tr><td  style="width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif; font-size: 9px;color: #000000;padding-left: 2px;">UIN <span style="font-size:7px;">(Unique identification number)</span></td><td style="width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif; font-size: 9px;color: #000000;padding-left: 2px;">@Html.DisplayFor(model=>model.CertificateNo)</td><td style="width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif; font-size: 9px;color: #000000;padding-left: 2px;">Valid Upto</td><td style="width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif; font-size: 9px;color: #000000;padding-left: 2px;">@Html.DisplayFor(model=>model.ExpDate)</td></tr>
            </table>
      
              <p style="font-family: Arial,Helvetica, sans-serif;font-size: 7px;color: #000000;text-align:center">[ONE YEAR FREE-REPLACEMENT WARRANTY ON THE UNIT SUBJECT TO CONTINUED RENEWAL OF CERTIFICATE]</p>
        <br />
            <table class="certificate_table1">

                <tr><td class="td_6"> @Html.QRCode("http://"+Request.Url.Host+":8081/GPSCertifcate/GetDet?searchString="+Model.CertificateNo,80,4,QRCodeErrorCorrectionLevel.High)<br /></td><td class="td_5"><span> Dealer Stamp </span></td><td class="td_7"> @*<img id="img"  src="/Barcode.ashx?m=0&h=60&vCode=@ViewBag.vCode" alt="@ViewBag.vCode"/>*@@*<img width="120" height="50" src="@Model.DealerLogo" />*@</td></tr>
               
            </table>
       <p style="font-family: Arial,Helvetica, sans-serif;font-size: 10px;color: #000000;text-align:center"> 
           The validity of this Certificate is verified from the following website or scanning the QR Code</p>   
                                         <p style="font-family: Arial,Helvetica, sans-serif;font-size: 11px;color: #000000;text-align:center">    www.thinture.com/get </p>
</div>
    <br/>
    </body>

    </html>
    