﻿@model Certificate_AdminPanel.Models.GPSCertificate

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminTemplate.cshtml";
}
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/AdminTemplates/plugins/select2/select2.full.min.js"></script>
<link href="~/AdminTemplates/plugins/select2/select2.min.css" rel="stylesheet" />
<script src="~/AdminTemplates/plugins/iCheck/icheck.min.js"></script>
<script>
    $(document).ready(function () {
        $(".select2").select2();
        $("#InstallDate").datepicker({
            autoclose: true
        });
    });
</script>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>GPS
       
            <small>Certificate Creation form</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a href="/GpsCertificate/Index">GPS</a></li>
            <li class="active">Creation</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">

            <!-- Horizontal Form -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Certificate Creation</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                @using (Html.BeginForm("Create", "GPSCertifcate", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="box-body">

                        <!-- left column -->
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.VehicleNo, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.VehicleNo, new { @class = "form-control " })
                                    @Html.ValidationMessageFor(model => model.VehicleNo)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.EngineNo, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.EngineNo, new { @class = "form-control " })
                                    @Html.ValidationMessageFor(model => model.EngineNo)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Makeofvehicle, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.Makeofvehicle, new { @class = "form-control " })
                                    @Html.ValidationMessageFor(model => model.Makeofvehicle)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.fuelmileageratio, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.fuelmileageratio, new { @class = "form-control " })
                                    @Html.ValidationMessageFor(model => model.fuelmileageratio)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Maxspeed, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-2">

                                    @Html.TextBoxFor(model => model.Maxspeed, new { @class = "form-control " })

                                    @Html.ValidationMessageFor(model => model.Maxspeed)
                                </div>


                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.IMEINO, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.IMEINO, new { @class = "form-control " })
                                    @Html.ValidationMessageFor(model => model.IMEINO)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.OwnerName, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.OwnerName, new { @class = "form-control " })
                                    @Html.ValidationMessageFor(model => model.OwnerName)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.DriverName, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.DriverName, new { @class = "form-control " })
                                    @Html.ValidationMessageFor(model => model.DriverName)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.TechnicianName, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.TechnicianName, new { @class = "form-control " })
                                    @Html.ValidationMessageFor(model => model.TechnicianName)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ApplicableStandard, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.DropDownListFor(model => model.ApplicableStandard, (SelectList)ViewBag.AppStd, "-select-", new { @class = "form-control select2" })

                                    @Html.ValidationMessageFor(model => model.ApplicableStandard)
                                </div>
                            </div>
                            @if (Certificate_AdminPanel.SessionWrapper.AdminLevel == AdminLevel.Admin || Certificate_AdminPanel.SessionWrapper.AdminLevel == AdminLevel.SubAdmin)
                            {
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Dealer</label>

                                    <div class="col-sm-10">
                                        @Html.DropDownListFor(model => model.DealerId, (IEnumerable<SelectListItem>)ViewBag.DealerId, "-Select-", new { @class = "form-control select2" })

                                        @Html.ValidationMessageFor(model => model.DealerId)
                                    </div>
                                </div>
                            }

                        </div>

                        <!-- right column -->
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.TerminalId, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.TerminalId, new { @class = "form-control " })
                                    @Html.ValidationMessageFor(model => model.TerminalId)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ChassisNo, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.ChassisNo, new { @class = "form-control " })
                                    @Html.ValidationMessageFor(model => model.ChassisNo)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.modelofvehicle, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.modelofvehicle, new { @class = "form-control " })
                                    @Html.ValidationMessageFor(model => model.modelofvehicle)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.OdometerReading, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.OdometerReading, new { @class = "form-control " })
                                    @Html.ValidationMessageFor(model => model.OdometerReading)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.SIMNO, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.SIMNO, new { @class = "form-control " })
                                    @Html.ValidationMessageFor(model => model.SIMNO)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.SOSNO, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.SOSNO, new { @class = "form-control " })
                                    @Html.ValidationMessageFor(model => model.SOSNO)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.OwnerPhone, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.OwnerPhone, new { @class = "form-control " })
                                    @Html.ValidationMessageFor(model => model.OwnerPhone)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.DriverPhone, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.DriverPhone, new { @class = "form-control " })
                                    @Html.ValidationMessageFor(model => model.DriverPhone)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.InstallDate, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.InstallDate, new { @class = "form-control " })
                                    @Html.ValidationMessageFor(model => model.InstallDate)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Country, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.DropDownListFor(model => model.Country, (IEnumerable<SelectListItem>)ViewBag.COuntryName, "-select-", new { @class = "form-control select2" })
                                    @Html.ValidationMessageFor(model => model.Country)
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="box-footer">
                        @Html.ActionLink("Back to Index", "Index", null, new { @class = "btn btn-info pull-left" })
                        <button type="submit" class="btn btn-info pull-right">Submit</button>
                    </div>
                    <!-- /.box-footer -->
                }
            </div>
        </div>
    </section>
</div>
