﻿@model Certificate_AdminPanel.Models.GPSCertificate


@{
    ViewBag.Title = "Delete";
    
}

<h3>Are you sure you want to delete:<strong></strong> </h3>

@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="OK" /> |
        <input type="button" value="Cancel" onclick="history.go(0)" class="button" />
 
    </p>
}

