﻿@model Certificate_AdminPanel.Models.GPSCertificate

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminTemplate.cshtml";

   
}
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/AdminTemplates/plugins/select2/select2.full.min.js"></script>
<link href="~/AdminTemplates/plugins/select2/select2.min.css" rel="stylesheet" />
<script src="~/AdminTemplates/plugins/iCheck/icheck.min.js"></script>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>GPS
       
            <small>Certificate Edit form</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a href="/GpsCertificate/Index">GPS</a></li>
            <li class="active">Edit</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">

            <!-- Horizontal Form -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Edit</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                @using (Html.BeginForm("Edit", "gpscertifcate", FormMethod.Post, new { enctype = "multipart/form-data", id = "myForm1", @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(model => model.Cdate)
                    @Html.HiddenFor(model => model.CUser)
                    @Html.HiddenFor(model => model.E_stat)
                    @Html.HiddenFor(model => model.Duplicate)
                    @Html.HiddenFor(model => model.VehicleNo)
                    @Html.HiddenFor(model => model.TerminalId)
                    @Html.HiddenFor(model => model.InstallDate)
                    @Html.HiddenFor(model => model.DealerId)
                    @Html.HiddenFor(model => model.ExpDate)
                    @Html.HiddenFor(model => model.Country)
                    <div class="box-body">

                        <!-- left column -->
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.CertificateNo, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.CertificateNo, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.CertificateNo)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ChassisNo, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.ChassisNo, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.ChassisNo)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.modelofvehicle, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.modelofvehicle, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.modelofvehicle)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.OdometerReading, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.OdometerReading, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.OdometerReading)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.SIMNO, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.SIMNO, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.SIMNO)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.SOSNO, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.SOSNO, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.SOSNO)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.OwnerPhone, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.OwnerPhone, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.OwnerPhone)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.DriverPhone, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.DriverPhone, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.DriverPhone)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ApplicableStandard, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.ApplicableStandard, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.ApplicableStandard)
                                </div>
                            </div>
                        </div>
                        <!-- rIGHT column -->
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.EngineNo, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.EngineNo, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.EngineNo)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Makeofvehicle, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.Makeofvehicle, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Makeofvehicle)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.fuelmileageratio, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.fuelmileageratio, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.fuelmileageratio)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Maxspeed, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.Maxspeed, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Maxspeed)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.IMEINO, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.IMEINO, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.IMEINO)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.OwnerName, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.OwnerName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.OwnerName)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.DriverName, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.DriverName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.DriverName)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.TechnicianName, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.TechnicianName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.TechnicianName)
                                </div>
                            </div>

                        </div>


                    </div>
                    <div class="box-footer">
                        @Html.ActionLink("Back to Index", "Index", null, new { @class = "btn btn-info pull-left" })
                        <button type="submit" class="btn btn-info pull-right">Submit</button>
                    </div>
                    <!-- /.box-footer -->
                }
            </div>
        </div>
    </section>
</div>
@*
        @using (Html.BeginForm())
{
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Cdate)
            @Html.HiddenFor(model => model.CUser)
            @Html.HiddenFor(model => model.E_stat)
            @Html.HiddenFor(model => model.Duplicate)
            @Html.HiddenFor(model => model.VehicleNo)
            @Html.HiddenFor(model => model.TerminalId)
            @Html.HiddenFor(model => model.InstallDate)
            @Html.HiddenFor(model => model.DealerId)
            @Html.HiddenFor(model => model.ExpDate)
            @Html.HiddenFor(model => model.Country)


<fieldset style="width: 640px; overflow: auto;">

        <legend>Certificate</legend>
        <table class="grid">

            @Html.HiddenFor(model => model.CertificateNo)

            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.EngineNo)
            </div>

                </td>
                <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.EngineNo)
            @Html.ValidationMessageFor(model => model.EngineNo)
            </div>
                </td>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.ChassisNo)
            </div>
                </td>
                <td>

                    <div class="editor-field">
                        @Html.EditorFor(model => model.ChassisNo)
            @Html.ValidationMessageFor(model => model.ChassisNo)
            </div>
                </td>

            </tr>

            <tr>
                <td>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Makeofvehicle)
            </div>


                </td>

                <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Makeofvehicle)
            @Html.ValidationMessageFor(model => model.Makeofvehicle)
            </div>
                </td>
                <td>


                    <div class="editor-label">
                        @Html.LabelFor(model => model.modelofvehicle)
            </div>
                </td>
                <td>


                    <div class="editor-field">
                        @Html.EditorFor(model => model.modelofvehicle)
            @Html.ValidationMessageFor(model => model.modelofvehicle)
            </div>
                </td>


            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.fuelmileageratio)
            </div>

                </td>
                <td>

                    <div class="editor-field">
                        @Html.EditorFor(model => model.fuelmileageratio)
            @Html.ValidationMessageFor(model => model.fuelmileageratio)
            </div>
                </td>
                <td>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.OdometerReading)
            </div>
                </td>
                <td>

                    <div class="editor-field">
                        @Html.EditorFor(model => model.OdometerReading)
            @Html.ValidationMessageFor(model => model.OdometerReading)
            </div>

                </td>

            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Maxspeed)
            </div>
                </td>
                <td>

                    <div class="editor-field">
                        @Html.EditorFor(model => model.Maxspeed)
            @Html.ValidationMessageFor(model => model.Maxspeed)
            </div>
                </td>
                <td>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.SIMNO)
            </div>

                </td>
                <td>

                    <div class="editor-field">
                        @Html.EditorFor(model => model.SIMNO)
            @Html.ValidationMessageFor(model => model.SIMNO)
            </div>

                </td>

            </tr>
            <tr>
                <td>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.IMEINO)
            </div>
                </td>
                <td>


                    <div class="editor-field">
                        @Html.EditorFor(model => model.IMEINO)
            @Html.ValidationMessageFor(model => model.IMEINO)
            </div>
                </td>
                <td>


                    <div class="editor-label">
                        @Html.LabelFor(model => model.SOSNO)
            </div>

                </td>
                <td>


                    <div class="editor-field">
                        @Html.EditorFor(model => model.SOSNO)
            @Html.ValidationMessageFor(model => model.SOSNO)
            </div>
                </td>

            </tr>
            <tr>
                <td>


                    <div class="editor-label">
                        @Html.LabelFor(model => model.OwnerName)
            </div>
                </td>
                <td>

                    <div class="editor-field">
                        @Html.EditorFor(model => model.OwnerName)
            @Html.ValidationMessageFor(model => model.OwnerName)
            </div>
                </td>
                <td>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.OwnerPhone)
            </div>
                </td>
                <td>

                    <div class="editor-field">
                        @Html.EditorFor(model => model.OwnerPhone)
            @Html.ValidationMessageFor(model => model.OwnerPhone)
            </div>
                </td>
            </tr>
            <tr>
                <td>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.DriverName)
            </div>
                </td>
                <td>


                    <div class="editor-field">
                        @Html.EditorFor(model => model.DriverName)
            @Html.ValidationMessageFor(model => model.DriverName)
            </div>

                </td>
                <td>


                    <div class="editor-label">
                        @Html.LabelFor(model => model.DriverPhone)
            </div>
                </td>
                <td>

                    <div class="editor-field">
                        @Html.EditorFor(model => model.DriverPhone)
            @Html.ValidationMessageFor(model => model.DriverPhone)
            </div>
                </td>

            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.TechnicianName)
            </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.TechnicianName)
            @Html.ValidationMessageFor(model => model.TechnicianName)
            </div>
                </td>
                <td>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.ApplicableStandard)
            </div>
                </td>
                <td>

                    <div class="editor-field">
                        @Html.EditorFor(model => model.ApplicableStandard)
            @Html.ValidationMessageFor(model => model.ApplicableStandard)
        </div>

                </td>

            </tr>

        </table>



        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}*@

