﻿@model Certificate_AdminPanel.ViewModels.GPSCertificateView

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetDet</title>
</head>
<link href="~/Content/Site.css" rel="stylesheet" />
<body>
    
        @if(Model != null){
          
    <table id="box-table-a">
        <thead>
    	<tr>
        	<th scope="col">   Name     </th>
            <th scope="col">  Details   </th>
            <th scope="col">   Name     </th>
            <th scope="col">  Details   </th>
        </tr>
    </thead>
         @if(Model.Expired == "Expired"){
        <tr><td colspan="4">   Expired    </td></tr>
}
<tr><td>
        <div class="display-label">
             @Html.DisplayNameFor(model => model.VehicleNo
             
             )
        </div></td><td>
        <div class="display-field">
            @Html.DisplayFor(model => model.VehicleNo)
        </div></td><td>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.TerminalId)
        </div></td><td>
        <div class="display-field">
            @Html.DisplayFor(model => model.TerminalId)
        </div></td></tr>
    <tr><td>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.OwnerName)
        </div></td><td>
        <div class="display-field">
            @Html.DisplayFor(model => model.OwnerName)
        </div></td><td>
        <div class="display-label">
             @Html.DisplayNameFor(model => model.ChassisNo)
        </div></td><td>
        <div class="display-field">
            @Html.DisplayFor(model => model.ChassisNo)
        </div></td></tr>
    <tr><td>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.EngineNo)
        </div></td><td>
        <div class="display-field">
            @Html.DisplayFor(model => model.EngineNo)
        </div></td><td>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.MakeOfVehicle)
        </div></td><td>
        <div class="display-field">
            @Html.DisplayFor(model => model.MakeOfVehicle)
        </div></td></tr>
    <tr><td>
        <div class="display-label">
             @Html.DisplayNameFor(model => model.ModelOfVehicle)
        </div></td><td>
        <div class="display-field">
            @Html.DisplayFor(model => model.ModelOfVehicle)
        </div></td><td>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.SIMNO)
        </div></td><td>
        <div class="display-field">
            @Html.DisplayFor(model => model.SIMNO)
        </div></td></tr>
    <tr><td>
        <div class="display-label">
             @Html.DisplayNameFor(model => model.IMEINO)
        </div></td><td>
        <div class="display-field">
            @Html.DisplayFor(model => model.IMEINO)
        </div></td>           <td>
        <div class="display-label">
             @Html.DisplayNameFor(model => model.SOSNO)
        </div></td><td>
        <div class="display-field">
            @Html.DisplayFor(model => model.SOSNO)
        </div></td> </tr>
    <tr><td>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.InstallDate)
        </div></td><td>
        <div class="display-field">
            @Html.DisplayFor(model => model.InstallDate)
        </div></td><td>
        <div class="display-label">
             @Html.DisplayNameFor(model => model.ExpDate)
        </div></td><td>
        <div class="display-field">
            @Html.DisplayFor(model => model.ExpDate)
        </div></td>
    
      </tr>
    <tr><td>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.ApplicableStandard)
        </div></td><td>
        <div class="display-field">
            @Html.DisplayFor(model => model.ApplicableStandard)
        </div></td><td>
        <div class="display-label">
             @Html.DisplayNameFor(model => model.CountryName)
        </div></td><td>
        <div class="display-field">
            @Html.DisplayFor(model => model.CountryName)
        </div></td><td>
    
       @* <div class="display-label">
            Company
        </div>*@</td><td>
        @*<div class="display-field">
            @Html.DisplayFor(model => model.Name)
        </div>*@</td></tr> 
  @*  <tr><td>
        <div class="display-label">
             @Html.DisplayNameFor(model => model.Address)
        </div></td><td>
        <div class="display-field">
            @Html.DisplayFor(model => model.Address)
        </div></td><td>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.PhoneNo)
        </div></td><td>
        <div class="display-field">
            @Html.DisplayFor(model => model.PhoneNo)
        </div></td></tr>*@
    

        </table>
              
        }
        else
        {
        
        <h3>No Data Found</h3>
        }
    
   
</body>
</html>
