﻿@model IEnumerable<Certificate_AdminPanel.ViewModels.GPSCertificateSerialNoView>

@{
    ViewBag.Title = "Deliverydetails";
    AdminLevel AdminLevel_1 = Certificate_AdminPanel.SessionWrapper.AdminLevel;
}

<link href="~/Scripts/TableTools.css" rel="stylesheet" />
<script src="~/Scripts/TableTools.min.js"></script>
<script>
    $(document).ready(function () {
        var table = $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "ajax": {
                "url": '../../JsonStorage/GPSDeviceDetails.txt',
                "dataSrc": ""
            },
            "aoColumns": [
                                       { "data": "SerialNo" },

                                       {
                                           "data": "Date",
                                           "render": function (data, type, row) {
                                               var date = new Date(data);
                                               return formatDate(date);
                                           }
                                       },

                                       { "data": "Status" },
                                       { "data": "DealerName" },
                                       { "data": "Used" },

                   {
                       "render": function (data, type, row) {
                           debugger;
                           var action = '<a href="/gpscertifcate/SerialNoEdit/' + row.Recno + '"title="Edit" data-toggle="modal" data-target="myModal" class="ls-modal" style="text-decoration:none" > <span class="glyphicon glyphicon-edit"></span></a>'
                           return action;
                       }
                   },

            ]
            ,
            "sDom": 'T<"clear">lfrtip',
            "oTableTools": {
                "aButtons": [
                    "xls",
                    "print"],
                "sSwfPath": "../../Content/swf/copy_csv_xls_pdf.swf"
            },
            //"rowCallback": function (row, data, displayIndex) {
            //    if ($.inArray(data.DT_RowId, selected) !== -1) {
            //        $(row).addClass('selected');
            //    }
            //}
        });
       @* table.fnSetColumnVis(3, true);//DealerName
        table.fnSetColumnVis(5, true);//Action
        if ("@AdminLevel_1" == "Admin") {
           tbl.fnSetColumnVis(3, false);//DealerName
           tbl.fnSetColumnVis(5, false);//DealerName
        }*@
        $(document).on("click", '.ls-modal', function (event) {
            //alert("clicked");
            event.preventDefault();
            $('#myModal').modal('show').find('.contents').load($(this).attr('href'));
        });

    });// end of main function
   var mon = ["JAN", "FEB", "MAR", "APR", "MAY", "JUN", "JUL", "AUG", "SEP", "OCT", "NOV", "DEC"]
   function formatdate(_jsondate) {

       var _year = _jsondate.substring(0, 5);
       var _month = _jsondate.substring(5) - 1;
       //var _date = new Date(parseInt(_jsondate.replace(/(^.*\()|([+-].*$)/g, '')));
       //var _date = new Date( eval(_jsondate.replace(/\/Date\((.*?)\)\//gi, "new Date($1)")));
       //return _date.getMonth() + 1 + '-' + _date.getDate() + '-' + _date.getFullYear();


       return mon[_month];
   }
</script>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>GPS
       
        <small>Device Details</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a href="/GpsCertifcate/index">GPS</a></li>
            <li><a href="#">Devices</a></li>
            <li class="active">Index</li>
        </ol>
    </section>
    <!-- Content Header (Page header) -->
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Device Details</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                         <a href="/GPSCertifcate/serialnoadd"  class="btn bg-olive pull-left">Create SerialNo</a>
                        <table id="example2" class="table table-bordered table-striped">

                            <thead>
                                <tr>

                                    <th>
                                        @Html.DisplayNameFor(model => model.SerialNo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Date)
                                    </th>

                                    <th>Status
                                    </th>

                                    <th>Dealer
                                    </th>

                                    <th>Used
                                    </th>

                                    <th>Edit
                                    </th>

                                </tr>

                            </thead>
                            @*<tbody>
                                    @foreach (var item in Model)
                                    {
    
                                        <tr>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.SerialNo)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Date)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.Status)
                                            </td>
                                            @if (Certificate_AdminPanel.SessionWrapper.AdminLevel == AdminLevel.Admin)
                                            {
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.DealerName)
                                                </td>
                                            }
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Used)
                                            </td>
                                            @if (Certificate_AdminPanel.SessionWrapper.AdminLevel == AdminLevel.Admin)
                                            {
                                                <td>

                                                    <a href="/gpscertifcate/SerialNoEdit/@item.Recno" class="iframSno" style="text-decoration:none">
                                                        <span class="glyphicon glyphicon-edit"></span>
                                                    </a>

                                                </td>
                                            }
                                        </tr>
       
                                    }
                                </tbody>*@

                        </table>

                    </div>

                    <br />
                    <br />
                    <h5>Number of available Serial numbers:          @ViewBag.Availablecnt<br />
                        Number of serial numbers already certified:  @ViewBag.NotAvailablecnt
                        <br />
                    </h5>



                </div>
                <div class="box-footer">
                    @Html.ActionLink("Back to Index", "Index", null, new { @class = "btn btn-info pull-left" })

                </div>
            </div>


        </div>
    </section>
</div>
<!-- /.example-modal -->


<div class="modal modal-info " id="myModal" role="dialog">
    <div class="modal-dialog contents">
    </div>
    <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->

<!-- /.modal -->