﻿@*@model IEnumerable<Certificate_AdminPanel.Models.GPSCertificate>*@

@model IEnumerable<Certificate_AdminPanel.ViewModels.GPSCertificateView>

@{
    ViewBag.Title = "Index";
    bool _isAdmin = Certificate_AdminPanel.SessionWrapper.IsAdmin;
  
}
<script>
    $(document).ready(function () {
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "ajax": {
                "url": '../../JsonStorage/GPS.txt',
                "dataSrc": ""
            },
            "aoColumns": [
                                    { "data": "CertificateNo" },
                                    { "data": "VehicleNo" },
                                     { "data": "TerminalId" },
                                    {
                                        "data": "Cdate",
                                        "render": function (data, type, row) {
                                            var date = new Date(data);
                                            return formatDate(date);
                                        }
                                    },
                                    {
                                        "data": "ExpDate",
                                        "render": function (data, type, row) {
                                            var date = new Date(data);
                                            return formatDate(date);
                                        }
                                    },

                                    { "data": "EngineNo" },
                                     { "data": "ChassisNo" },
                                   
                {
                    "render": function (data, type, row) {
                        debugger;
                        var pdf = '<a href="/gpscertifcate/pdf/' + row.CertificateNo + '" title="Pdf" class="iframedetails" style="text-decoration:none"> <span class="glyphicon glyphicon-save-file"></span></a>'
                        var edit = '<a href="/gpscertifcate/Edit/' + row.CertificateNo + '"title="Edit" class="iframedetails" style="text-decoration:none"> <span class="glyphicon glyphicon-edit"></span></a>'
                        var dele = '<a href="/gpscertifcate/Delete/' + row.CertificateNo + '" title="Delete" class="iframedetails" style="text-decoration:none"> <span class="glyphicon glyphicon-trash"></span></a>'
                        var action = pdf;
                        if ('@_isAdmin' == "True" && row.VehicleNo.toUpperCase() != "DEMO") {
                            action +=  edit + " " + dele;
                        }
                        return action;
                    }
                },
            ]
        });
        var mon = ["JAN", "FEB", "MAR", "APR", "MAY", "JUN", "JUL", "AUG", "SEP", "OCT", "NOV", "DEC"];
        function formatdate(_jsondate) {

            var _year = _jsondate.substring(0, 5);
            var _month = _jsondate.substring(5) - 1;
            //var _date = new Date(parseInt(_jsondate.replace(/(^.*\()|([+-].*$)/g, '')));
            //var _date = new Date( eval(_jsondate.replace(/\/Date\((.*?)\)\//gi, "new Date($1)")));
            //return _date.getMonth() + 1 + '-' + _date.getDate() + '-' + _date.getFullYear();


            return mon[_month];
        }
    });
</script>

<div class="content-wrapper">


    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>GPSCertificate
       
        <small>Certificate Details</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a href="#">GPS</a></li>
            <li class="active">Index</li>
        </ol>
    </section>
    <!-- Content Header (Page header) -->
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Certificate Details</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">

                        <table id="example2" class="table table-bordered table-striped">
                            <thead>

                                <tr>

                                    <th>
                                        @Html.DisplayNameFor(model => model.CertificateNo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.VehicleNo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TerminalId)
                                    </th>
                                    <th>Created Date
                                    </th>
                                    <th>Expiry Date
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.EngineNo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ChassisNo)
                                    </th>

                                    <th></th>
                                </tr>
                            </thead>
                            @* @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CertificateNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.VehicleNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TerminalId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Cdate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ExpDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EngineNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ChassisNo)
                                    </td>


                                    <td>
                                        <a href="/gpscertifcate/pdf/@item.CertificateNo"  style="text-decoration:none">
                                            <span class="glyphicons glyphicons--save-file"></span>
                                        </a>


                                        @if (Certificate_AdminPanel.SessionWrapper.IsAdmin && item.VehicleNo.ToUpper() != "DEMO")
                                        {
                                            @Html.Raw("&nbsp;&nbsp;")
                                            <a href="/gpscertifcate/Edit/@item.CertificateNo" class="iframEdit" style="text-decoration:none">
                                                <span class="glyphicon glyphicon-edit"></span>
                                            </a>
                                        }
                                        @if (Certificate_AdminPanel.SessionWrapper.IsAdmin && item.VehicleNo.ToUpper() != "DEMO")
                                        {
                                            @Html.Raw("&nbsp;&nbsp;")
                                            <a href="/gpscertifcate/Delete/@item.CertificateNo" class="iframDelete" style="text-decoration:none">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </a>
                                        }




                                    </td>
                                </tr>
                            }*@

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


