﻿@model Certificate_AdminPanel.Models.GPSSerialNo

@{
    ViewBag.Title = "SerialNoAdd";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>GPS
       
            <small>Delivery Form</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a href="/Certificate/Index">GPS</a></li>
            <li class="active">Delivery</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">

            <!-- Horizontal Form -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Delivery</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->

                @Html.ValidationMessageFor(model => model.SerialNo)
                @Html.AntiForgeryToken()
                                @using (Html.BeginForm("serialnoadd", "gpscertifcate", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))

                {
                    @Html.ValidationSummary(true)
                    <div class="box-body">

                        <div class="form-group">
                            @Html.LabelFor(model => model.SerialNo, "SerialNo", new { @class = "col-sm-2 control-label " })

                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.SerialNo, new { style = "width:100%", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.SerialNo)
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Total" class="col-sm-2 control-label">Total</label>

                            <div class="col-sm-10">
                                <input class="text-box single-line form-control" data-val="true" data-val-number="The field EndNumber must be a number." data-val-required="The EndNumber field is required." id="Total" name="Total" type="number" value="" />
                                <span class="field-validation-valid" data-valmsg-for="Total" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Except" class="col-sm-2 control-label">Except</label>

                            <div class="col-sm-10">
                                <input class="text-box single-line form-control" data-val="true" data-val-number="The field EndNumber must be a number." data-val-required="The EndNumber field is required." id="Except" name="Total" type="number" value="" />
                                <span class="field-validation-valid" data-valmsg-for="Except" data-valmsg-replace="true"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.DealerId, "Dealer", new { @class = "col-sm-2 control-label " })

                            <div class="col-sm-10">
                                @Html.DropDownListFor(model => model.DealerId, (IEnumerable<SelectListItem>)ViewBag.Admin, "-Select-", new { style = "width:100%", @class = "form-control select2" })
                                @Html.ValidationMessageFor(model => model.DealerId)
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        @Html.ActionLink("Back to Index", "Index", null, new { @class = "btn btn-info pull-left" })
                        <button type="submit" class="btn btn-info pull-right">Submit</button>
                    </div>
                        
                }
                <h5>@TempData["Message"]</h5>
            </div>
        </div>
    </section>
</div>

