﻿@model Certificate_AdminPanel.Models.GPSSerialNo

@{
    ViewBag.Title = "SerialNoEdit";
    Layout = null;
  
}

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Serial No Edit</h4>
    </div>
    @using (Html.BeginForm("SerialNoEdit", "gpscertifcate", FormMethod.Post, new { enctype = "multipart/form-data", id = "myForm1", @class = "form-horizontal" }))
    {
        @Html.ValidationSummary(true)
        @Html.AntiForgeryToken()
        
        @Html.HiddenFor(model => model.Recno)
        @Html.HiddenFor(model => model.User)
        @Html.HiddenFor(model => model.Date)
        @Html.HiddenFor(model => model.E_Stat)
        @Html.HiddenFor(model => model.DealerId)
        <div class="box-body">
            <!-- left column -->
            <div class="col-sm-6">

                <div class="form-group">
                    @Html.LabelFor(model => model.SerialNo, new { @class = "col-sm-2 control-label " })

                    <div class="col-sm-10">

                        @Html.TextBoxFor(model => model.SerialNo, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SerialNo)
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <button type="button" class="btn btn-info pull-left" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-info pull-right">Save Changes</button>
        </div>
    }
</div>
