﻿@model Certificate_AdminPanel.Models.InspectionMaster

@{
    ViewBag.Title = "Create";
}
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
  <script type="text/javascript">
    document.getElementById('CDate').readOnly = 'readonly';
    document.getElementById('ExpDate').readOnly = 'readonly';
    GetRegistrationDate('#CDate');
    GetExpDate('#ExpDate');
</script>

@using (Html.BeginForm()) {
      <p>
        @Html.AntiForgeryToken()
    </p>
    
    @Html.ValidationSummary(true)

   <fieldset >
        <legend>Create  </legend>
        <table class="grid">
        <tr>
        <td>
        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        </td>
        <td>
        <div class="editor-field">
  <input class="cominput" type="text"  data-val="true" data-val-regex="enter valid characters" data-val-regex-pattern="[a-z A-Z 0-9 .&-]{1,40}" data-val-required="Name is required." id="Name" name="Name" />
            <span class="field-validation-valid" data-valmsg-for="Name" data-valmsg-replace="true"></span>
          @*  @Html.EditorFor(model => model.Name)*@
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        </td>
        <td>
        <div class="editor-label">
            @Html.LabelFor(model => model.DisplayName)
        </div>
        </td>
        <td>
        <div class="editor-field">
            @Html.EditorFor(model => model.DisplayName)
            @Html.ValidationMessageFor(model => model.DisplayName)
        </div>
        </td>
        </tr>
        <tr>
        <td>
        <div class="editor-label">
             <label id="lbl_loginname">Login Name</label>
        </div>
        </td>
        <td>
        <div class="editor-field">
            @* @Html.Editor("loginname")  *@
            <input type="text" id="LoginName" name="LoginName" data-val="true" data-val-required="login name required"
              data-val-remote="Name is not available." data-val-remote-additionalfields="*.LoginName,*.UserID" data-val-remote-type="POST" data-val-remote-url="/User/Loginvalid"  />
             @Html.ValidationMessage("LoginName")
      
            @*<input type="text" id="loginname" />*@  @* <input type="button" id="btnCheck" value="Check!" />    <div id="divStatus" />*@

        </div>
        </td>
        <td>
        <div class="editor-label">
                    <label id="lbl_password">Password</label>
        </div>
        </td>
        <td>
         <div class="editor-field">
            <input type="password" id="password" name="password" data-val="true" data-val-required="Password required" />
             @Html.ValidationMessage("password")

        </div>
        </td> 
            </tr>
            <tr>
             <td><div class="editor-label">
            <label for="ConfirmPassword">Confirm Password</label>
        </div>
        </td>
            <td>
        <div class="editor-field">
            <input class="text-box single-line password" data-val="true" data-val-equalto="Password must match" data-val-equalto-other="*.password" id="ConfirmPassword" name="ConfirmPassword" type="password" value="" />
            <span class="field-validation-valid" data-valmsg-for="ConfirmPassword" data-valmsg-replace="true"></span>
        </div></td>
        
        <td>
        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        </td>
        <td>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        </td>
                </tr>
        
        <tr>
        <td>
        <div class="editor-label">
            @Html.LabelFor(model => model.MobileNo)
        </div>
        </td>
        <td>
        <div class="editor-field">
            @Html.EditorFor(model => model.MobileNo)
            @Html.ValidationMessageFor(model => model.MobileNo)
        </div>
        </td>
                   
      <td>
        <div class="editor-label">
            @Html.LabelFor(model => model.TimeZoneID)
        </div>
        </td>
        <td>
        <div class="editor-field">
          @Html.DropDownListFor(model => model.TimeZoneID, (IEnumerable<SelectListItem>)ViewBag.bind_drop_zone, "-select-", new { style="width:160px;"})
          @Html.ValidationMessageFor(model => model.TimeZoneID)
        </div>
        </td>
        </tr>
             <tr>
             @if (Certificate_AdminPanel.SessionWrapper.AdminLevel == AdminLevel.Admin)
          {
              <td>
         <div class="editor-label">
            @Html.LabelFor(model => model.AdminID)
        </div>
        </td>
        <td>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.AdminID, (IEnumerable<SelectListItem>)ViewBag.AdminID, "-select-",new { style="width:160px;"})
           @Html.ValidationMessageFor(model => model.AdminID)
        </div>
            
        </td>
          }

             </tr>

         
            <tr>
        <td>
        <div class="editor-label">
            @Html.LabelFor(model => model.CDate)
        </div>
        </td>
        <td>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.CDate)
                    @Html.ValidationMessageFor(model => model.CDate)
        </div>
        </td>
           
        <td>
        <div class="editor-label"> 
            @Html.LabelFor(model => model.ExpDate)
        </div>
        </td>
        <td>
        <div class="editor-field">
           @Html.EditorFor(model => model.ExpDate)
           @Html.ValidationMessageFor(model => model.ExpDate)
        </div>
        </td>
       </tr>
</table>

            <input type="submit" id="xxx" value="Create" onclick="return upload();"   />
       
    </fieldset>
}

