﻿@model Certificate_AdminPanel.Models.InspectionMaster

@{
    ViewBag.Title = "Delete";
    
}


<h3>Are you sure you want to delete:<strong>@Model.Name</strong></h3>

@using (Html.BeginForm()) {
    
        <input type="submit" value="OK" />
    <input type="button" value="Cancel" onclick="history.back(-1)" class="button" />
    
}
