﻿@model Certificate_AdminPanel.ViewModels.InspectionView

@{
    ViewBag.Title = "Details";
}


<table id="one-column-emphasis-det">
    <colgroup>
        <col class="col-grp-left" style="width: 100px;">
        <col class="col-grp-right" style="width: 150px">
    </colgroup>
    <tr>
        <td>
            <div class="display-label">
                @Html.DisplayNameFor(model => model.Name)
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.Name)
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="display-label">
                @Html.DisplayNameFor(model => model.DisplayName)
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.DisplayName)
            </div>
        </td>
    </tr>
    <tr>
        <td>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.LoginName)
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.LoginName)
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="display-label">
                @Html.DisplayNameFor(model => model.Password)
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.Password)
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="display-label">
                @Html.DisplayNameFor(model => model.MobileNo)
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.MobileNo)
            </div>
        </td>
    </tr>
    <tr>
        <td>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.Email)
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.Email)
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="display-label">
                @Html.DisplayNameFor(model => model.time_zone)
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.time_zone)
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="display-label">
                @Html.DisplayNameFor(model => model.MDate)
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.MDate)
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="display-label">
                @Html.DisplayNameFor(model => model.ExpDate)
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.ExpDate)
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="display-label">
                Admin Name
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.AdminName)
            </div>
        </td>
    </tr>
    <tr>
        <td>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.CDate)
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.CDate)
            </div>
        </td>
    </tr>
</table>
