﻿@model Certificate_AdminPanel.Models.InspectionMaster

@{
    ViewBag.Title = "Edit";
}
<script type="text/javascript">
    $(document).ready(function () {
     
        GetExpDate('#ExpDate');
        document.getElementById('ExpDate').readOnly = 'readonly';
    });
</script>


@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken();
    <fieldset>
        <legend>Edit</legend>

        @Html.HiddenFor(model => model.InspID)
        @Html.HiddenFor(model=>model.CDate)
        @Html.HiddenFor(model=>model.E_Stat)
      <table class="grid">
          <tr>
              <td>
                <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
                  </td>
                      <td>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
</td>
              <td>
        <div class="editor-label">
            @Html.LabelFor(model => model.DisplayName)
        </div>
                  </td>
                      <td>
        <div class="editor-field">
            @Html.EditorFor(model => model.DisplayName)
            @Html.ValidationMessageFor(model => model.DisplayName)
        </div>
                          </td>
              </tr>
<tr>
    <td>
        <div class="editor-label">
            @Html.LabelFor(model => model.MobileNo)
        </div>
        </td>
    <td>
        <div class="editor-field">
            @Html.EditorFor(model => model.MobileNo)
            @Html.ValidationMessageFor(model => model.MobileNo)
        </div>
        </td>
    <td>
        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        </td>
    <td>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        </td>
    </tr>
    <tr>
    <td>
        @*<div class="editor-label">
            @Html.LabelFor(model => model.UserID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserID)
            @Html.ValidationMessageFor(model => model.UserID)
        </div>*@

        <div class="editor-label">
            @Html.LabelFor(model => model.TimeZoneID)
        </div>
        </td>
    <td>
        <div class="editor-field">
             @Html.DropDownListFor(model => model.TimeZoneID, (IEnumerable<SelectListItem>)ViewData["bind_drop_zone"], "-select-", new {style="width:160px;"})
            @Html.ValidationMessageFor(model => model.TimeZoneID)
        </div>
        </td>
    <td>
       @* <div class="editor-label">
            @Html.LabelFor(model => model.MDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MDate)
            @Html.ValidationMessageFor(model => model.MDate)
        </div>*@

        <div class="editor-label">
            @Html.LabelFor(model => model.ExpDate)
        </div>
        </td>
    <td>
        <div class="editor-field">
            @Html.EditorFor(model => model.ExpDate)
            @Html.ValidationMessageFor(model => model.ExpDate)
        </div>
        </td>
        </tr>
        @if(Certificate_AdminPanel.SessionWrapper.AdminLevel==AdminLevel.Admin)
        {
          <tr>
    <td>
        <div class="editor-label">
            @Html.LabelFor(model => model.AdminID)
        </div>
        </td>
    <td>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.AdminID, (IEnumerable<SelectListItem>)ViewBag.AdminID, "-select-",new {style="width:160px;"})
            @Html.ValidationMessageFor(model => model.AdminID)
        </div>
        </td>
            </tr>
        }
          <tr>
    <td>

        
            <input type="submit" value="Save" />
        </td>
          </tr>
      </table>
    </fieldset>
}

