﻿@model IEnumerable<Certificate_AdminPanel.ViewModels.InspectionView>

@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/JqueryInspection.js"></script>
<div style="margin-left:200px"><a id="Create" href="Create"><img src="~/Content/Images/Button-Add-icon.png" title="create" style="height:20px;width:20px;" /></a></div>   
<div id="dialog-create" style="display:none"></div>
<body>
<div id="container" style="min-height:600px;margin-left:200px"> 
    <div id="demo" style="width:800px">
<table id="example" class="display">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DisplayName)
        </th>
        <th>
            LoginName
        </th>
        <th>
            Password
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.TimeZoneID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MobileNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpDate)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.AdminName)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.CDate)
        </th>*@
        
        <th>Edit</th>
    </tr>
        </thead>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DisplayName)
        </td>
        <td>
            @Html.DisplayFor(modelItem=>item.LoginName)
        </td>
        <td>
            @Html.DisplayFor(modelItem=>item.Password)
        </td>
   @*      <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>     
     
        <td>
            @Html.DisplayFor(modelItem => item.time_zone)
        </td>
         <td>
            @Html.DisplayFor(modelItem => item.MobileNo)
        </td>
              <td>
            @Html.DisplayFor(modelItem => item.ExpDate)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.AdminName)
        </td>
      @*  <td>
            @Html.DisplayFor(modelItem => item.CDate)
        </td>*@
    
        <td>
             @(new HtmlString(@Ajax.ImageActionLink("../../Content/Images/grid/details.png" ,"details","details","details", new { id=item.InspID},"details",new AjaxOptions
            { HttpMethod = "GET",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "ImageEdit",
            LoadingElementId="dialog-edit",
            OnSuccess="Popup"
            })))
             @(new HtmlString(@Ajax.ImageActionLink("../../Content/images/grid/Edit.png", "ImageEdit", "edit", "edit", new { id = item.InspID }, "editimage", new AjaxOptions
            {
            HttpMethod = "GET",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "targetdiv"
             }))) 
          
           
                 @(new HtmlString(@Ajax.ImageActionLink("../../Content/images/grid/Del.png", "Delete", "Delete", "Delete", new { id = item.InspID }, "deleteimage", new AjaxOptions
             {
                 HttpMethod = "GET",
                 InsertionMode = InsertionMode.Replace,
                 UpdateTargetId = "targetdiv"
             }))) 
             <div id="dialog-edit" style="display:none"></div>
             <div id="dialog-delete" style="display:none"></div>
            <div id="dialog-details";style="display:none"></div>
        </td>
    </tr>
}

</table>
    </div>
    </div>
</body>