﻿@model Certificate_AdminPanel.Models.spare

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    
        <table class="grid">
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.ComponentId,"Component Id")
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.ComponentId)
                        @Html.ValidationMessageFor(model => model.ComponentId)
                    </div>
                </td>
                <td>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Typeofcomponent,"Type Of Component")
                    </div>

                </td>
                <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Typeofcomponent)
                        @Html.ValidationMessageFor(model => model.Typeofcomponent)
                    </div>
                </td>

            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Quantity)
                    </div>

                </td>
                <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Quantity)
                        @Html.ValidationMessageFor(model => model.Quantity)
                    </div>
                </td>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.dealerid, "Dealer")
                    </div>


                </td>
                <td>
                    <div class="editor-field">
                        @Html.DropDownListFor(model => model.dealerid, (IEnumerable<SelectListItem>)ViewBag.Admin, "-select-")
                        @Html.ValidationMessageFor(model => model.dealerid)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.summary,"Summary")
                    </div>

                </td>
                <td>
                    <div class="editor-field">
                        @Html.TextAreaFor(model => model.summary, new { style="width:150px"})
                        @Html.ValidationMessageFor(model => model.summary)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Create" /></td>
            </tr>
        </table>
}