﻿@model Certificate_AdminPanel.Models.spare


<h3>Are you sure you want to delete this?</h3>

@using (Html.BeginForm()) {
    
        <input type="submit" value="OK" />
    <input type="button" value="Cancel" onclick="history.go(0)" class="button" />
    
}
