﻿@model Certificate_AdminPanel.Models.spare

@{
    ViewBag.Title = "Edit";
}
<script type="text/javascript">
    $(document).ready(function () {
        $('#ReceivedDate').datepicker({ dateFormat: "dd/M/yy", changeYear: true, changeMonth: true, showOn: 'button', buttonImageOnly: true, buttonImage: '../../Content/Images/DatetimePicker/icon_cal.png' });
    });
</script>
<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
   
   
        <table class="grid">

            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model=>model.ComponentId)
            @Html.HiddenFor(model=>model.Typeofcomponent)
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.ReceivedDate)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.TextBox("ReceivedDate")
                        @Html.ValidationMessageFor(model => model.ReceivedDate)
                    </div>
                </td>

                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Used)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Used)
                        @Html.ValidationMessageFor(model => model.Used)
                    </div>
                </td>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.summary)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.TextAreaFor(model => model.summary, new { style="width:150px"})
                            @Html.ValidationMessageFor(model => model.summary)
                        </div>
                    </td>
                </tr>

            <tr>
                <td>
                    <input type="submit" value="Save" /></td>
            </tr>

        </table>
  
  
}

