﻿@model IEnumerable<Certificate_AdminPanel.ViewModels.spareview>

@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/spare.js"></script>   
@*<link href="~/Scripts/TableTools.css" rel="stylesheet" />
<script src="~/Scripts/TableTools.min.js"></script>*@
<script type="text/javascript">
    $(document).ready(function () {
        $('#startdate').datepicker({ dateFormat: "dd/M/yy", changeYear: true, changeMonth: true, showOn: 'button', buttonImageOnly: true, buttonImage: '../../Content/Images/DatetimePicker/icon_cal.png' });
        $('#enddate').datepicker({ dateFormat: "dd/M/yy", changeYear: true, changeMonth: true, showOn: 'button', buttonImageOnly: true, buttonImage: '../../Content/Images/DatetimePicker/icon_cal.png' });
    });
    </script>
@using (Html.BeginForm())
{
    <p>
        From @Html.TextBox("startdate")
        To @Html.TextBox("enddate") &nbsp</p>    
    if (Certificate_AdminPanel.SessionWrapper.AdminLevel == AdminLevel.Admin)
    {
        
    <table>
        <tr>
            <td>
                <div class="editor-label">
                    Dealer
                </div>
            </td>
            <td>
                <div class="editor-field">
                    @Html.DropDownList("DealerDD", (IEnumerable<SelectListItem>)ViewBag.Admin, "-Select-", new { style="width:150px"})
                    @Html.ValidationMessage("DealerDD")
                </div>
            </td>
        </tr>
    </table> }    <input type="submit" value="Filter" />

    if (Certificate_AdminPanel.SessionWrapper.AdminLevel == AdminLevel.Admin)
    {
    <p>
        @Html.ActionLink("Add New", "Create")
    </p>
    }
    <body>
   <div id="container">
      <div id="demo" >

<table id="example" class="display">
    <thead>
    <tr>
            @if(Certificate_AdminPanel.SessionWrapper.AdminLevel==AdminLevel.Admin)
            {
            <th>
               Component Id
            </th>
            }
            <th>
              Type of Component
            </th>
            <th>
             Date
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceivedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Used)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Balance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.summary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalBalance)
            </th>
            @if (Certificate_AdminPanel.SessionWrapper.AdminLevel == AdminLevel.Admin)
            {
                <th>
                  Dealer
                </th>
            }

            <th></th>
        </tr>
</thead>    
        @foreach (var item in Model)
        {
            <tr>
                @if(Certificate_AdminPanel.SessionWrapper.AdminLevel==AdminLevel.Admin)
                {
                <td>
                    @Html.DisplayFor(moelItem=>item.ComponentId)
                </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.Typeofcomponent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReceivedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Used)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Balance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.summary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalBalance)
                </td>
                @if (Certificate_AdminPanel.SessionWrapper.AdminLevel == AdminLevel.Admin)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.DealerName)
                    </td>
                }

                <td>
                 
                     @(new HtmlString(@Ajax.ImageActionLink("../../Content/images/grid/Edit.png", "ImageEdit", "edit", "edit", new { id = item.Id }, "editimage", new AjaxOptions
                         {
                         HttpMethod = "GET",
                         InsertionMode = InsertionMode.Replace,
                         UpdateTargetId = "targetdiv"
                         }))) 
                      @if(Certificate_AdminPanel.SessionWrapper.AdminLevel==AdminLevel.Admin)
                       {
           
                         @(new HtmlString(@Ajax.ImageActionLink("../../Content/images/grid/Del.png", "Delete", "Delete", "Delete", new { id = item.Id }, "deleteimage", new AjaxOptions
                         {
                         HttpMethod = "GET",
                         InsertionMode = InsertionMode.Replace,
                         UpdateTargetId = "targetdiv"
                        }))) 
                         }
             <div id="dialog-edit" style="display:none"></div>
             <div id="dialog-delete" style="display:none"></div>
                </td>
            </tr>
        }

    </table>
          </div>
       </div>
</body>
}
