﻿@model Certificate_AdminPanel.Models.CompanyMaster

@{
    ViewBag.Title = "Create";
    // Layout = "~/Views/Shared/_LayoutFancybox.cshtml";
    Layout = "~/Views/Shared/_AdminTemplate.cshtml";
}
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<script src="~/AdminTemplates/plugins/select2/select2.full.min.js"></script>
<link href="~/AdminTemplates/plugins/select2/select2.min.css" rel="stylesheet" />
<script src="~/AdminTemplates/plugins/iCheck/icheck.min.js"></script>
<script type="text/javascript">


    //setting datepicker with min and max date
    /*
        function getDateYymmdd(value) {
            if (value == null)
                return null;
            return $.datepicker.parseDate("yy/mm/dd", value);
        }
        $('.dp').each(function () {
            var minDate = getDateYymmdd($(this).data("val-rangedate-min"));
            var maxDate = getDateYymmdd($(this).data("val-rangedate-max"));
            $(this).datepicker({
                dateFormat: "dd/M/yyyy",
                minDate: minDate,
                maxDate: maxDate
    
            });
        });
        document.getElementById('CDate').readOnly = 'readonly';
        document.getElementById('ExpDate').readOnly = 'readonly';
        GetRegistrationDate('#CDate');
        GetExpDate('#ExpDate');*/


    $(document).ready(function () {
        debugger;
        $(".select2").select2();
        $("#CDate").datepicker({
            autoclose: true,
            format: 'dd/M/yyyy'
        });
        $("#ExpDate").datepicker({
            autoclose: true,
            format: 'dd/M/yyyy'
        });

        var availableTags = new Array();
        $.getJSON("/Company/GetCompanyName", null, function (data) {
            //availableTags = 
            $.each(data, function (i, item) {
                availableTags[i] = item;
            });
            $(".cominput").autocomplete({
                source: availableTags
            });
        });


        $('#Name').change(function () {
            if ($(this).val() != '') {
                $.getJSON("/Company/GetCompanyDetails/?Name=" + $(this).val(), null, function (data) {
                    $.each(data, function (i, item) {
                        $("#DisplayName").val(item.DisplayName);
                        $("#LoginName").val('');
                        $("#Password").val('');
                        $("#ConfirmPassword").val('');
                        $("#Email").val(item.Email);
                        $("#Address").val(item.Address);
                        $("#PhoneNo").val(item.PhoneNo);
                        $("#MobileNo").val(item.MobileNo);

                        $("#AdminID").val(item.AdminID);
                        $("#TimeZoneID").val(item.TimeZoneID);
                        $("#Logo").val('');
                        $("#CDate").val('');
                        $("#ExpDate").val('');

                    });
                });
            } else {
                $("#DisplayName").val('');
                $("#LoginName").val('');
                $("#Password").val('');
                $("#ConfirmPassword").val('');
                $("#Email").val(item.Email);
                $("#Address").val('');
                $("#PhoneNo").val('');
                $("#MobileNo").val('');
                $("#AdminID").val('');
                $("#TimeZoneID").val('');
                $("#Logo").val('');
                $("#CDate").val('');
                $("#ExpDate").val('');

            }
        });


        var mon = ["JAN", "FEB", "MAR", "APR", "MAY", "JUN", "JUL", "AUG", "SEP", "OCT", "NOV", "DEC"]


        function formatdate(_jsondate) {

            var _date = new Date(parseInt(_jsondate.substr(6)));
            var month = _date.getMonth();
            var day = _date.getDate();
            var year = _date.getFullYear();
            return day + '-' + mon[month] + '-' + year;
        }


    });

</script>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Dealer
       
            <small>Dealer Creation form</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a href="/Company/Index">Dealer</a></li>
            <li class="active">Dealer Creation</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">

            <!-- Horizontal Form -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Dealer Creation</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                @using (Html.BeginForm("Create", "Company", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="box-body">
                        <!-- left column -->
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Name, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", tabindex = 1 })
                                    @Html.ValidationMessageFor(model => model.Name)
                                </div>
                            </div>
                            <div class="form-group">

                                <label id="lbl_loginname" class="col-sm-2 control-label">Login Name</label>
                                <div class="col-sm-10">
                                    <input type="text" id="LoginName" name="LoginName" class="form-control" tabindex="3" data-val="true" data-val-required="login name required"
                                        data-val-remote="Name is not available." data-val-remote-additionalfields="*.LoginName,*.UserID" data-val-remote-type="POST" data-val-remote-url="/User/Loginvalid" />
                                    @Html.ValidationMessage("LoginName")
                                </div>
                            </div>
                            <div class="form-group">

                                <label for="ConfirmPassword" class="col-sm-2 control-label ">Confirm Password</label>
                                <div class="col-sm-10">

                                    <input class="text-box single-line password form-control" data-val="true" tabindex="5" data-val-equalto="Password must match" data-val-equalto-other="*.Password" id="ConfirmPassword" name="ConfirmPassword" type="password" value="" />
                                    <span class="field-validation-valid" data-valmsg-for="ConfirmPassword" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Address, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextAreaFor(model => model.Address, new { @class = "form-control", tabindex = 7 })
                                    @Html.ValidationMessageFor(model => model.Address)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.MobileNo, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.MobileNo, new { @class = "form-control", tabindex = 9 })
                                    @Html.ValidationMessageFor(model => model.MobileNo)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.CDate, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.CDate, new { @class = "form-control", tabindex = 11 })
                                    @Html.ValidationMessageFor(model => model.CDate)
                                </div>
                            </div>


                            <div class="form-group">
                                @Html.LabelFor(model => model.TimeZoneID, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.DropDownListFor(model => model.TimeZoneID, (IEnumerable<SelectListItem>)ViewBag.bind_drop_zone, "-select-", new { @class = "form-control select2", @tabindex = "13" })

                                    @Html.ValidationMessageFor(model => model.TimeZoneID)
                                </div>
                            </div>
                        </div>
                        <!-- right column -->
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.DisplayName, new { @class = "col-sm-2 control-label", })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.DisplayName, new { @class = "form-control", tabindex = 2 })
                                    @Html.ValidationMessageFor(model => model.DisplayName)
                                </div>
                            </div>
                            <div class="form-group">

                                <label id="lbl_password" class="col-sm-2 control-label ">Password</label>
                                <div class="col-sm-10">

                                    <input type="password" id="password" name="password" tabindex="4" data-val="true" class="form-control" data-val-required="Password required" />
                                    @Html.ValidationMessage("password")
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Email, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", tabindex = 6 })
                                    @Html.ValidationMessageFor(model => model.Email)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.PhoneNo, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.PhoneNo, new { @class = "form-control", tabindex = 8 })
                                    @Html.ValidationMessageFor(model => model.PhoneNo)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Logo, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">
                                    <input type="text" readonly="" class="form-control" placeholder="Browse..." id="file_name">

                                    <input data-val="true" data-val-required="The Logo field  required" type="file" tabindex="10" name="Logo" id="Logo" style="width: 100%;" class="form-control" onchange="document.getElementById('file_name').value=this.value" />
                                    @Html.ValidationMessage("file")
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.ExpDate, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.ExpDate, new { @class = "form-control", tabindex = 12 })
                                    @Html.ValidationMessageFor(model => model.ExpDate)
                                </div>
                            </div>
                            @if (Certificate_AdminPanel.SessionWrapper.AdminLevel == AdminLevel.Admin)
                            {
                                <div class="form-group">
                                    @Html.LabelFor(model => model.AdminID, new { @class = "col-sm-2 control-label " })

                                    <div class="col-sm-10">

                                        @Html.DropDownListFor(model => model.AdminID, (IEnumerable<SelectListItem>)ViewBag.AdminIDs, "-select-", new { @class = "form-control select2", @tabindex = "14" })

                                        @Html.ValidationMessageFor(model => model.AdminID)
                                    </div>
                                </div>
                            }
                        </div>

                    </div>
                    <div class="box-footer">
                        @Html.ActionLink("Back to Index", "Index", null, new { @class = "btn btn-info pull-left" })

                        <button type="submit" class="btn btn-info pull-right" tabindex="15">Submit</button>
                    </div>
                    <!-- /.box-footer -->
                }

            </div>
        </div>
    </section>

</div>

