﻿@model Certificate_AdminPanel.ViewModels.companyview

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminTemplate.cshtml";
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Manager
       
        <small>Details</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a href="/Company/Index">Manager</a></li>
            <li class="active">Details</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Details</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example2" class="table table-bordered table-striped">

                            <colgroup>
                                <col class="col-grp-left">
                                <col class="col-grp-right">
                            </colgroup>
                            <tr>
                                <td>
                                    <div class="display-label">
                                        Name
                                    </div>
                                </td>
                                <td>
                                    <div class="display-field">
                                        @Html.DisplayFor(model => model.Name)
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="display-label">
                                        Display Name
                                    </div>
                                </td>
                                <td>
                                    <div class="display-field">
                                        @Html.DisplayFor(model => model.DisplayName)
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="display-label">
                                        @Html.DisplayNameFor(model => model.LoginName)
                                    </div>
                                </td>
                                <td>
                                    <div class="display-field">
                                        @Html.DisplayFor(model => model.LoginName)
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="display-label">
                                        Password
                                    </div>
                                </td>
                                <td>
                                    <div class="display-field">
                                        @Html.DisplayFor(model => model.pwd)
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>

                                    <div class="display-label">
                                        @Html.DisplayNameFor(model => model.Address)
                                    </div>
                                </td>
                                <td>
                                    <div class="display-field">
                                        @Html.DisplayFor(model => model.Address)
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="display-label">
                                        @Html.DisplayNameFor(model => model.PhoneNo)
                                    </div>
                                </td>
                                <td>
                                    <div class="display-field">
                                        @Html.DisplayFor(model => model.PhoneNo)
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="display-label">
                                        @Html.DisplayNameFor(model => model.MobileNo)
                                    </div>
                                </td>
                                <td>
                                    <div class="display-field">
                                        @Html.DisplayFor(model => model.MobileNo)
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>

                                    <div class="display-label">
                                        @Html.DisplayNameFor(model => model.Email)
                                    </div>
                                </td>
                                <td>
                                    <div class="display-field">
                                        @Html.DisplayFor(model => model.Email)
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>

                                    <div class="display-label">
                                        @Html.DisplayNameFor(model => model.time_zone)
                                    </div>
                                </td>
                                <td>
                                    <div class="display-field">
                                        @Html.DisplayFor(model => model.time_zone)
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>

                                    <div class="display-label">
                                        @Html.DisplayNameFor(model => model.CDate)
                                    </div>
                                </td>
                                <td>
                                    <div class="display-field">
                                        @Html.DisplayFor(model => model.CDate)
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>

                                    <div class="display-label">
                                        @Html.DisplayNameFor(model => model.MDate)
                                    </div>
                                </td>
                                <td>
                                    <div class="display-field">
                                        @Html.DisplayFor(model => model.MDate)
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>

                                    <div class="display-label">
                                        Admin
                                    </div>
                                </td>
                                <td>
                                    <div class="display-field">
                                        @Html.DisplayFor(model => model.AdminName)
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="box-footer">
                                             @Html.ActionLink("Back to Index", "Index", null, new { @class = "btn btn-info pull-left" })

                     
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
