﻿@model Certificate_AdminPanel.Models.CompanyMaster

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminTemplate.cshtml";
}
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/AdminTemplates/plugins/select2/select2.full.min.js"></script>
<link href="~/AdminTemplates/plugins/select2/select2.min.css" rel="stylesheet" />
<script src="~/AdminTemplates/plugins/iCheck/icheck.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        var CompID = $('#CompID').val();
        $.getJSON("../../../../Company/ImageUpload", { ID: CompID }, function (ImageSrc) {
            $("#imgphoto").attr("src", ImageSrc);

        });
        //Date assign to textbox..       
        //GetExpDate('#ExpDate');
        //document.getElementById('ExpDate').readOnly = 'readonly';

        $(".select2").select2();
        $("#ExpDate").datepicker({
            autoclose: true,
            format: 'dd/M/yyyy'
        });
    });
</script>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Dealer
       
            <small>Dealer Edit form</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a href="/Company/Index">Manager</a></li>
            <li class="active">Edit</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">

            <!-- Horizontal Form -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Edit</h3>
                </div>

                @using (Html.BeginForm("Edit", "Company", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
                {
                    @Html.HiddenFor(model => model.CompID)
                    @Html.HiddenFor(model => model.E_Stat)
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="box-body">

                        <!-- left column -->
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Name, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Name)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.DisplayName, new { @class = "col-sm-2 control-label" })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.DisplayName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.DisplayName)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Address, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextAreaFor(model => model.Address, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Address)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.MobileNo, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.MobileNo, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.MobileNo)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.TimeZoneID, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.DropDownListFor(model => model.TimeZoneID, (IEnumerable<SelectListItem>)ViewBag.bind_drop_zone, "-select-", new { @class = "form-control select2" })

                                    @Html.ValidationMessageFor(model => model.TimeZoneID)
                                </div>
                            </div>

                        </div>
                        <!-- right column -->
                        <div class="col-sm-6">


                            <div class="form-group">
                                @Html.LabelFor(model => model.Email, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Email)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.PhoneNo, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.PhoneNo, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.PhoneNo)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Logo, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">
                                    <input type="text" readonly="" class="form-control" placeholder="Browse..." id="file_name">

                                    <input data-val="true" data-val-required="field required" type="file" name="file" id="Logo" style="width: 150px;" class="form-control" onchange="document.getElementById('file_name').value=this.value" />

                                    @Html.ValidationMessage("file")
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.ExpDate, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.ExpDate,"{0:dd/MMM/yyyy}", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.ExpDate)
                                </div>
                            </div>
                            @if (Certificate_AdminPanel.SessionWrapper.AdminLevel == AdminLevel.Admin)
                            {
                                <div class="form-group">
                                    @Html.LabelFor(model => model.AdminID, new { @class = "col-sm-2 control-label " })

                                    <div class="col-sm-10">

                                        @Html.DropDownListFor(model => model.AdminID, (IEnumerable<SelectListItem>)ViewBag.AdminIDs, "-select-", new { @class = "form-control select2" })

                                        @Html.ValidationMessageFor(model => model.AdminID)
                                    </div>
                                </div>
                            }
                        </div>

                    </div>
                    <div class="box-footer">
                                             @Html.ActionLink("Back to Index", "Index", null, new { @class = "btn btn-info pull-left" })

                        <button type="submit" class="btn btn-info pull-right">Save</button>
                    </div>
                }

            </div>
        </div>
    </section>

</div>
