﻿@model IEnumerable<Certificate_AdminPanel.ViewModels.companyview>
@{
    ViewBag.Title = "Index";
    
}
@*<script src="~/AdminTemplates/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
<link href="~/AdminTemplates/plugins/datatables/extensions/Responsive/css/dataTables.responsive.css" rel="stylesheet" />*@
@using System.Web.Optimization
@Styles.Render("~/bundles/DatatableResposive")
@Scripts.Render("~/bundles/DatetableResposiveJs")
<script src="~/Scripts/jquerycompany.js"></script>
<script>
    $(document).ready(function () {
        var table = $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false
        });
        new $.fn.dataTable.Responsive(table);

        // JS script
        $('.cls-modal').on('click', function (e) {
            e.preventDefault();
            debugger;
            $('#myModal').modal('show').find('.contents').load($(this).attr('href'));
        });


    });
</script>
<div class="content-wrapper">


    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Dealer
       
        <small>Login Credentials</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a href="#">Dealer</a></li>
            <li class="active">Index</li>
        </ol>
    </section>
    <!-- Content Header (Page header) -->


    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Login Details</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <a href="/Company/Create" class="btn bg-olive pull-left">Create</a>
                        <table id="example2" class="table table-bordered table-striped">

                            <thead>

                                <tr>
                                    <th>Name
                                    </th>

                                    <th>Login Name
                                    </th>
                                    <th>Password
                                    </th>
                                    <th>Administrator
                                    </th>
                                    @if (Certificate_AdminPanel.SessionWrapper.IsAdmin)
                                    {//super and dealer admin
                                        <th>Status</th>
                                    }
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.LoginName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.pwd)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.AdminName)
                                        </td>
                                        @if (Certificate_AdminPanel.SessionWrapper.IsAdmin)
                                        {//super and dealer admin
                                            <td>
                                                @if (item.isLogin)
                                                {
                                                    <label class="switch">
                                                        <input type="checkbox" checked>
                                                        <span class="slider round"></span>
                                                    </label>
                                                }
                                                else
                                                {
                                                    <label class="switch">
                                                        <input type="checkbox">
                                                        <span class="slider round"></span>
                                                    </label>
                                                }
                                            </td>
                                        }
                                        <td>
                                            <a href="/Company/details/@item.CompID" class="iframedetails" title="Details" style="text-decoration:none">
                                                <span class="glyphicon glyphicon-list-alt"></span>
                                            </a>&nbsp;&nbsp;
                        <a href="/Company/edit/@item.CompID" class="iframEdit" title="Edit" style="text-decoration:none">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>&nbsp;&nbsp;

                        <a href="/Company/delete/@item.CompID"  title="Delete" data-toggle="modal"  data-target="myModal" class="cls-modal" style="text-decoration:none">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- /.example-modal -->


<div class="modal modal-info " id="myModal" role="dialog">
    <div class="modal-dialog contents">
    </div>
    <!-- /.modal-content -->
</div>
