﻿@model Certificate_AdminPanel.Models.Certificate

@{
    ViewBag.Title = "Calibrate";

}
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<script src="~/AdminTemplates/plugins/select2/select2.full.min.js"></script>
<link href="~/AdminTemplates/plugins/select2/select2.min.css" rel="stylesheet" />
<script src="~/AdminTemplates/plugins/iCheck/icheck.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
<script type="text/javascript">
    var speed2;
    $(document).ready(function () {
        $(".select2").select2();
        //$("#InstallDate").datepicker({
        //    autoclose: true
        //});
        $("#CalibrationDate").datepicker({
            autoclose: true,
            format: 'd/M/yyyy',
            endDate: '+1',
            todayHighlight: true,
        });
        $(".tmpspeed2").hide();
        //GetRegistrationDate('#InstallDate');
        // GetRegistrationDate('#CalibrationDate');
        var availableTags = new Array();
        $.getJSON("/Certificate/GetExpiredRegistrationNumber", null, function (data) {

            //availableTags = 
            $.each(data, function (i, item) {
                availableTags[i] = item;
            });
            $(".vehinput").autocomplete({
                source: availableTags
            });
        });
        $("#TypeSpeedLimiter").on("change", function () {

            switch (this.value) {
                case "Fuel Control":
                    $(".tmpspeed2").show();
                    $("#speed2").val(speed2);
                    break;
                case "Electronic Pedal":
                    $(".tmpspeed2").show();
                    $("#speed2").val(speed2);
                    break;
                default:
                    $(".tmpspeed2").hide();
                    $("#speed2").val("");
                    break;
            }

        });
    });
    function call1() {
        debugger;
        if ($(document.getElementById('VehRegistrationNo').value).val() != '') {
            var veh = document.getElementById('VehRegistrationNo').value;
            // alert(x);
            $.getJSON("/Certificate/GetCertificateDetails/?RegNo=" + veh, null, function (data) {
                debugger;
                $.each(data, function (i, item) {
                    debugger;
                    $("#OwnerName").val(item.OwnerName);
                    $("#ChassisNo").val(item.ChassisNo);
                    $("#EngineNo").val(item.EngineNo);
                   // $("#ManufactureYear").val(item.ManufactureYear);
                    $("#MakeOfVehicle").val(item.MakeOfVehicle);
                    $("#ModelOfVehicle").val(item.ModelOfVehicle);
                   // $("#TypeSpeedLimiter").val(item.TypeSpeedLimiter);
                    $("#SetSpeed").val(item.SetSpeed);
                    if (item.speed2 != null && item.speed2 != "") {
                        $(".tmpspeed2").show();
                        $("#speed2").val(item.speed2);
                        speed2 = item.speed2;
                    }
                    else {
                        $(".tmpspeed2").hide();
                        $("#speed2").val("");
                        speed2 = "";
                    }
                    $("#SerialNo").val(item.SerialNo);
                    $("#TamperSealNo").val(item.TamperSealNo);
                    $("#InstallDate").val(formatdate(item.InstallDate));
                    $("#TechnicianName").val(item.TechnicianName);
                   // $("#ApplicableStandard").val(item.ApplicableStandard);
                   // $("#Country").val(item.Country);
                  //  $("#DealerId").val(item.DealerId);
                    $('#DealerId option[value="' + item.DealerId + '"]').prop('selected', 'selected').change();
                    $('#ApplicableStandard option[value="' + item.ApplicableStandard + '"]').prop('selected', 'selected').change();
                    $('#TypeSpeedLimiter option[value="' + item.TypeSpeedLimiter + '"]').prop('selected', 'selected').change();
                    $('#Country option[value="' + item.Country + '"]').prop('selected', 'selected').change();
                    $('#ManufactureYear option[value="' + item.ManufactureYear + '"]').prop('selected', 'selected').change();
                });
            });
        } else {
            $("#OwnerName").val('');
            $("#ChassisNo").val('');
            $("#EngineNo").val('');
            $("#ManufactureYear").val('');
            $("#MakeOfVehicle").val('');
            $("#ModelOfVehicle").val('');
            $("#TypeSpeedLimiter").val('');
            $("#SetSpeed").val('');
            $("#speed2").val("");
            $("#SerialNo").val('');
            $("#TamperSealNo").val('');
            $("#InstallDate").val('');
            $("#TechnicianName").val('');
            $("#ApplicableStandard").val('');
            $("#Country").val('');
            speed2 = "";
        }
    };//);\


    var mon = ["JAN", "FEB", "MAR", "APR", "MAY", "JUN", "JUL", "AUG", "SEP", "OCT", "NOV", "DEC"]


    function formatdate(_jsondate) {

        var _date = new Date(parseInt(_jsondate.substr(6)));
        var month = _date.getMonth();
        var day = _date.getDate();
        var year = _date.getFullYear();
        return day + '-' + mon[month] + '-' + year;
    }


</script>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Speed Limiter
       
            <small>Renewal form</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a href="/Certificate/Index">SpeedLimiter</a></li>
            <li class="active">Calibrate</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">

            <!-- Horizontal Form -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Calibration</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                @using (Html.BeginForm("calibrate", "certificate", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="box-body">


                        <!-- left column -->
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.VehRegistrationNo, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">
                                    <input class="vehinput form-control cuswidth" type="text" value="" data-val-regex="enter valid characters" data-val-regex-pattern="[a-z A-Z 0-9 .-]{1,40}" data-val-required="The Vehicle Reg No field is required." id="VehRegistrationNo" name="VehRegistrationNo" onblur="call1()" />


                                    @Html.ValidationMessageFor(model => model.VehRegistrationNo)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ChassisNo, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.ChassisNo, new { @class = "form-control", @readonly = "true" })
                                    @Html.ValidationMessageFor(model => model.ChassisNo)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ManufactureYear, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    <select id="ManufactureYear" name="ManufactureYear" class="form-control select2">
                                        <option>-select-</option>
                                        @for (var i = DateTime.Now.Year + 1; i > 1960; i--)
                                        {
                                            <option value="@i">@i</option>
                                        }
                                    </select>
                                    @Html.ValidationMessageFor(model => model.ManufactureYear)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ModelOfVehicle, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.ModelOfVehicle, new { @class = "form-control ", @readonly = "true" })
                                    @Html.ValidationMessageFor(model => model.ModelOfVehicle)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.SetSpeed, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.SetSpeed, new { @class = "form-control " })

                                    @Html.ValidationMessageFor(model => model.SetSpeed)
                                </div>


                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.TamperSealNo, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.TamperSealNo, new { @class = "form-control " })
                                    @Html.ValidationMessageFor(model => model.TamperSealNo)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.CalibrationDate, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.CalibrationDate, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.CalibrationDate)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ApplicableStandard, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.DropDownListFor(model => model.ApplicableStandard, (SelectList)ViewBag.AppStd, "-select-", new { @class = "form-control select2" })

                                    @Html.ValidationMessageFor(model => model.ApplicableStandard)
                                </div>
                            </div>
                            @if (Certificate_AdminPanel.SessionWrapper.AdminLevel == AdminLevel.Admin || Certificate_AdminPanel.SessionWrapper.AdminLevel == AdminLevel.SubAdmin)
                            {
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Dealer</label>

                                    <div class="col-sm-10">
                                        @Html.DropDownListFor(model => model.DealerId, (IEnumerable<SelectListItem>)ViewBag.DealerId, "-Select-", new { @class = "form-control select2" })

                                        @Html.ValidationMessageFor(model => model.DealerId)
                                    </div>
                                </div>
                            }

                        </div>

                        <!-- right column -->
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.OwnerName, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.OwnerName, new { @class = "form-control ", @readonly = "true" })
                                    @Html.ValidationMessageFor(model => model.OwnerName)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.EngineNo, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.EngineNo, new { @class = "form-control ", @readonly = "true" })
                                    @Html.ValidationMessageFor(model => model.EngineNo)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.MakeOfVehicle, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.MakeOfVehicle, new { @class = "form-control ", @readonly = "true" })
                                    @Html.ValidationMessageFor(model => model.MakeOfVehicle)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.TypeSpeedLimiter, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.DropDownListFor(model => model.TypeSpeedLimiter, (SelectList)ViewBag.SpeedLimiterType, "-select-", new { @class = "form-control select2", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.TypeSpeedLimiter)
                                </div>
                            </div>
                             <div class="form-group tmpspeed2">
                                @Html.LabelFor(model => model.speed2, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.speed2, new { @class = "form-control", tabindex = 11 })

                                    @Html.ValidationMessageFor(model => model.speed2)

                                </div>

                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.SerialNo, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.SerialNo, new { @class = "form-control ", @readonly = "true" })
                                    @Html.ValidationMessageFor(model => model.SerialNo)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.InstallDate, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.InstallDate, new { @class = "form-control ", @readonly = "true" })
                                    @Html.ValidationMessageFor(model => model.InstallDate)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.TechnicianName, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.TechnicianName, new { @class = "form-control " })
                                    @Html.ValidationMessageFor(model => model.TechnicianName)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Country, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.DropDownListFor(model => model.Country, (IEnumerable<SelectListItem>)ViewBag.COuntryName, "-select-", new { @class = "form-control select2" })
                                    @Html.ValidationMessageFor(model => model.Country)
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="box-footer">
                        @Html.ActionLink("Back to Index", "Index", null, new { @class = "btn btn-info pull-left" })
                        <button type="submit" class="btn btn-info pull-right">Submit</button>
                    </div>
                    <!-- /.box-footer -->
                }
            </div>
        </div>
    </section>
</div>

