﻿@model Certificate_AdminPanel.ViewModels.CertificateView
@{
    ViewBag.Title = "Certificate of Repair";
    Layout = null;
}

<br/>

<!DOCTYPE html>
<html> 
    <head>
    <meta charset="utf-8" />
   @* <title>@ViewBag.Title - Certification</title>*@
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    </head>
        <body>
           <br/>
   <div border="1" >
   
  <table border="0" width:100%><tr><td rowspan="5"><img height="65" float: left src="@Model.ImageUrl"/></td><td align="right">@DateTime.Now.ToShortDateString()</td></tr>
                  
                 <tr style="text-align: right;"><td></td></tr>
                <tr style="text-align: right;"><td></td></tr>
                <tr style="text-align: right;"><td></td></tr>
                <tr style="text-align: right;"><td></td></tr>
            </table>

            @*<table border="0"><tr><td style="padding-top:2px; padding-bottom:1px;padding-left:5px; font-size:12px; font-weight: bold;" bgcolor="#66B65A">
              <span >Certificate Of Repair</span></td></tr>
            </table>*@
       <br />
       <br />
            <table border="0"><tr><td  style="text-align:center; padding-top:2px; padding-bottom:1px;padding-left:5px; font-size:12px; font-weight:bold;font-size:12px" bgcolor="#66B65A">
                <span>Certificate of Repair</span></td></tr>
            </table>
       <br />
            <p>Speed Limiter fitted on certified that Vehicle bearing Registration number :
              <span style="text-decoration: underline;">@Html.DisplayFor(model=>model.VehRegistrationNo) </span>   
                     has been repaired as on @Html.DisplayFor(model=>model.Mdate). The details of Speed Limiter are given below</p>
@*            <p width: 100%; text-align: left;padding-left: 2px; padding-top: 2px; height: 25px; font-weight: bold; font-family: Arial, Helvetica, sans-serif;background-color: #66B65A; color: #000000;>*@
       <br />            
       
              <table border="0"><tr><td style="padding-top:2px; padding-bottom:1px;padding-left:5px; font-size:12px; font-weight:bold;font-size:12px" bgcolor="#66B65A">
                <span>SPEED LIMITER DETAILS</span></td></tr>
            </table>
       <br />
            <table style="width: 100%; height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 9px;color: #000000;">
                <tr><td style="width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 2px;">Type of speed limiter</td><td style="border: 1px groove #000000;width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 5px;">@Html.DisplayFor(model=>model.TypeSpeedLimiter)</td><td style="border: 1px groove #000000;width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 5px;">Set speed limit</td><td style="border: 1px groove #000000;width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 2px;">@Html.DisplayFor(model=>model.SetSpeed)</td></tr>
                <tr><td style="width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 2px;">Serial No.</td><td style="border: 1px groove #000000;width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 5px;">@Html.DisplayFor(model=>model.SerialNo)</td><td style="border: 1px groove #000000;width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 5px;">Tamper Seal No.</td><td style="border: 1px groove #000000;width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 2px;">@Html.DisplayFor(model=>model.TamperSealNo)</td></tr>
                <tr><td style="width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 2px;">Date of Installation</td><td style="border: 1px groove #000000;width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 5px;">@Html.DisplayFor(model=>model.InstallDate)</td><td style="border: 1px groove #000000;width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 5px;">Technician Name</td><td style="border: 1px groove #000000;width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 2px;">@Html.DisplayFor(model=>model.TechnicianName)</td></tr>
            </table>
      
       <br />
        
            <table style="width: 100%; height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 9px;color: #000000;">
                <tr><td  style="width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif; font-size: 9px;color: #000000;padding-left: 2px;">UIN <span style="font-size:7px;">(Unique identification number)</span></td><td style="width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif; font-size: 9px;color: #000000;padding-left: 2px;">@Html.DisplayFor(model=>model.CertificateNo)</td><td style="width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif; font-size: 9px;color: #000000;padding-left: 2px;">Valid Upto</td><td style="width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif; font-size: 9px;color: #000000;padding-left: 2px;">@Html.DisplayFor(model=>model.ExpDate)</td></tr>
            </table>
       <br />
          <br />
            <table class="certificate_table1">

                <tr><td class="td_6"> @Html.QRCode("http://"+Request.Url.Host+":8081/Certificate/GetDet?searchString="+Model.CertificateNo,80,4,QRCodeErrorCorrectionLevel.High)<br /></td><td class="td_5"><span> Dealer Stamp </span></td><td class="td_7"> @*<img id="img"  src="/Barcode.ashx?m=0&h=60&vCode=@ViewBag.vCode" alt="@ViewBag.vCode"/>*@<img width="120" height="50" src="@Model.DealerLogo" /></td></tr>
            </table>
       <p>(To be attached with Original Certificate)</p>
</div>
    <br/>
    </body>

    </html>
    