﻿@model Certificate_AdminPanel.ViewModels.CertificateView
@{
    ViewBag.Title = "Thinture ";
    Layout = null;
}
<br />
<!DOCTYPE html>
<html> 
    <head>
   @* <title>@ViewBag.Title - Certification</title>*@
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link href="~/Content/Site.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    </head>
        <body>   
            <br />
             @if(Model.Duplicate >0){
           <p style="padding-left:2em; text-align:center;font-weight:normal;font-size:12px;color: #999999">
               DUPLICATE
            </p>
            }
            
            else if(Model.InstallDate.AddYears(1).AddDays(-30) <= DateTime.UtcNow.Date)
            {
                    <p style="padding-left:2em;text-align:center;font-weight:normal;font-size:12px;color: #999999">
               Renewal
            </p>
            }  
            else
            {
                <br />
             }
           
         @*   <table border="0" ><tr style="border-collapse:collapse"><td style="border-width:0px"; width="10" float: left;"><img height="20" src="top4.3.png" /><img width="20" float: left src="left4.png"/></td><img height="20" src="bottom4.png" /> <td width="100%" border-width:0>*@
                     <div border="1" >
          <table border="0"><tr ><td>@*<img height="23" src="ce.png" />*@</td>
        @*<td style="margin-top:2px; padding-bottom:0px;padding-left:5px; font-size:14px;color:green; font-family:'Adobe نسخ'; text-align:center" >
               <span > CERTIFICATE</span></td>*@
       @* <td style="margin-top:2px; padding-bottom:0px;font-size:12px;font-weight:bold;font-family: Arial, Helvetica, sans-serif; text-align:center;" bgcolor="#66B65A" >
               <span><img height="15" width="250"  src="Arabic/speedlimiter.png" /></span></td></tr>*@
            </table>
@*       <table border="0" style="padding-left:0em"><tr><td rowspan="6"><img height="55" float: left src="@Model.ImageUrl"/></td><td></td></tr>
                  
                          <tr style="text-align: right;"><td> <img height="20" src="Arabic/orient2.2.png" /></td></tr>
      <tr style="text-align: right;"><td style="font-size:10px;color:#333333;font-weight:bold;">ORIENT MOTORS L.L.C </td></tr>
                 <tr style="text-align: right;"><td style="font-size:8px;color:#333333;font-weight:bold;">ROAD SPEED LIMITER </td></tr>
                  <tr style="text-align: right;"><td style="font-size:8px;color: #333333; font-weight:bold">GSO Approval No. CD 0 CI 1116</td></tr>
                <tr style="text-align: right;"><td style="font-size:8px;color: #333333; font-weight:bold">ESMA CERTIFICATE No.13-10-1902/E 13-05-0941 </td></tr>

            </table>*@
 @*<br />*@
                        
                         <br />
                         <br />
                         <br />
                         <br />
                         <br />
                         <br />
            <table border="1"><tr><td style="padding-top:2px;color:white; padding-bottom:1px;padding-left:5px; font-size:10px; font-weight: bold;" bgcolor="#000000">
              <span >DECLARATION</span></td></tr>
            </table>
        
            <p style="font-size:8px"> This is to certify that, the vehicle with below mentioned details has been fitted with ESMA approved Road Speed Limiter 
device, programmed for a top speed of maximum <span style="text-decoration: underline;">@Html.DisplayFor(model=>model.SetSpeed) @if(Model.speed2!=null && Model.speed2>0){<span>/</span>}@Html.DisplayFor(model=>model.speed2)</span> km/hr.The device is Calibrated and Sealed.</p>
@*            <p width: 100%; text-align: left;padding-left: 2px; padding-top: 2px; height: 25px; font-weight: bold; font-family: Arial, Helvetica, sans-serif;background-color: #66B65A; color: #000000;>*@
      
          <br />
       <table border="1"><tr><td style="margin-top:2px;color:white; padding-bottom:0px;padding-left:5px; font-size:10px;font-weight:bold" bgcolor="#000000">
               <span >VEHICLE DETAILS</span></td></tr>
            </table>
     
            <table style="border: 1px groove #000000;width: 100%; height: 15px;font-family: Arial;color: #000000;padding-left:0em">
               
                <tr><td style="width: 150px;height: 15px;font-family: Arial,Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 2px;">Vehicle Owner</td><td colspan="2" style="width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 8px;color: #000000;padding-left: 2px;">@Html.DisplayFor(model=>model.OwnerName)</td><td style="width: 150px;height: 15px;font-family: Arial,Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 2px;">@*اسم مالك المركبة.*@ <img height="12" src="Arabic/vehicleowner.png" /></td></tr>
                <tr><td style="width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 2px;">Registration No.</td><td colspan="2" style="width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 2px;">@Html.DisplayFor(model=>model.VehRegistrationNo)</td><td style="width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 2px;">@*رقم اللوحة.*@ @*<img height="12" src="@Model.ResitrationNumber_text" />*@<img height="12" src="Arabic/registrationno.png" /></td></tr>
                   <tr> <td style="width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 2px;">Chassis No.</td><td colspan="2" style="width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 2px;">@Html.DisplayFor(model=>model.ChassisNo)</td><td style="width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 2px;">@*رقم الشاسية.*@ @*<img height="12" src="@Model.ChassisNo_text" />*@<img height="12" src="Arabic/chassisno.png" /></td></tr>
               <tr> <td style="width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 2px;">Engine No.</td><td colspan="2" style="width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 2px;">@Html.DisplayFor(model=>model.EngineNo)</td><td style="width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 2px;">@*رقم المحرك.*@ @*<img height="12" src="@Model.EngineNo_text" />*@<img height="12" src="Arabic/engineno.png" /></td></tr>
@*                <tr> <td style="width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 2px;">Make of Vehicle</td><td colspan="3" style="width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 2px;">@Html.DisplayFor(model=>model.MakeOfVehicle)</td></tr>*@
               <tr> <td style="width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 2px;">Vehicle Type</td><td colspan="2" style="width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 2px;">@Html.DisplayFor(model=>model.MakeOfVehicle) @Html.DisplayFor(model=>model.ModelOfVehicle)</td><td style="width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 2px;">@*نوع المركبة.*@@*<img height="12" src="@Model.Modelofvehicle_text" />*@<img height="12" src="Arabic/vehicletype.png" /></td></tr>
                <tr> <td style="width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 2px;">Vehicle Model</td><td colspan="2" style="width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 2px;">@Html.DisplayFor(model=>model.ManufactureYear)</td><td style="width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 2px;">@*سنة الصنع*@ @*<img height="12" src="@Model.yearofmanufacture_text" />*@<img height="12" src="Arabic/vehiclemodel.png" /></td></tr>
                
                 </table>
        
              <table border="1"><tr><td style="color:white;padding-top:2px; padding-bottom:1px;padding-left:0em; font-size:10px; font-weight:bold;" bgcolor="#000000">
                <span>SPEED LIMITER DETAILS</span></td></tr>
            </table>             
      
           <table style="border: 1px groove #000000;width: 100%; height: 15px;font-family: Arial;color: #000000;padding-left:0em">
               
                <tr><td style="width: 150px;height: 15px;font-family: Arial,Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 2px;">Type of Speed Limiter</td><td colspan="2" style="width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 2px;">@Html.DisplayFor(model=>model.TypeSpeedLimiter)</td><td style="width: 150px;height: 15px;font-family: Arial,Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 2px;">@*نوع محدد السرعة*@ @*<img height="12" src="@Model.typeofspeedlimiter_text" />*@<img height="12" src="Arabic/typeofspeedlimiter.png" /></td></tr>
                <tr><td style="width: 150px;height: 15px;font-family: Arial,Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 2px;">Brand Name</td><td colspan="2" style="width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 2px;">Thinture Speed Limiter</td><td style="width:180px;height: 16px;font-family: Arial,Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 2px;"><img height="12" src="Arabic/brandname.png" /></td></tr>
                <tr><td style="width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 2px;">Serial No.</td><td colspan="2" style="width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 2px;">@Html.DisplayFor(model=>model.SerialNo)</td><td style="width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 2px;">@*الرقم التسلسلي.*@ @*<img height="12" src="@Model.SerialNo_text" />*@<img height="12" src="Arabic/serialno.png" /></td></tr>
                <tr> <td style="width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 2px;">Tamper Seal No.</td><td colspan="3" style="width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 2px;">@Html.DisplayFor(model=>model.TamperSealNo)</td></tr>
               <tr> <td style="width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 2px;">Date Of Installation</td><td colspan="2" style="width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 2px;">@Html.DisplayFor(model=>model.InstallDate)</td><td style="width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 2px;">@*تاريخ التركيب.*@ @*<img height="12" src="@Model.DateofInstallation_text" />*@<img height="12" src="Arabic/dateofinstallation.png" /></td></tr>

               <tr> <td style="width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 2px;">Calibration Date</td><td colspan="2" style="width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 2px;">@Html.DisplayFor(model=>model.CalibrationDate)</td><td style="width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 2px;">@*السرعة المحددة.*@ @*<img height="12" src="@Model.Setspeedlimit_text" />*@@*<img height="12" src="Arabic/setspeedlimit.png" />*@</td></tr>

               <tr> <td style="width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 2px;">Set speed limit</td><td colspan="2" style="width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 2px;">@Html.DisplayFor(model=>model.SetSpeed) @if(Model.speed2!=null && Model.speed2>0){<span>/</span>}@Html.DisplayFor(model=>model.speed2) </td><td style="width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 2px;">@*السرعة المحددة.*@ @*<img height="12" src="@Model.Setspeedlimit_text" />*@<img height="12" src="Arabic/setspeedlimit.png" /></td></tr>
                <tr> <td style="width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 2px;">Technician Name</td><td colspan="2" style="width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 2px;">@Html.DisplayFor(model=>model.TechnicianName)</td><td style="width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 2px;">@*اسم فني التركيب.*@ @*<img height="12" src="@Model.TechnicianName_text" />*@<img height="12" src="Arabic/technicianname.png" /></td></tr>
                
                 </table>
     
             <table border="1"><tr><td style="color:white;padding-top:2px; padding-bottom:1px;padding-left:0em; font-size:10px; font-weight:bold" bgcolor="#000000">
                <span >DEALER DETAILS</span></td></tr>
            </table>
        
            <table style="padding-left:0em;border: 1px groove #000000;width: 100%; height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 9px;color: #000000;">
             
                   <tr><td style="width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 2px;">Dealer Name</td><td style="padding-left: 2px;"colspan="2" >@Html.DisplayFor(model=>model.Name)</td><td style="width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 2px;">@*اسم الوكيل.*@ @*<img height="12" src="@Model.DealerName_text" />*@<img height="12" src="Arabic/dealername.png" /></td></tr>
                <tr><td style="width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 2px;">Address & Phone</td><td style="padding-left: 2px;"colspan="2">@Html.DisplayFor(model=>model.Address),@Html.DisplayFor(model=>model.PhoneNo) @if(Model.MobileNo!=null){<span>,</span>@Html.DisplayFor(model=>model.MobileNo)}</td><td style="width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 2px;">@*العنوان و التليفونات.*@ @*<img height="12" src="@Model.AddressPhone_text" />*@<img height="12" src="Arabic/addressphone.png" /></td></tr>
            </table> 
   <br />     
            <table style="padding-left:0em;width:300px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 9px;color: #000000;">
                <tr><td colspan="2" style="width: 80px;height: 15px;font-family: Arial, Helvetica, sans-serif; font-size: 9px;color: #000000;padding-left: 2px;">UIN <span style="font-size:7px;">(Unique identification number)</span></td><td colspan="2" style="width: 80px;height: 20px;font-family: Arial, Helvetica, sans-serif; font-size: 9px;color: #000000;padding-left: 2px;">@Html.DisplayFor(model=>model.CertificateNo)</td></tr>
                <tr><td style="width: 80px;height: 15px;font-family: Arial, Helvetica, sans-serif; font-size: 9px;color: #000000;padding-left: 2px;">Re-Calibration Date</td><td colspan="2" style="width: 80px;height: 15px;font-family: Arial, Helvetica, sans-serif; font-size: 9px;color: #000000;padding-left: 2px;">@Html.DisplayFor(model=>model.ExpDate)</td><td style="width: 80px;height: 15px;font-family: Arial, Helvetica, sans-serif; font-size: 9px;color: #000000;padding-left: 2px;"> @*صالحة لغاية.*@ @*<img height="12" src="@Model.ValidUpto_text" />*@<img height="12" src="Arabic/validupto.png" /></td></tr>
            </table>
                  <table style="border: 1px groove #000000;width: 100%; height: 15px;font-family: Arial;color: #000000;padding-left:0em">               
                <tr><td style="width: 150px;height: 15px;font-family: Arial,Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 2px;">Applicable Standard</td><td style="width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 2px;">@Html.DisplayFor(model=>model.ApplicableStandard)</td>
                <td style="width: 150px;height: 15px;font-family: Arial,Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 2px;">Country of Installation</td><td style="width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 2px;">@Html.DisplayFor(model=>model.CountryName)</td></tr>
      
   </table>
@* <table style="padding-left:0em;border: 1px groove #000000;width: 100%; height: 15px;font-family: Verdana;font-size: 9px;color: #000000;"><tr><td style="width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 5px;"><span class="table_col">Applicable standard</span></td><td style="border: 1px groove #000000;width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 5px;">@Html.DisplayFor(model => model.ApplicableStandard)</td><td style="border: 1px groove #000000;width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 5px;">Country of Installation</td><td style="border: 1px groove #000000;width: 150px;height: 15px;font-family: Arial, Helvetica, sans-serif;font-size: 9px;color: #000000;padding-left: 2px;">@Html.DisplayFor(model => model.CountryName)</td></tr></table>*@
 
              <p style="font-family: Arial,Helvetica, sans-serif;font-size:6px;color: #000000;text-align:center">[THREE YEAR FREE-REPLACEMENT WARRANTY ON THE UNIT SUBJECT TO CONTINUED RENEWAL OF CERTIFICATE]</p>
                     <p style="font-family: Arial,Helvetica, sans-serif;font-size: 10px;color: #000000;text-align:center">@*ثلاث سنوات ضمان استبدال خاضع للتجديد المستمر للشهادة.*@ @*<img height="14" src="@Model.ThreeYear_text" />*@<img height="15" src="Arabic/three1.png" /></p>
 
            <table class="certificate_table1">

                <tr><td class="td_6"> @Html.QRCode("http://Certificate.thinture.com/Certificate/GetDet?searchString="+Model.CertificateNo,80,4,QRCodeErrorCorrectionLevel.High) @*@Html.QRCode("http://"+Request.Url.Host+":8081/Certificate/GetDet?searchString="+Model.CertificateNo,80,4,QRCodeErrorCorrectionLevel.High)*@<br /></td><td class="td_5"><span> Dealer Stamp @*ختم الوكيل.*@@*<img height="12" src="@Model.DealerStamp_text" />*@<img height="12" src="Arabic/dealerstamp.png" /> </span></td><td class="td_7"></td></tr>
               
            </table>
       <p style="font-family: Arial,Helvetica, sans-serif;font-size: 8px;color: #000000;text-align:center"> 
           The validity of this Certificate is verified from the following website or scanning the QR Code</p>   
                                         <p style="font-family: Arial,Helvetica, sans-serif;font-size: 8px;color: #000000;text-align:center">    www.thinture.com/get </p>
       
</div>
   @*</td><td width="10" border-width:0 float:right;"><img width="36" float: right src="right4.png"/></td></tr></table>*@
          
    </body>

    </html>