﻿@model Certificate_AdminPanel.Models.Certificate

@{
    ViewBag.Title = "Create";

}
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<script src="~/AdminTemplates/plugins/select2/select2.full.min.js"></script>
<link href="~/AdminTemplates/plugins/select2/select2.min.css" rel="stylesheet" />
<script src="~/AdminTemplates/plugins/iCheck/icheck.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".select2").select2();
        $(".tmpspeed2").hide();
        $("#datetimeInstallDate").datepicker({
            autoclose: true,
            format: 'dd/M/yyyy',
            todayHighlight: true,

            endDate: "+1",
        });
        $("#datetimeCalibrationDate").datepicker({
            autoclose: true,
            format: 'dd/M/yyyy',
            todayHighlight: true,

            endDate: "+1",
        });
        $('#speed2').bind('change', function () {
            var x = confirm('This speed is only for dual speed');
            if (x == true) {
                this.value();
            }
            else {
                this.value = '';
            }
        });
        $("#TypeSpeedLimiter").on("change", function () {

            switch (this.value) {
                case "Fuel Control":
                    $(".tmpspeed2").show();
                    break;
                case "Electronic Pedal":
                    $(".tmpspeed2").show();
                    break;
                default:
                    $(".tmpspeed2").hide();
                    break;
            }
           
        });
        //$('form').submit(function (e) {
        //    e.preventDefault();
        //    if ($(this).valid()) {
        //        alert('the form is valid');
        //    }
        //});
    });


</script>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>SpeedLimiter
       
            <small>Certificate Creation form</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a href="/Certificate/Index">SpeedLimiter</a></li>
            <li class="active">Certificate Creation</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">

            <!-- Horizontal Form -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Certificate Creation</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                @using (Html.BeginForm("Create", "certificate", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="box-body">


                        <!-- left column -->
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.VehRegistrationNo, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.VehRegistrationNo, new { @class = "form-control", tabindex = 1 })
                                    @Html.ValidationMessageFor(model => model.VehRegistrationNo)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ChassisNo, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.ChassisNo, new { @class = "form-control ", tabindex = 3 })
                                    @Html.ValidationMessageFor(model => model.ChassisNo)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ManufactureYear, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    <select id="ManufactureYear" name="ManufactureYear" class="form-control select2 " tabindex="5">
                                        <option>-select-</option>
                                        @for (var i = DateTime.Now.Year + 1; i > 1960; i--)
                                        {
                                            <option>@i</option>
                                        }
                                    </select>
                                    @Html.ValidationMessageFor(model => model.ManufactureYear)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ModelOfVehicle, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.ModelOfVehicle, new { @class = "form-control ", tabindex = 7 })
                                    @Html.ValidationMessageFor(model => model.ModelOfVehicle)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.SetSpeed, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.SetSpeed, new { @class = "form-control ", tabindex = 9 })

                                    @Html.ValidationMessageFor(model => model.SetSpeed)
                                </div>
                              

                            </div>
                          
                            <div class="form-group">
                                @Html.LabelFor(model => model.TamperSealNo, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.TamperSealNo, new { @class = "form-control ", tabindex = 12 })
                                    @Html.ValidationMessageFor(model => model.TamperSealNo)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.CalibrationDate, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">
                                    <div class='input-group date' id='datetimeCalibrationDate'>
                                        @Html.TextBoxFor(model => model.CalibrationDate, new { @class = "form-control ", tabindex = 14, @readonly = "true" })
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>

                                    @Html.ValidationMessageFor(model => model.CalibrationDate)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ApplicableStandard, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.DropDownListFor(model => model.ApplicableStandard, (SelectList)ViewBag.AppStd, "-select-", new { @class = "form-control select2", tabindex = 16 })

                                    @Html.ValidationMessageFor(model => model.ApplicableStandard)
                                </div>
                            </div>
                            @if (Certificate_AdminPanel.SessionWrapper.AdminLevel == AdminLevel.Admin || Certificate_AdminPanel.SessionWrapper.AdminLevel == AdminLevel.SubAdmin)
                            {
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Dealer</label>

                                    <div class="col-sm-10">
                                        @Html.DropDownListFor(model => model.DealerId, (IEnumerable<SelectListItem>)ViewBag.DealerId, "-Select-", new { @class = "form-control select2", tabindex = 18 })

                                        @Html.ValidationMessageFor(model => model.DealerId)
                                    </div>
                                </div>
                            }

                        </div>

                        <!-- right column -->
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.OwnerName, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.OwnerName, new { @class = "form-control ", tabindex = 2 })
                                    @Html.ValidationMessageFor(model => model.OwnerName)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.EngineNo, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.EngineNo, new { @class = "form-control ", tabindex = 4 })
                                    @Html.ValidationMessageFor(model => model.EngineNo)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.MakeOfVehicle, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.MakeOfVehicle, new { @class = "form-control ", tabindex = 6 })
                                    @Html.ValidationMessageFor(model => model.MakeOfVehicle)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.TypeSpeedLimiter, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.DropDownListFor(model => model.TypeSpeedLimiter, (SelectList)ViewBag.SpeedLimiterType, "-select-", new { @class = "form-control select2", tabindex = 8 })
                                    @Html.ValidationMessageFor(model => model.TypeSpeedLimiter)
                                </div>
                            </div>
                              <div class="form-group tmpspeed2">
                                @Html.LabelFor(model => model.speed2, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.speed2, new { @class = "form-control", tabindex = 11 })

                                    @Html.ValidationMessageFor(model => model.speed2)

                                </div>

                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.SerialNo, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.SerialNo, new { @class = "form-control ", tabindex = 13 })
                                    @Html.ValidationMessageFor(model => model.SerialNo)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.InstallDate, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">
                                    <div class='input-group date' id='datetimeInstallDate'>
                                        @Html.TextBoxFor(model => model.InstallDate, new { @class = "form-control ", tabindex = 15, @readonly = "true" })
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>

                                    @Html.ValidationMessageFor(model => model.InstallDate)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.TechnicianName, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.TechnicianName, new { @class = "form-control ", tabindex = 17 })
                                    @Html.ValidationMessageFor(model => model.TechnicianName)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Country, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.DropDownListFor(model => model.Country, (IEnumerable<SelectListItem>)ViewBag.COuntryName, "-select-", new { @class = "form-control select2", tabindex = 19 })
                                    @Html.ValidationMessageFor(model => model.Country)
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="box-footer">
                        @Html.ActionLink("Back to Index", "Index", null, new { @class = "btn btn-info pull-left" })
                        <button type="submit" class="btn btn-info pull-right">Submit</button>
                    </div>
                    <!-- /.box-footer -->
                }
            </div>
        </div>
    </section>
</div>
