﻿@model IEnumerable<Certificate_AdminPanel.ViewModels.CertificateView>

@{
    ViewBag.Title = "Daily Report";
}
<script src="~/Scripts/DailyReport.js"></script>
<link href="~/Scripts/TableTools.css" rel="stylesheet" />
<script src="~/Scripts/TableTools.min.js"></script>
<script type="text/javascript">



    $(document).ready(function () {
        //$('#fromdate').datepicker({ dateFormat: "dd/M/yy", changeYear: true, changeMonth: true, showOn: 'button', buttonImageOnly: true, buttonImage: '../../Content/Images/DatetimePicker/icon_cal.png' });

        $('#fromdate').datepicker();
        $('#todate').datepicker();
        //$('#todate').datepicker({ dateFormat: "dd/M/yy", changeYear: true, changeMonth: true, showOn: 'button', buttonImageOnly: true, buttonImage: '../../Content/Images/DatetimePicker/icon_cal.png' });
    });


</script>
<script src="~/AdminTemplates/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
<link href="~/AdminTemplates/plugins/datatables/extensions/Responsive/css/dataTables.responsive.css" rel="stylesheet" />
<div class="content-wrapper">


    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Report
       
        <small>Daily  Details</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a href="#">SpeedLimiter</a></li>
            <li class="active">Index</li>
        </ol>
    </section>
    <!-- Content Header (Page header) -->
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Daily Report</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        @using (Html.BeginForm())
                        {
                            <div class="form-inline">
                                <div class="form-group">
                                    <label for="fromdate">From:</label>
                                    @Html.TextBox("fromdate", null, new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label for="todate">To:</label>
                                    @Html.TextBox("todate", null, new { @class = "form-control" })
                                </div>

                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>

                        }
                        <table id="example2" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CertificateNo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.VehRegistrationNo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.SerialNo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ExpDate)
                                    </th>
                                    <th>Created date
                                    </th>
                                   <th>
                                        @Html.DisplayNameFor(model => model.ChassisNo)
                                    </th>
                                     <th>
                                        @Html.DisplayNameFor(model => model.EngineNo)
                                    </th>
                                     <th>
                                        @Html.DisplayNameFor(model => model.OwnerName)
                                    </th>
                                     <th>
                                        @Html.DisplayNameFor(model => model.MakeOfVehicle)
                                    </th>
                                     <th>
                                        @Html.DisplayNameFor(model => model.ModelOfVehicle)
                                    </th>
                                     <th>
                                        @Html.DisplayNameFor(model => model.TypeSpeedLimiter)
                                    </th>
                                     <th>
                                        @Html.DisplayNameFor(model => model.TamperSealNo)
                                    </th>
                                     <th>
                                        @Html.DisplayNameFor(model => model.TechnicianName)
                                    </th>

                                    <th>Company 
                                    </th>
                                    <th>Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    if (item.E_Stat == true && item.ExpDate.Date < DateTime.UtcNow.Date)
                                    {
                                    <tr style="background-color: #F0F8FF">
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CertificateNo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.VehRegistrationNo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SerialNo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ExpDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Cdate)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.ChassisNo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.EngineNo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.OwnerName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MakeOfVehicle)
                                        </td>
                                         <td>
                                            @Html.DisplayFor(modelItem => item.ModelOfVehicle)
                                        </td>
                                          <td>
                                            @Html.DisplayFor(modelItem => item.TypeSpeedLimiter)
                                        </td>
                                         <td>
                                            @Html.DisplayFor(modelItem => item.TamperSealNo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TechnicianName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            <a href="/certificate/det/@item.CertificateNo" style="text-decoration:none" title="Details" class="iframeEdit">
                                                <span class="glyphicon glyphicon-list-alt"></span>
                                            </a>
                                        </td>
                                    </tr>
                                    }
                                    else if (item.E_Stat == true)
                                    {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CertificateNo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.VehRegistrationNo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SerialNo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ExpDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Cdate)
                                        </td>
                                         <td>
                                            @Html.DisplayFor(modelItem => item.ChassisNo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.EngineNo)
                                        </td>
                                          <td>
                                            @Html.DisplayFor(modelItem => item.OwnerName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MakeOfVehicle)
                                        </td>
                                         <td>
                                            @Html.DisplayFor(modelItem => item.ModelOfVehicle)
                                        </td>
                                          <td>
                                            @Html.DisplayFor(modelItem => item.TypeSpeedLimiter)
                                        </td>
                                         <td>
                                            @Html.DisplayFor(modelItem => item.TamperSealNo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TechnicianName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)

                                        </td>
                                        <td>
                                            <a href="/certificate/det/@item.CertificateNo" style="text-decoration:none" title="details" class="iframeEdit">
                                                <span class="glyphicon glyphicon-list-alt"></span>
                                            </a>
                                        </td>
                                    </tr>
     
                                    }

                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
        </div>
        <h5>Total number of vehicles Certified today:<b>@ViewBag.totalcnt</b></h5>
              
              <h5>Total number of vehicles Certified this week:<b>@ViewBag.totalweek</b></h5>
             
               <h5> Total number of vehicles Certified this month:<b>@ViewBag.totalmonth</b></h5>

            <p>
                <span style="text-decoration: underline; font-weight: bold">Note:</span> N/A=Not Available
            </p>
    </section>
</div>
@*<body>
    <div>
        <div style="display: block; text-align: center; padding: 5px; color: #337ab7;">
            <a id="" href="#" class="iframecreate" style="cursor: none">
                <h2>Daily Report</h2>
            </a>
        </div>
        <div class="container-fluid">
            @using (Html.BeginForm())
            {
                <div class="form-inline">
                    <div class="form-group">
                        <label for="fromdate">From:</label>
                        @Html.TextBox("fromdate", null, new { @class = "form-control", style = "width:125px" })
                    </div>
                    <div class="form-group">
                        <label for="todate">To:</label>
                        @Html.TextBox("todate", null, new { @class = "form-control", style = "width:125px" })
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>

            }

            <br />
            <div class="table-container">

                <table id="example" class="table table-striped table-bordered nowrap" cellspacing="0" width="100%">
                    <thead>

                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.CertificateNo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.VehRegistrationNo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SerialNo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ExpDate)
                            </th>
                            <th>Created date
                            </th>


                            <th>Company 
                            </th>
                            <td>Details</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            if (item.E_Stat == true && item.ExpDate.Date < DateTime.UtcNow.Date)
                            {
                            <tr style="background-color: #F0F8FF">
                                <td>
                                    @Html.DisplayFor(modelItem => item.CertificateNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.VehRegistrationNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SerialNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ExpDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Cdate)
                                </td>


                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                  
                                    <a href="/certificate/det/@item.CertificateNo" style="text-decoration:none" title="Details" class="iframeEdit">
                                        <span class="glyphicon glyphicon-list-alt"></span>
                                    </a>
                                </td>
                            </tr>
                            }
                            else if (item.E_Stat == true)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CertificateNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.VehRegistrationNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SerialNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ExpDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Cdate)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)

                                </td>
                                <td>
                                    
                                    <a href="/certificate/det/@item.CertificateNo" style="text-decoration:none" title="details" class="iframeEdit">
                                        <span class="glyphicon glyphicon-list-alt"></span>
                                    </a>
                                </td>
                            </tr>
     
                            }

                        }
                    </tbody>
                </table>
                <h5>Total number of vehicles Certified today:@ViewBag.totalcnt<br />
                    Total number of vehicles Certified this week:@ViewBag.totalweek
                    <br />
                    Total number of vehicles Certified this month:@ViewBag.totalmonth</h5>


            </div>
            <p>
                <span style="text-decoration: underline; font-weight: bold">Note:</span> N/A=Not Available
            </p>
        </div>
    </div>
</body>*@

