﻿@model Certificate_AdminPanel.Models.Certificate

@{
    ViewBag.Title = "Delete";
    Layout = null;
}

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Delete</h4>
    </div>

    <div class="modal-body">
        <p>Are you sure want to delete&hellip;?</p>
    </div>


    @using (Html.BeginForm())
    {
        <div class="modal-footer">

            <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-outline">Ok</button>

        </div>
    }

</div>
