﻿@*@model Certificate_AdminPanel.ViewModels.SpdLmtrDeliveryView*@
@model Certificate_AdminPanel.Models.SpeedLimiterSerialNo

@{
    ViewBag.Title = "Delivery";
                    //  Layout = "~/Views/Shared/_Layoutfancybox.cshtml";
}
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<script src="~/AdminTemplates/plugins/select2/select2.full.min.js"></script>
<link href="~/AdminTemplates/plugins/select2/select2.min.css" rel="stylesheet" />
<script src="~/AdminTemplates/plugins/iCheck/icheck.min.js"></script>
<script>
    $(function () {
        $(".select2").select2();
    });
</script>
@*<div class="length">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.ValidationMessageFor(model => model.SerialNo)

      
               
        <table class="grid">
            <tr>
                <td></td>
                <td>
                    @Html.CheckBox("chk1")

                </td>
                <td></td>
                <td>
                    @Html.CheckBox("chk2")

                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        @Html.LabelFor(model => model.SerialNo)
                    </div>
                </td>
                <td>
                    <div>
                        @Html.TextBoxFor(model => model.SerialNo, new { style = "width:70px" })


                        <input class="text-box single-line" data-val="true" data-val-required="SerialNo required" id="sercount" name="sercount" type="text" value="" style="width: 65px" />
                        <span class="field-validation-valid" data-valmsg-for="sercount" data-valmsg-replace="true"></span>
                       
                    </div>
                </td>
                <td>
                    <div>
                        <label for="TamperSealNo">TamperSealNo</label>
                    </div>
                </td>
                <td>
                    <div>
                        <input class="text-box single-line" data-val="true" data-val-required="SerialNo required" id="TamperSealNo" name="TamperSealNo" type="text" value="" style="width: 75px" />
                        <span class="field-validation-valid" data-valmsg-for="TamperSealNo" data-valmsg-replace="true"></span>

                        <input class="text-box single-line" data-val="true" data-val-required="SerialNo required" id="tampcount" name="tampcount" type="text" value="" style="width: 65px" />
                        <span class="field-validation-valid" data-valmsg-for="tampcount" data-valmsg-replace="true"></span>
                    </div>
                </td>
            </tr>


            <tr>
                <td>
                    <div class="editor-label">
                        <label for="Total">Total</label>
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        <input class="text-box single-line" data-val="true" data-val-number="The field EndNumber must be a number." data-val-required="The EndNumber field is required." id="Total" name="Total" type="number" value="" />
                        <span class="field-validation-valid" data-valmsg-for="Total" data-valmsg-replace="true"></span>
                    </div>

                </td>
                <td>
                    <div class="editor-label">
                        <label for="TamperTotal">Total</label>
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        <input class="text-box single-line" data-val="true" data-val-number="The field EndNumber must be a number." data-val-required="The EndNumber field is required." id="TamperTotal" name="TamperTotal" type="number" value="" />
                        <span class="field-validation-valid" data-valmsg-for="Total" data-valmsg-replace="true"></span>
                    </div>

                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        <label for="except">Except</label>
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        <input class="text-box single-line" data-val="true" data-val-number="The field Exception must be a number." data-val-required="The Exception field is required." id="except" name="except" type="number" value="" />
                        <span class="field-validation-valid" data-valmsg-for="except" data-valmsg-replace="true"></span>
                    </div>
                </td>
                <td>
                    <div class="editor-label">
                        <label for="TamperExcept">Except</label>
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        <input class="text-box single-line" data-val="true" data-val-number="The field Exception must be a number." data-val-required="The Exception field is required." id="TamperExcept" name="TamperExcept" type="number" value="" />
                        <span class="field-validation-valid" data-valmsg-for="Except" data-valmsg-replace="true"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.DealerId, "Dealer")
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.DropDownListFor(model => model.DealerId, (IEnumerable<SelectListItem>)ViewBag.Admin, "-Select-", new { style = "width:160px" })

                        @Html.ValidationMessageFor(model => model.DealerId)
                    </div>
                </td>
            </tr>


        </table>
    
        <input type="submit" value="create" />
                   
    }
    <h5>@TempData["Message"]</h5>
</div>*@
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Speed Limiter
       
            <small>Delivery Form</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a href="/Certificate/Index">SpeedLimiter</a></li>
            <li class="active">Delivery</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">

            <!-- Horizontal Form -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Delivery</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                @using (Html.BeginForm("Delivery", "certificate", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                  
                    <div class="box-body">

                        <!-- left column -->
                        <div class="col-sm-6">

                            <div class="form-group">
                                <label for="SerialNo" class="col-sm-2 control-label">SerialNoPrefix</label>

                                <div class="col-sm-10">
                                    <input class="text-box single-line form-control " data-val="true" data-val-required="SerialNo required" id="SerialNo" name="SerialNo" type="text" value="" style="width: 100%" />
                                    <span class="field-validation-valid" data-valmsg-for="SerialNo" data-valmsg-replace="true"></span>
                                </div>

                            </div>
                            <div class="form-group">
                                <label for="SerialNo" class="col-sm-2 control-label">SerialNo</label>
                                <div class="col-sm-10">
                                    <input class="text-box single-line  form-control" data-val="true" data-val-required="SerialNo required" id="sercount" name="sercount" type="text" value="" style="width: 100%" />
                                    <span class="field-validation-valid" data-valmsg-for="sercount" data-valmsg-replace="true"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="Total" class="col-sm-2 control-label">Total</label>

                                <div class="col-sm-10">
                                    <input class="text-box single-line col-sm-2 form-control" data-val="true" data-val-number="The field EndNumber must be a number." data-val-required="The EndNumber field is required." id="Total" name="Total" type="number" value="" />
                                    <span class="field-validation-valid" data-valmsg-for="Total" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Total" class="col-sm-2 control-label">Except</label>

                                <div class="col-sm-10">
                                    <input class="text-box single-line col-sm-2 form-control" data-val="true" data-val-number="The field Exception must be a number." data-val-required="The Exception field is required." id="except" name="except" type="number" value="" />
                                    <span class="field-validation-valid" data-valmsg-for="except" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="SerialNo" class="col-sm-2 control-label">Enable ?</label>
                                <div class="col-sm-5">
                                    @Html.CheckBox("chk1", new { @class = "" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.DealerId, "Dealer", new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">
                                    @Html.DropDownListFor(model => model.DealerId, (IEnumerable<SelectListItem>)ViewBag.Admin, "-Select-", new { style = "width:100%", @class = "form-control select2" })
                                    @Html.ValidationMessageFor(model => model.DealerId)
                                </div>
                            </div>
                        </div>

                        <!-- right column -->
                        <div class="col-sm-6">

                            <div class="form-group">
                                <label for="TamperSealNo" class="col-sm-2 control-label">TamperSealPrefix</label>

                                <div class="col-sm-10">
                                    <input class="text-box single-line  form-control" data-val="true" data-val-required="SerialNo required" id="TamperSealNo" name="TamperSealNo" type="text" value="" style="width: 100%" />
                                    <span class="field-validation-valid" data-valmsg-for="TamperSealNo" data-valmsg-replace="true"></span>
                                </div>

                            </div>
                            <div class="form-group">
                                <label for="TamperSealNo" class="col-sm-2 control-label">TamperSealNo</label>
                                <div class="col-sm-10">
                                    <input class="text-box single-line  form-control" data-val="true" data-val-required="SerialNo required" id="tampcount" name="tampcount" type="text" value="" style="width: 100%" />
                                    <span class="field-validation-valid" data-valmsg-for="tampcount" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Total" class="col-sm-2 control-label">Total</label>

                                <div class="col-sm-10">
                                    <input class="text-box single-line col-sm-2 form-control" data-val="true" data-val-number="The field EndNumber must be a number." data-val-required="The EndNumber field is required." id="TamperTotal" name="TamperTotal" type="number" value="" />
                                    <span class="field-validation-valid" data-valmsg-for="Total" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Total" class="col-sm-2 control-label">Except</label>

                                <div class="col-sm-10">
                                    <input class="text-box single-line col-sm-2 form-control" data-val="true" data-val-number="The field Exception must be a number." data-val-required="The Exception field is required." id="TamperExcept" name="TamperExcept" type="number" value="" />
                                    <span class="field-validation-valid" data-valmsg-for="Except" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="TamperSealNo" class="col-sm-2 control-label">Enable ?</label>
                                <div class="col-sm-5">
                                    @Html.CheckBox("chk2", new { @class = "" })
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="box-footer">
                        @Html.ActionLink("Back to Index", "Deliverydetails", null, new { @class = "btn btn-info pull-left" })
                        <button type="submit" class="btn btn-info pull-right">Submit</button>
                    </div>
                    <!-- /.box-footer -->
        
       
                }
            </div>
        </div>
    </section>
</div>
<h5>@TempData["Message"]</h5>
<style>
    input[type=checkbox] {
        margin: 22px 0 0;
    }
</style>
