﻿@*@model IEnumerable<Certificate_AdminPanel.Models.SpeedLimiterSerialNo>*@
@model IEnumerable<Certificate_AdminPanel.ViewModels.SpdLmtrDeliveryView>


@{
    ViewBag.Title = "Deliverydetails";
    AdminLevel AdminLevel_1 = Certificate_AdminPanel.SessionWrapper.AdminLevel;
}


<script src="~/Scripts/jqueryDelivery.js"></script>
<link href="~/Scripts/TableTools.css" rel="stylesheet" />
<script src="~/Scripts/TableTools.min.js"></script>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">


    $(document).ready(function () {

       var tbl= $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "order": [[1, "desc"]],
            "ajax": {
                "url": '../../JsonStorage/SpeedLimiterDeviceDetails.txt',
                "dataSrc": ""
            },
            "aoColumns": [
                                    { "data": "SerialNo" },
                                   
                                    {
                                        "data": "Date",
                                        "render": function (data, type, row) {
                                            var date = new Date(data);
                                            return formatDate(date);
                                        }
                                    },
                                   
                                    { "data": "Status" },
                                    
                                    { "data": "DealerName" },
                                    { "data": "Used" },
                                   
                {
                    "render": function (data, type, row) {
                        debugger;
                        var action=""
                        var edit = '<a href="/Certificate/SerialNoEdit/' + row.Recno + '"title="Edit" data-toggle="modal" data-target="myModal" class="ls-modal" style="text-decoration:none"> <span class="glyphicon glyphicon-edit"></span></a>'
                        if("@AdminLevel_1"=="Admin")
                        {
                            action += edit;
                        }
                      
                        return action;
                    }
                }
                ]
        });
       
        
        $('#fromdate').datepicker({ dateFormat: "dd/M/yy", changeYear: true, changeMonth: true, showOn: 'button', buttonImageOnly: true, buttonImage: '../../Content/Images/DatetimePicker/icon_cal.png' });
        $('#todate').datepicker({ dateFormat: "dd/M/yy", changeYear: true, changeMonth: true, showOn: 'button', buttonImageOnly: true, buttonImage: '../../Content/Images/DatetimePicker/icon_cal.png' });

     @*   tbl.fnSetColumnVis(3, true);//DealerName
        tbl.fnSetColumnVis(6, true);//Action
        if ("@AdminLevel_1" == "Admin") {
            tbl.fnSetColumnVis(3, false);//DealerName
            tbl.fnSetColumnVis(6, false);//DealerName
        }*@

        // JS script
        //$("#example2").on("click", ".ls-modal").click(function (e) {
        //    e.preventDefault();
        //    debugger;
        //   // $('#myModal').modal('show').find('.contents').load($(this).attr('href'));
        //});
        $(document).on("click", '.ls-modal', function (event) {
            //alert("clicked");
            event.preventDefault();
            $('#myModal').modal('show').find('.contents').load($(this).attr('href'));
        });
      
    }); 
    function formatdate(_jsondate) {
        var mon = ["JAN", "FEB", "MAR", "APR", "MAY", "JUN", "JUL", "AUG", "SEP", "OCT", "NOV", "DEC"]

        var _year = _jsondate.substring(0, 5);
        var _month = _jsondate.substring(5) - 1;
        //var _date = new Date(parseInt(_jsondate.replace(/(^.*\()|([+-].*$)/g, '')));
        //var _date = new Date( eval(_jsondate.replace(/\/Date\((.*?)\)\//gi, "new Date($1)")));
        //return _date.getMonth() + 1 + '-' + _date.getDate() + '-' + _date.getFullYear();


        return mon[_month];
    }
</script>
<div class="content-wrapper">


    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>SpeedLimiter
       
        <small>Device Details</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a href="/Certificate/Index">SpeedLimiter</a></li>
            <li><a href="Certificate/deliverydetails">Devices</a></li>
            <li class="active">Index</li>
        </ol>
    </section>
    <!-- Content Header (Page header) -->


    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Device Details</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                           <a href="/Certificate/delivery"  class="btn bg-olive pull-left">Create SerialNo</a>


                        @* @using (Html.BeginForm())
    {
        <div class="form-inline">
            <div class="form-group">
                <label for="fromdate">From:</label>
                @Html.TextBox("fromdate", null, new { @class = "form-control", style = "width:125px" })
            </div>
            <div class="form-group">
                <label for="todate">To:</label>
                @Html.TextBox("todate", null, new { @class = "form-control", style = "width:125px" })
            </div>
            @if (Certificate_AdminPanel.SessionWrapper.AdminLevel == AdminLevel.Admin)
            {
                <div class="form-group">
                    <label for="Dealer">Dealer:</label>
                    @Html.DropDownList("Dealerdd", (IEnumerable<SelectListItem>)ViewBag.Admin, "-Select-", new { style = "width:150px", @class = "form-control" })
                    @Html.ValidationMessage("Dealerdd")
                </div>
            }
            else
            {
                <div class="form-group">
                    <label for="Dealer">Dealer:</label>
                    @Html.DropDownList("Dealerdd", (IEnumerable<SelectListItem>)ViewBag.Dealerdd, "-Select-", new { style = "width:150px", @class = "form-control" })
                    @Html.ValidationMessage("Dealerdd")
                </div>
            }
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>

    }

<br />
    <div class="table-container">*@

                        <table id="example2" class="table table-bordered table-striped">

                            <thead>
                                <tr>

                                    <th>
                                        @Html.DisplayNameFor(model => model.SerialNo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Date)
                                    </th>






                                    <th>Status
                                    </th>
                                  
                                        <th>Dealer
                                        </th>
                                    
                                    <th>Used
                                    
                                        <th>Action
                                        </th>
                                    
                                </tr>

                            </thead>
                           
                        </table>

                    </div>

                    <br />
                    <br />
                    <h5>Number of available Serial numbers:          @ViewBag.Availablecnt<br />
                        Number of serial numbers already certified:  @ViewBag.NotAvailablecnt
                        <br />
                    </h5>



                </div>
            </div>
        </div>
    </section>

</div>
<!-- /.example-modal -->


<div class="modal modal-info " id="myModal" role="dialog">
    <div class="modal-dialog contents">
    </div>
    <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->

<!-- /.modal -->