﻿@model Certificate_AdminPanel.ViewModels.CertificateView

@{
    ViewBag.Title = "Det";
    //   Layout = null;
    
}



<div class="content-wrapper">


    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>SpeedLimiter
       
        <small>Details Information</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a href="#">SpeedLimiter</a></li>
            <li class="active">Information</li>
        </ol>
    </section>
    <!-- Content Header (Page header) -->


    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Details Information</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">

                        <table id="example2" class="table table-bordered table-striped">

                            <tr>
                                <th>@Html.DisplayNameFor(model => model.CertificateNo)</th>
                                <td>@Html.DisplayFor(model => model.CertificateNo)</td>
                                <th>@Html.DisplayNameFor(model => model.VehRegistrationNo)</th>
                                <td>@Html.DisplayFor(model => model.VehRegistrationNo)</td>
                            </tr>

                            <tr>
                                <th>@Html.DisplayNameFor(model => model.OwnerName)</th>
                                <td>@Html.DisplayFor(model => model.OwnerName)</td>
                                <th>@Html.DisplayNameFor(model => model.ChassisNo)</th>
                                <td>@Html.DisplayFor(model => model.ChassisNo)</td>
                            </tr>

                            <tr>
                                <th>@Html.DisplayNameFor(model => model.EngineNo)</th>
                                <td>@Html.DisplayFor(model => model.EngineNo)</td>
                                <th>@Html.DisplayNameFor(model => model.ManufactureYear)</th>
                                <td>@Html.DisplayFor(model => model.ManufactureYear)</td>
                            </tr>

                            <tr>
                                <th>@Html.DisplayNameFor(model => model.MakeOfVehicle)</th>
                                <td>@Html.DisplayFor(model => model.MakeOfVehicle)</td>
                                <th>@Html.DisplayNameFor(model => model.ModelOfVehicle)</th>
                                <td>@Html.DisplayFor(model => model.ModelOfVehicle)</td>
                            </tr>

                            <tr>
                                <th>@Html.DisplayNameFor(model => model.TypeSpeedLimiter)</th>
                                <td>@Html.DisplayFor(model => model.TypeSpeedLimiter)</td>
                                <th>@Html.DisplayNameFor(model => model.SetSpeed)</th>
                                <td>@Html.DisplayFor(model => model.SetSpeed),@Html.DisplayFor(model => model.speed2)</td>
                            </tr>

                            <tr>
                                <th>@Html.DisplayNameFor(model => model.SerialNo)</th>
                                <td>
                                    @Html.DisplayFor(model => model.SerialNo)
                                </td>
                                <th>@Html.DisplayNameFor(model => model.InstallDate)</th>
                                <td>@Html.DisplayFor(model => model.InstallDate)</td>
                            </tr>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.CalibrationDate)
                                </th>
                                <td>
                                    <div class="display-field">
                                        @if (Model.CalibrationDate != null)
                                        {
                                            @Html.DisplayFor(model => model.CalibrationDate)
                                        }
                                        else
                                        {
                                            <span>N/A</span>
                                        }

                                    </div>
                                </td>
                                <th>@Html.DisplayNameFor(model => model.ExpDate)</th>
                                <td>@Html.DisplayFor(model => model.ExpDate)</td>
                            </tr>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.TechnicianName)</th>
                                <td>@Html.DisplayFor(model => model.TechnicianName)</td>
                                <th>@Html.DisplayNameFor(model => model.ApplicableStandard)</th>
                                <td>@Html.DisplayFor(model => model.ApplicableStandard)</td>
                            </tr>

                            @if (Certificate_AdminPanel.SessionWrapper.IsAdmin || Certificate_AdminPanel.SessionWrapper.AdminLevel == AdminLevel.Inspection)
                            {
            
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.Duplicate)</th>
                                    <td colspan="3">@Html.DisplayFor(model => model.Duplicate)</td>
                                </tr>
                                <tr>
                                    <th>Dealer</th>
                                    <td>
                                        @Html.DisplayFor(model => model.Name)
                                    </td>
                                    <th>Country</th>
                                    <td>@Html.DisplayFor(model => model.CountryName)</td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.Duplicate)</th>
                                    <td>@Html.DisplayFor(model => model.Duplicate)</td>
                                    <th>Country</th>
                                    <td>@Html.DisplayFor(model => model.CountryName)</td>


                                </tr>
                            }





                        </table>
                    </div>
                    <div class="box-footer">
                            @Html.ActionLink("Back to Index", "Index", null, new { @class = "btn btn-info pull-left" })
                    </div>
                    <!-- /.box-footer -->
                </div>
            </div>
        </div>
    </section>

</div>

