﻿@model Certificate_AdminPanel.ViewModels.CertificateView
@*@model Certificate_AdminPanel.Models.Certificate*@

@{
    ViewBag.Title = "Thinture Technologies Pvt. Ltd. Bangalore 560097";
    Layout = null;
}
<br/>

<!DOCTYPE html>
<html> 
    <head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Certification</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    </head>
        <body>
<link href="~/Content/Site.css" rel="stylesheet" />
    <section class="featured">
        <div class="content-wrapper">
            <table class="certificate_headertable"><tr><td rowspan="5"><img class="alignleft" src="~/Images/logo/Untitled.jpg" /></td><td class="certificate_headerow2">ROAD SPEED LIMITER CERTIFICATE</td></tr>
                  
                 <tr class="certificate_headerow3"><td>THINTURE TECHNOLOGIES PVT. LTD.</td></tr>
                <tr class="certificate_headerow3"><td>Bangalore, Karnataka INDIA</td></tr>
                <tr class="certificate_headerow3"><td>Phone: +91 80 23646920</td></tr>
                <tr class="certificate_headerow3"><td>sales@thinture.com, www.thinture.com</td></tr>
            </table>
          

            <table class="certificate_table"><tr><td class="td_1"><span class="table_col">Applicable standard</span></td><td class="td_1">@Html.DisplayFor(model => model.ApplicableStandard)</td><td class="td_1">Country of Installation</td><td class="td_1">@Html.DisplayFor(model => model.CountryName)</td></tr></table>
           
            
            <p class="certificate_sections">
              <span>DECLARATION</span>
            </p>
            <p class="para"> This is to certify that the vehicle with below mentioned details has been fitted with Road Speed Limiter 
device, programmed for a top speed of maximum <span class="speed">__@Html.DisplayFor(model=>model.SetSpeed)___</span> km/hr. The speed Limiter fitted to the vehicle
complies with the Applicable Standard. The device is calibrated and Sealed.</p>
            <p class="certificate_sections">
              <span>VEHICLE DETAILS</span>
            </p>
            <table class="certificate_table">
               
                <tr><td class="td_1">Vehicle Owner</td><td  colspan="3" class="td_1">@Html.DisplayFor(model=>model.OwnerName)</td></tr>
                <tr><td class="td_1">Chassis No.</td><td class="td_1">@Html.DisplayFor(model=>model.ChassisNo)</td><td class="td_1">Registration No.</td><td class="td_1">@Html.DisplayFor(model=>model.VehRegistrationNo)</td></tr>
                <tr><td class="td_1">Make of Vehicle</td><td class="td_1">@Html.DisplayFor(model=>model.MakeOfVehicle)</td><td class="td_1">Model of Vehicle</td><td class="td_1">@Html.DisplayFor(model=>model.ModelOfVehicle)</td></tr>
                <tr><td class="td_1">Engine No.</td><td class="td_1">@Html.DisplayFor(model=>model.EngineNo)</td><td class="td_1">Year of Manufacture</td><td class="td_1">@Html.DisplayFor(model=>model.ManufactureYear)</td></tr>
            </table>
            <br />
            <p class="certificate_sections">
              <span>SPEED LIMITER DETAILS</span>
            </p>
            <table class="certificate_table">
                <tr><td class="td_1">Type of Speed Limiter</td><td class="td_1">@Html.DisplayFor(model=>model.TypeSpeedLimiter)</td><td class="td_1">Set speed limit</td><td class="td_1">@Html.DisplayFor(model=>model.SetSpeed)km/hr</td></tr>
                <tr><td class="td_1">Serial No.</td><td class="td_1">@Html.DisplayFor(model=>model.SerialNo)</td><td class="td_1">Tamper Seal No.</td><td class="td_1">@Html.DisplayFor(model=>model.TamperSealNo)</td></tr>
                <tr><td class="td_1">Date of Installation</td><td class="td_1">@Html.DisplayFor(model=>model.InstallDate)</td><td class="td_1">Technician Name</td><td class="td_1">@Html.DisplayFor(model=>model.TechnicianName)</td></tr>
            </table>
            <p class="certificate_sections">
              <span>DEALER DETAILS</span>
            </p>
            <table class="certificate_table">
                <tr><td class="td_2">Dealer Name</td><td class="td_3">@Html.DisplayFor(model=>model.Name)</td></tr>
                <tr><td class="td_2">Address</td><td class="td_3">@Html.DisplayFor(model=>model.Address)</td></tr>
            </table>

            <table class="certificate_table">
                <tr><td class="td_1">UIN (Unique identification number)</td><td class="td_1">@Html.DisplayFor(model=>model.CertificateNo)</td><td class="td_1">Date</td><td class="td_1">@Html.DisplayFor(model=>model.Cdate)</td></tr>
            </table>

            <table class="certificate_table1">
               

                <tr><td class="td_6"> @Html.QRCode("http://"+Request.Url.Host+"/Certificate/Search?searchString="+Model.CertificateNo,80,4,QRCodeErrorCorrectionLevel.High)</td><td class="td_5"><span> Dealer Stamp </span></td><td class="td_7">@Html.Raw(ViewBag.htmlBarcode)</td></tr>
            </table>
       </div>
    </section>
    
    </body>

    </html>
    