﻿@model Certificate_AdminPanel.Models.Certificate
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminTemplate.cshtml";
    
}
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

<script src="~/AdminTemplates/plugins/select2/select2.full.min.js"></script>
<link href="~/AdminTemplates/plugins/select2/select2.min.css" rel="stylesheet" />
<script src="~/AdminTemplates/plugins/iCheck/icheck.min.js"></script>
<style>
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 23px;
    }
</style>
<script>
    $(document).ready(function () {
        var speed2 = $("#speed2").val();
        $(".select2").select2();
       
       
        if ($("#TypeSpeedLimiter").val() == "Fuel Control" || $("#TypeSpeedLimiter").val() == "Electronic Pedal") {
            $(".tmpspeed2").show();
        }
        else {
            $(".tmpspeed2").hide();
           
        }
        $("#TypeSpeedLimiter").on("change", function () {

            switch (this.value) {
                case "Fuel Control":
                    $(".tmpspeed2").show();
                    $("#speed2").val(speed2);
                    break;
                case "Electronic Pedal":
                    $(".tmpspeed2").show();
                    $("#speed2").val(speed2);
                    break;
                default:
                    $(".tmpspeed2").hide();
                    $("#speed2").val("");
                    break;
            }

        });
    });
</script>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>SpeedLimiter
       
            <small>Edit form</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a href="/Certificate/Index">SpeedLimiter</a></li>
            <li class="active">Edit</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">

            <!-- Horizontal Form -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Edit</h3>
                </div>
                @using (Html.BeginForm("Edit", "Certificate", FormMethod.Post, new { enctype = "multipart/form-data", id = "myForm1", @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
    
                    @Html.HiddenFor(model => model.CertificateNo)
  
                    @Html.HiddenFor(model => model.InstallDate)
                    @Html.HiddenFor(model => model.DealerId)
                    @Html.HiddenFor(model => model.Country)
                    @Html.HiddenFor(model => model.CalibrationDate)
                
                    @Html.HiddenFor(model => model.SerialNo)
                    <div class="box-body">

                        <!-- left column -->
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.VehRegistrationNo, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.VehRegistrationNo, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.VehRegistrationNo)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ChassisNo, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.ChassisNo, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.ChassisNo)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ManufactureYear, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.ManufactureYear, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.ManufactureYear)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ModelOfVehicle, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.ModelOfVehicle, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.ModelOfVehicle)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.SetSpeed, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.SetSpeed, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.SetSpeed)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.TamperSealNo, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.TamperSealNo, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.TamperSealNo)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.TechnicianName, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.TechnicianName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.TechnicianName)
                                </div>
                            </div>
                        </div>
                        <!-- right column -->
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.OwnerName, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.OwnerName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.OwnerName)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.EngineNo, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.EngineNo, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.EngineNo)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.MakeOfVehicle, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.MakeOfVehicle, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.MakeOfVehicle)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.TypeSpeedLimiter, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.DropDownListFor(model => model.TypeSpeedLimiter, (SelectList)ViewBag.SpeedLimiterType, "-select-", new { style = "width:100%;", @class = "form-control select2" })
                                    @Html.ValidationMessageFor(model => model.TypeSpeedLimiter)
                                </div>
                            </div>
                            <div class="form-group tmpspeed2">
                                @Html.LabelFor(model => model.speed2, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.speed2, new { @class = "form-control", tabindex = 11 })

                                    @Html.ValidationMessageFor(model => model.speed2)

                                </div>

                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.SerialNo, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.SerialNo, new { @class = "form-control",disabled=true })
                                    @Html.ValidationMessageFor(model => model.SerialNo)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ApplicableStandard, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.DropDownListFor(model => model.ApplicableStandard, (SelectList)ViewBag.AppStd, "-select-", new { style = "width:100%;", @class = "form-control select2" })

                                    @Html.ValidationMessageFor(model => model.ApplicableStandard)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        @Html.ActionLink("Back to Index", "Index", null, new { @class = "btn btn-info pull-left" })
                        <button type="submit" class="btn btn-info pull-right">Submit</button>
                    </div>

                }
            </div>
        </div>
    </section>
</div>

@*@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    @Html.HiddenFor(model => model.CertificateNo)
   
    @Html.HiddenFor(model => model.InstallDate)
    @Html.HiddenFor(model => model.DealerId)
    @Html.HiddenFor(model => model.Country)
    <fieldset style="width: 640px; overflow: auto;">

        <legend>Certificate</legend>
        <table class="grid">


            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.VehRegistrationNo)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.VehRegistrationNo)
                        @Html.ValidationMessageFor(model => model.VehRegistrationNo)
                    </div>
                </td>

                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.OwnerName)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.OwnerName)
                        @Html.ValidationMessageFor(model => model.OwnerName)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.ChassisNo)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.ChassisNo)
                        @Html.ValidationMessageFor(model => model.ChassisNo)
                    </div>
                </td>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.EngineNo)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.EngineNo)
                        @Html.ValidationMessageFor(model => model.EngineNo)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.ManufactureYear)
                    </div>
                </td>
                <td>

                    <div class="editor-field">
                      
                        @Html.EditorFor(model => model.ManufactureYear)
                        @Html.ValidationMessageFor(model => model.ManufactureYear)
                    </div>
                </td>

                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.MakeOfVehicle)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.MakeOfVehicle)
                        @Html.ValidationMessageFor(model => model.MakeOfVehicle)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.ModelOfVehicle)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.ModelOfVehicle)
                        @Html.ValidationMessageFor(model => model.ModelOfVehicle)
                    </div>
                </td>

                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.TypeSpeedLimiter)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.DropDownListFor(model => model.TypeSpeedLimiter, (SelectList)ViewBag.SpeedLimiterType, "-select-", new { style = "width:160px;" })
                        @Html.ValidationMessageFor(model => model.TypeSpeedLimiter)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.SetSpeed)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.SetSpeed)
                        @Html.ValidationMessageFor(model => model.SetSpeed)
                    </div>
                </td>

                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.SerialNo)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.SerialNo)
                        @Html.ValidationMessageFor(model => model.SerialNo)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.TamperSealNo)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.TamperSealNo)
                        @Html.ValidationMessageFor(model => model.TamperSealNo)
                    </div>
                </td>

              
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.ApplicableStandard)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.DropDownListFor(model => model.ApplicableStandard, (SelectList)ViewBag.AppStd, "-select-", new { style = "width:160px;" })
                        
                        @Html.ValidationMessageFor(model => model.ApplicableStandard)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.TechnicianName)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.TechnicianName)
                        @Html.ValidationMessageFor(model => model.TechnicianName)
                    </div>
                </td>


            </tr>
           
            <tr>

                <td>
                    <input type="submit" value="Save" />
                </td>
            </tr>
        </table>
    </fieldset>
      
}
*@



