﻿@model IEnumerable<Certificate_AdminPanel.ViewModels.CertificateView>

@*@model IEnumerable<Certificate_AdminPanel.Models.Certificate>*@
@{
    ViewBag.Title = "Index";
}
<script src="~/AdminTemplates/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
<link href="~/AdminTemplates/plugins/datatables/extensions/Responsive/css/dataTables.responsive.css" rel="stylesheet" />
<script src="~/Scripts/TableTools.min.js"></script>
<link href="~/Scripts/TableTools.css" rel="stylesheet" />
<script>
    $(document).ready(function () {
        var table = $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "sDom": 'T<"clear">lfrtip',
            "oTableTools": {
                "aButtons": [
                    "xls",
                    "pdf",
                    "print"],
                "sSwfPath": "../../Content/swf/copy_csv_xls_pdf.swf"
            }

        });
        new $.fn.dataTable.Responsive(table);
    });
</script>
<div class="content-wrapper">


    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>SpeedLimiter
       
        <small>Expired Certificate Details</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a href="#">Report</a></li>
            <li class="active">Index</li>
        </ol>
    </section>
    <!-- Content Header (Page header) -->


    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Expired Details</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">

                        <table id="example2" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CertificateNo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.VehRegistrationNo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.SerialNo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ExpDate)
                                    </th>
                                    <th>Created date
                                    </th>
                                    <th>Company 
                                    </th>

                                    <td>Details</td>

                                </tr>
                            </thead>
                            @foreach (var item in Model)
                            {

                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CertificateNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.VehRegistrationNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SerialNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ExpDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Cdate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>

                                    <td>

                                        <a href="/Certificate/det/@item.CertificateNo" class="iframedetails" style="text-decoration:none">
                                            <span class="glyphicon glyphicon-list-alt"></span>
                                        </a>
                                    </td>
                                </tr>
     
                            }

                        </table>
                        <p>
                            <span style="text-decoration: underline; font-weight: bold">Note:</span> N/A=Not Available
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
