﻿@model Certificate_AdminPanel.ViewModels.CertificateView
@using System.Web.Optimization
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Certificate- Details</title>
</head>
<link href="~/Content/Site.css" rel="stylesheet" />
<body>

    @if (Model != null)
    {
        @Styles.Render("~/bundles/bootstrap")
        @Styles.Render("~/bundles/BootstrapDatatable")
        @Styles.Render("~/bundles/MaterialTheme")
        @Styles.Render("~/bundles/Datetime")
        @Styles.Render("~/bundles/morris")
        @Styles.Render("~/bundles/DateRangePicker")
        @Styles.Render("~/bundles/jvectormap")
        @Styles.Render("~/bundles/wysihtml5")
        @Scripts.Render("~/bundles/jqueryLib")
        <div class="content-wrapper">


            <!-- Content Header (Page header) -->
           @* <section class="content-header">
                <h1>SpeedLimiter
       
        <small>Details Information</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
                    <li><a href="#">SpeedLimiter</a></li>
                    <li class="active">Information</li>
                </ol>
            </section>*@
            <section class="content">
                <div class="container">
                    <div class="row ">
                        <div class="col-xs-12">

                            <div class="col-lg-10 centered">
                                <div class="row text-center" style="margin-top: 20px">
                                    <img src="~/Content/Thinturelogo.png" style="max-width: 150px; max-height: 90px;" />
                                </div>
                                <br />
                                <div class="col-xs-12">
                                    <div class="box">
                                        <div class="box-header">
                                            @if (Model.Expired == "Expired")
                                            {
                                                <h3 class="box-title">Details Information  (Expired)</h3>
                                            }
                                            else
                                            {
                                                <h3 class="box-title">Details Information</h3>
                                            }
                                        </div>
                                        <!-- /.box-header -->
                                        <div class="box-body">
                                            <table id="example2" class="table table-bordered table-striped">
                                                <tr>
                                                    <th>@Html.DisplayNameFor(model => model.VehRegistrationNo)</th>
                                                    <td>@Html.DisplayFor(model => model.VehRegistrationNo)</td>
                                                    <th>@Html.DisplayNameFor(model => model.OwnerName)</th>
                                                    <td>@Html.DisplayFor(model => model.OwnerName)</td>
                                                </tr>
                                                <tr>
                                                    <th>@Html.DisplayNameFor(model => model.ChassisNo)</th>
                                                    <td>@Html.DisplayFor(model => model.ChassisNo)</td>
                                                    <th>@Html.DisplayNameFor(model => model.EngineNo)</th>
                                                    <td>@Html.DisplayFor(model => model.EngineNo)</td>
                                                </tr>
                                                <tr>
                                                    <th>@Html.DisplayNameFor(model => model.ManufactureYear)</th>
                                                    <td>@Html.DisplayFor(model => model.ManufactureYear)</td>
                                                    <th>@Html.DisplayNameFor(model => model.MakeOfVehicle)</th>
                                                    <td>@Html.DisplayFor(model => model.MakeOfVehicle)</td>
                                                </tr>
                                                <tr>
                                                    <th>@Html.DisplayNameFor(model => model.ModelOfVehicle)</th>
                                                    <td>@Html.DisplayFor(model => model.ModelOfVehicle)</td>
                                                    <th>@Html.DisplayNameFor(model => model.TypeSpeedLimiter)</th>
                                                    <td>@Html.DisplayFor(model => model.TypeSpeedLimiter)</td>
                                                </tr>
                                                <tr>

                                                    <th>@Html.DisplayNameFor(model => model.SetSpeed)</th>
                                                    <td>@Html.DisplayFor(model => model.SetSpeed),@Html.DisplayFor(model => model.speed2)</td>
                                                    <th>@Html.DisplayNameFor(model => model.SerialNo)</th>
                                                    <td>
                                                        @Html.DisplayFor(model => model.SerialNo)
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>@Html.DisplayNameFor(model => model.TamperSealNo)</th>
                                                    <td>@Html.DisplayFor(model => model.TamperSealNo)</td>
                                                    <th>@Html.DisplayNameFor(model => model.InstallDate)</th>
                                                    <td>@Html.DisplayFor(model => model.InstallDate)</td>
                                                </tr>
                                                <tr>
                                                    <th>@Html.DisplayNameFor(model => model.ExpDate)</th>
                                                    <td>@Html.DisplayFor(model => model.ExpDate)</td>
                                                    <th>@Html.DisplayNameFor(model => model.ApplicableStandard)</th>
                                                    <td>@Html.DisplayFor(model => model.ApplicableStandard)</td>
                                                </tr>
                                                
                                            </table>
                                        </div>

                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>
            </section>

        </div>
        
@*   <table id="box-table-a">
            <thead>
                <tr>
                    <th scope="col">Name     </th>
                    <th scope="col">Details   </th>
                    <th scope="col">Name     </th>
                    <th scope="col">Details   </th>
                </tr>
            </thead>
            @if (Model.Expired == "Expired")
            {
                <tr>
                    <td colspan="4">Expired    </td>
                </tr>
            }
            <tr>
                <td>
                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.VehRegistrationNo)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.VehRegistrationNo)
                    </div>
                </td>
                <td>

                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.OwnerName)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.OwnerName)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.ChassisNo)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.ChassisNo)
                    </div>
                </td>
                <td>

                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.EngineNo)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.EngineNo)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.ManufactureYear)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.ManufactureYear)
                    </div>
                </td>
                <td>

                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.MakeOfVehicle)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.MakeOfVehicle)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.ModelOfVehicle)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.ModelOfVehicle)
                    </div>
                </td>
                <td>

                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.TypeSpeedLimiter)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.TypeSpeedLimiter)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.SetSpeed)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.SetSpeed)
                    </div>
                </td>
                <td>

                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.SerialNo)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.SerialNo)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.TamperSealNo)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.TamperSealNo)
                    </div>
                </td>
                <td>

                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.InstallDate)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.InstallDate)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.ExpDate)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.ExpDate)
                    </div>
                </td>
                <td>



                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.ApplicableStandard)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.ApplicableStandard)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.CountryName)
                    </div>
                </td>
                <td>
                    <div class="display-field">
                        @Html.DisplayFor(model => model.CountryName)
                    </div>
                </td>
                <td>

                    @* <div class="display-label">
            Company
        </div>
           


        </table>
              *@
    }
    else
    {
        
        <h3>No Data Found</h3>
    }


</body>
</html>
