﻿-@model IEnumerable<Certificate_AdminPanel.ViewModels.CertificateView>

@*@model IEnumerable<Certificate_AdminPanel.Models.Certificate>*@
@{
    ViewBag.Title = "Index";
    bool isAdmin = Certificate_AdminPanel.SessionWrapper.IsAdmin;
    AdminLevel AdminLevel_1 = Certificate_AdminPanel.SessionWrapper.AdminLevel;
}
@*<script src="~/AdminTemplates/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
<link href="~/AdminTemplates/plugins/datatables/extensions/Responsive/css/dataTables.responsive.css" rel="stylesheet" />*@
@using System.Web.Optimization
@Styles.Render("~/bundles/DatatableResposive")
@Scripts.Render("~/bundles/DatetableResposiveJs")

<link href="~/Scripts/TableTools.css" rel="stylesheet" />
<script src="~/Scripts/TableTools.min.js"></script>


<style>
    .conditionalRowColor {
        background: green;
    }
</style>
<script type="text/javascript">
    var mon = ["JAN", "FEB", "MAR", "APR", "MAY", "JUN", "JUL", "AUG", "SEP", "OCT", "NOV", "DEC"]

    $(document).ready(function () {

        var table = $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "order": [[ 2, "desc" ]] ,
            "sDom": 'T<"clear">lfrtip',
            "oTableTools": {
                "aButtons": [
                    "xls",
                    "pdf",
                    "print"],
                "sSwfPath": "../../Content/swf/copy_csv_xls_pdf.swf"
            },
            "ajax": {
                "url": '../../JsonStorage/SpeedLimiter.txt',
                "dataSrc": ""
            },
            'rowCallback': function (row, data, index) {
                //debugger;
                if (data.E_Stat == true && new Date(data.ExpDate) < new Date()) {

                    $(row).css('background-color', '#F0F8FF');
                    return data;
                }
                else if (data.E_Stat == true) {
                    return data;
                }
                //else if (data.E_Stat == false) {

                //}
                // $(row).hide();
                return;
            },

            "aoColumns": [
                                { "data": "CertificateNo" },
                                { "data": "VehRegistrationNo" },
                                {
                                    "data": "Cdate",
                                    "render": function (data, type, row) {

                                        return formatDate(data);
                                    }
                                },
                                {
                                    "data": "ExpDate",
                                    "render": function (data, type, row) {

                                        return formatDate(data);
                                    }
                                },
                                { "data": "ChassisNo" },
                                { "data": "EngineNo" },
                                { "data": "SerialNo" },
                                { "data": "Name" },
            {
                "render": function (data, type, row) {

                    var details = '<a href="/Certificate/det/' + row.CertificateNo + '" title="Details" class="iframedetails" style="text-decoration:none"> <span class="glyphicon glyphicon-list-alt"></span></a>';
                    var pdf = '<a href="/Certificate/Generate/' + row.CertificateNo + '" target="_blank" title="Pdf" class="iframedetails" style="text-decoration:none"> <span class="glyphicon glyphicon-save-file"></span></a>';
                    var repair = '<a href="/Certificate/Repair/' + row.CertificateNo + '" title="Repair" class="iframedetails" style="text-decoration:none"> <span class="glyphicon glyphicon-wrench"></span></a>';
                    var edit = '<a href="/Certificate/Edit/' + row.CertificateNo + '"title="Edit" class="iframedetails" style="text-decoration:none"> <span class="glyphicon glyphicon-edit"></span></a>';
                    var dele = '<a href="/Certificate/Delete/' + row.CertificateNo + '" title="Delete" data-toggle="modal"  data-target="myModal" class="cls-modal" style="text-decoration:none"> <span class="glyphicon glyphicon-trash"></span></a>';
                    var issue = '<a href="/Certificate/ReIssue/' + row.CertificateNo + '" title="ReIssue" class="iframedetails" style="text-decoration:none"> <span class="glyphicon glyphicon-certificate"></span></a>';
                    var action = "";
                    if ('@isAdmin' == "True") {

                        if ("@AdminLevel_1" == "Admin") {
                            action = details + " " + pdf + " " + edit + " " + issue + " " + dele;
                        }
                        else if (row.VehRegistrationNo.toUpperCase() != "DEMO") {
                            if ("@AdminLevel_1" == "Admin") {
                                action = details + " " + pdf + " " + edit + " " + dele;
                            }
                            else if ("@AdminLevel_1" == "SubAdmin") {
                                action = details + " " + pdf + " " + edit;
                            }
                            else {
                                action = details + " " + pdf;
                            }

                        }
                        else if (row.VehRegistrationNo == "" && "@AdminLevel_1" != "Inspection") {
                            action = details + " " + pdf + " " + issue;

                        }
                        else {
                            action = "";
                        }


                    }
                    else {
                        action = details + " " + pdf;
                    }
                        return action;
                }
              
                },

                ]
            });//end of table
            new $.fn.dataTable.Responsive(table);
            // JS script
            //$("#example2").on("click", ".cls-modal", function () {
            //    // e.preventDefault();
            //    //debugger;
            //    $('#myModal').modal('show').find('.contents').load($(this).attr('href'));
            //});
            
            $("#example2").on("click", ".cls-modal", function () {
               // alert($(this).attr('href'))
                $('#myModal').modal('show').find('.contents').load($(this).attr('href'));
            });
        });//end of docu
    function formatdate(_jsondate) {

        var _year = _jsondate.substring(0, 5);
        var _month = _jsondate.substring(5) - 1;
        //var _date = new Date(parseInt(_jsondate.replace(/(^.*\()|([+-].*$)/g, '')));
        //var _date = new Date( eval(_jsondate.replace(/\/Date\((.*?)\)\//gi, "new Date($1)")));
        //return _date.getMonth() + 1 + '-' + _date.getDate() + '-' + _date.getFullYear();


        return mon[_month];
    }


</script>


<div class="content-wrapper">


    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>SpeedLimiter
       
        <small>Certificate Details</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a href="#">SpeedLimiter</a></li>
            <li class="active">Index</li>
        </ol>
    </section>
    <!-- Content Header (Page header) -->


    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Certificate Details</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <a href="/Certificate/Create" class="btn bg-olive pull-left">Create</a>
                        <table id="example2" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CertificateNo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.VehRegistrationNo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Cdate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ExpDate)
                                    </th>

                                    <th>
                                        @Html.DisplayNameFor(model => model.ChassisNo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.EngineNo)
                                    </th>

                                    <th>
                                        @Html.DisplayNameFor(model => model.SerialNo)
                                    </th>
                                    <th>Dealer
                                    </th>
                                    <th>Action</th>
                                </tr>
                            </thead>


                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- /.example-modal -->


<div class="modal modal-info " id="myModal" role="dialog">
    <div class="modal-dialog contents">
    </div>
    <!-- /.modal-content -->
</div>

