﻿@model Certificate_AdminPanel.Models.Certificate

@{
    ViewBag.Title = "Repair";
    Layout = "~/Views/Shared/_AdminTemplate.cshtml";
}
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>SpeedLimiter
       
            <small>Repair form</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a href="/Certificate/Index">SpeedLimiter</a></li>
            <li class="active">Repair</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">

            <!-- Horizontal Form -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Repair</h3>
                </div>
                @using (Html.BeginForm("Repair", "Certificate", FormMethod.Post, new { enctype = "multipart/form-data", id = "myForm1", @class = "form-horizontal" }))
                {     <p>
                    @Html.AntiForgeryToken()
                </p>
                    @Html.ValidationSummary(true)
    
                    @Html.HiddenFor(model => model.CertificateNo)
                    @Html.HiddenFor(model => model.VehRegistrationNo)
                    @Html.HiddenFor(model => model.OwnerName)
                    @Html.HiddenFor(model => model.ChassisNo)
                    @Html.HiddenFor(model => model.EngineNo)
                    @Html.HiddenFor(model => model.ManufactureYear)
                    @Html.HiddenFor(model => model.MakeOfVehicle)
                    @Html.HiddenFor(model => model.ModelOfVehicle)
                    @Html.HiddenFor(model => model.TypeSpeedLimiter)
                    @Html.HiddenFor(model => model.SetSpeed)
                    @Html.HiddenFor(model => model.InstallDate)
                    @Html.HiddenFor(model => model.CalibrationDate)
                    @Html.HiddenFor(model => model.Cdate)
                    @Html.HiddenFor(model => model.ExpDate)
                    @Html.HiddenFor(model => model.ApplicableStandard)
                    @Html.HiddenFor(model => model.DealerId)
                    @Html.HiddenFor(model => model.Cuser)
                    @Html.HiddenFor(model => model.Country)
                    @Html.HiddenFor(model => model.Muser)
                    @Html.HiddenFor(model => model.E_Stat)

                    <div class="box-body">

                        <!-- left column -->
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.SerialNo, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.SerialNo, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.SerialNo)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.TechnicianName, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.TechnicianName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.TechnicianName)
                                </div>
                            </div>



                        </div>
                        <!-- right column -->
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.TamperSealNo, new { @class = "col-sm-2 control-label" })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.TamperSealNo, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.TamperSealNo)
                                </div>
                            </div>
                        </div>

                    </div>
                  <div class="box-footer">
                        @Html.ActionLink("Back to Index", "Index", null, new { @class = "btn btn-info pull-left" })
                        <button type="submit" class="btn btn-info pull-right">Submit</button>
                    </div>

                }
            </div>
        </div>
    </section>
</div>


