﻿@model Certificate_AdminPanel.ViewModels.CertificateView
@{
    ViewBag.Title = "Thinture Technologies Pvt. Ltd. Bangalore 560097";
    Layout = null;
}
<br />

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    @* <title>@ViewBag.Title - Certification</title>*@
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
    @if (Model.Duplicate > 0)
    {
        <p style="text-align: center; font-weight: normal; font-size: 12px; color: #999999; font-family: arial unicode ms;">
            DUPLICATE
           
        </p>
    }
    else if (Model.InstallDate.AddYears(1).AddDays(-30) <= DateTime.UtcNow.Date)
    {
        <p style="text-align: center; font-weight: normal; font-size: 12px; color: #999999">
            Renewal
        </p>
    }
    <br />
    <div border="1">
        <table cellpadding="4" border="0">
            <tr>
                @* <td style="margin-top: 2px; padding-bottom: 0px; padding-left: 5px; font-size: 12px; font-weight: bold; font-family: Arial, Helvetica, sans-serif; text-align: center" bgcolor="#66B65A">
                    <span>ROAD SPEED LIMITER CERTIFICATE</span>
                </td>*@
                <td style="font-family: arial unicode ms; padding-top: 2px; padding-bottom: 1px; padding-left: 5px; font-size: 10px; font-weight: bold;" bgcolor="#66B65A">ROAD SPEED LIMITER CERTIFICATE &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;СЕРТИФИКАТ НА ОГРАНИЧИТЕЛЬ СКОРОСТИ
                </td>
            </tr>
        </table>

        <table border="0" top="5" width="100%" style='width: 100%;'>


            <tr>
                <td width="30%" style="">
                    <img src="../Thinture-russia.png" height="45" />
                </td>
                <td width="50%" style="font-size: 10px">

                    @* <p style="font-weight: bold">THINTURE TECHNOLOGIES PVT LTD.</p>
                    <p>#508,Vidyaranyaura,Bangalore</p>
                    <p>KARNATAKA - INDIA - 560097</p>
                    <p>Web:www.thinture.com</p>
                    <p>Phone No:+91 80 23646920/41666965</p>*@

                </td>
                <td width="25%">
                    <p style="text-align: center; font-weight: normal; font-size: 12px;">
                        EVEN CO LTD
                    </p>
                    <p style="font-family: arial unicode ms;text-align: center;font-size: 12px;">
                        ГК ЭВЭН
                    </p>
                    @* <img src="../icat.jpg" height="60" />*@
                </td>
                </td>
            </tr>

            @* <tr>
                    <td rowspan="0"></td>
                </tr>
                <tr style="text-align: right;">
                    <td>Thinture Technologies</td>
                </tr>
                <tr style="text-align: right;">
                    <td>#508, HMT Layout </td>
                </tr>
                <tr style="text-align: right;">
                    <td>Vidyaranyaura,Bangalore </td>
                </tr>
                <tr style="text-align: right;">
                    <td>Phone No:@Model.AdminPhone </td>
                </tr>
                <tr style="text-align: right;">
                    <td>@Model.AdminEmail </td>

                </tr>*@
        </table>
        <table style="border: 1px groove #000000; width: 100%; height: 15px; font-family: Verdana; font-size: 9px; color: #000000;">
            <tr>
                @*  <td style="border: 1px groove #000000; width: 150px; height: 15px; font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #000000; padding-left: 5px;"><span class="table_col">Applicable standard</span></td>
                <td style="border: 1px groove #000000; width: 150px; height: 15px; font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #000000; padding-left: 5px;">@Html.DisplayFor(model => model.ApplicableStandard)</td>
                <td style="border: 1px groove #000000; width: 150px; height: 15px; font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #000000; padding-left: 5px;">Country of Installation</td>
                <td style="border: 1px groove #000000; width: 150px; height: 15px; font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #000000; padding-left: 2px;">@Html.DisplayFor(model => model.CountryName)</td>*@
                <td style="border: 1px groove #000000; width: 150px; height: 10px; font-family: Arial, Helvetica, sans-serif; font-family: arial unicode ms; font-size: 7px; color: #000000; padding-left: 2px;">Applicable standard / Стандарт
                </td>
                <td style="border: 1px groove #000000; width: 150px; height: 10px; font-family: Arial, Helvetica, sans-serif; font-family: arial unicode ms; font-size: 7px; color: #000000; padding-left: 2px;">@Html.DisplayFor(model => model.ApplicableStandard)</td>
                <td style="border: 1px groove #000000; width: 150px; height: 10px; font-family: Arial, Helvetica, sans-serif; font-family: arial unicode ms; font-size: 7px; color: #000000; padding-left: 2px;">Country of Installation / Страна установки</td>
                <td style="border: 1px groove #000000; width: 150px; height: 10px; font-family: Arial, Helvetica, sans-serif; font-family: arial unicode ms; font-size: 7px; color: #000000; padding-left: 2px;">Russian Federation / Россия</td>

            </tr>
        </table>
        <br />
        <table cellpadding="4" border="0" style="padding: 2px">
            <tr>
                <td style="font-family: arial unicode ms; padding-top: 2px; padding-bottom: 1px; padding-left: 5px; font-size: 10px; font-weight: bold;" bgcolor="#66B65A">DECLARATION / ОПИСАНИЕ
                </td>
            </tr>
        </table>
        <p style="font-size: 8px; font-family: Arial, Helvetica, sans-serif; line-height: 10.5">
            This is to certify that the vehicle with below mentioned details has been fitted with Road Speed Limiter device,
            programmed for a top speed of maximum <span style="text-decoration: underline;">@Html.DisplayFor(model => model.SetSpeed)</span> km/hr.
             The speed limiter fitted to the vehicle complies with the Applicable Standard. The device is Calibrated and Sealed.
            The system is tested and approved by ICAT(International Centre for Automotive Technology).
        </p>
        <p style="font-size: 8px; line-height: 10.5; font-family: arial unicode ms;">
            Настоящим удостоверяется, что транспортное средство с указанными ниже данными было оснащено одобренным устройством ограничения скорости, запрограммированного на
максимальную скорость максимум <span style="text-decoration: underline;">@Html.DisplayFor(model => model.SetSpeed)</span> км/ч. Устройство откалибровано и опечатано.
        </p>
        <br />
        <table cellpadding="3" style="border: 1px groove #000000; width: 100%; height: 15px; font-family: Arial; color: #000000;">
            <tr>
                <td colspan="4" style="margin-top: 2px; padding-bottom: 0px; padding-left: 5px; font-size: 10px; font-weight: bold; font-family: arial unicode ms;" bgcolor="#66B65A">VEHICLE DETAILS / ДАННЫЕ ТРАНСПОРТНОГО СРЕДСТВА
                </td>
            </tr>
            <tr>
                <td style="width: 150px; height: 15px; font-family: Arial,Helvetica, sans-serif; font-size: 9px; color: #000000; padding-left: 2px;">Vehicle Owner</td>
                <td colspan="2" style="width: 150px; height: 15px; font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #000000; padding-left: 2px;">@Html.DisplayFor(model => model.OwnerName)</td>
                <td colspan="0" style="width: 150px; height: 15px; font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #000000; padding-left: 2px; font-family: arial unicode ms;">Владелец ТС</td>
            </tr>
            <tr>
                <td style="width: 150px; height: 15px; font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #000000; padding-left: 2px;">Registration No.</td>
                <td colspan="2" style="width: 150px; height: 15px; font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #000000; padding-left: 2px;">@Html.DisplayFor(model => model.VehRegistrationNo)</td>
                <td colspan="0" style="width: 150px; height: 15px; font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #000000; padding-left: 2px; font-family: arial unicode ms;">Регистрационный номер</td>
            </tr>
            <tr>
                <td style="width: 150px; height: 15px; font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #000000; padding-left: 2px;">Chassis No.</td>
                <td colspan="2" style="width: 150px; height: 15px; font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #000000; padding-left: 2px;">@Html.DisplayFor(model => model.ChassisNo)</td>
                <td colspan="0" style="width: 150px; height: 15px; font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #000000; padding-left: 2px; font-family: arial unicode ms;">Номер шасси</td>
            </tr>
            <tr>
                <td style="width: 150px; height: 15px; font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #000000; padding-left: 2px;">Engine No</td>
                <td colspan="2" style="width: 150px; height: 15px; font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #000000; padding-left: 2px;">@Html.DisplayFor(model => model.EngineNo)</td>
                <td colspan="0" style="width: 150px; height: 15px; font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #000000; padding-left: 2px; font-family: arial unicode ms;">Номер двигателя</td>
            </tr>
            <tr>
                <td style="width: 150px; height: 15px; font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #000000; padding-left: 2px;">Make of Vehicle </td>
                <td colspan="2" style="width: 150px; height: 15px; font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #000000; padding-left: 2px;">@Html.DisplayFor(model => model.MakeOfVehicle)</td>
                <td colspan="0" style="width: 150px; height: 15px; font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #000000; padding-left: 2px; font-family: arial unicode ms;">Тип ТС</td>
            </tr>
            <tr>
                <td style="width: 150px; height: 15px; font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #000000; padding-left: 2px;">Model of Vehicle</td>
                <td colspan="2" style="width: 150px; height: 15px; font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #000000; padding-left: 2px;">@Html.DisplayFor(model => model.ModelOfVehicle)</td>
                <td colspan="0" style="width: 150px; height: 15px; font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #000000; padding-left: 2px; font-family: arial unicode ms;">Модель ТС</td>
            </tr>

            <tr>
                <td colspan="5" style="padding-top: 2px; padding-bottom: 1px; padding-left: 5px; font-size: 10px; font-weight: bold; font-size: 12px; font-family: arial unicode ms;" bgcolor="#66B65A">SPEED LIMITER DETAILS / ДАННЫЕ ОГРАНИЧИТЕЛЯ СКОРОСТИ  </td>
            </tr>
            <tr>
                <td style="width: 150px; height: 15px; font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #000000; padding-left: 2px;">Type of SpeedLimiter<span>
                </td>
                <td colspan="2" style="border: 1px groove #000000; width: 150px; height: 15px; font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #000000; padding-left: 2px;">@Html.DisplayFor(model => model.TypeSpeedLimiter)</td>
                <td colspan="0" style="width: 150px; height: 15px; font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #000000; padding-left: 2px; font-family: arial unicode ms;">Тип ограничителя скорости
                </td>
            </tr>

            <tr>
                <td style="border: 1px groove #000000; width: 150px; height: 15px; font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #000000; padding-left: 2px;">Serial No.</td>

                <td colspan="2" style="border: 1px groove #000000; width: 150px; height: 15px; font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #000000; padding-left: 2px;">@Html.DisplayFor(model => model.SerialNo)</td>
                <td colspan="0" style="width: 150px; height: 15px; font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #000000; padding-left: 2px; font-family: arial unicode ms;">Серийный номер
                </td>
            </tr>
            <tr>
                <td style="border: 1px groove #000000; width: 150px; height: 15px; font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #000000; padding-left: 2px;">Tamper Seal No. </td>
                <td colspan="2" style="border: 1px groove #000000; width: 150px; height: 15px; font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #000000; padding-left: 2px;">@Html.DisplayFor(model => model.TamperSealNo)</td>
                <td colspan="0" style="width: 150px; height: 15px; font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #000000; padding-left: 2px; font-family: arial unicode ms;">Номер пломбы</td>
            </tr>
            <tr>
                <td style="width: 150px; height: 15px; font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #000000; padding-left: 2px;">Date of Installation </td>
                <td colspan="2" style="border: 1px groove #000000; width: 150px; height: 15px; font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #000000; padding-left: 2px;">@Html.DisplayFor(model => model.InstallDate)</td>
                <td colspan="0" style="width: 150px; height: 15px; font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #000000; padding-left: 2px; font-family: arial unicode ms;">Дата установки</td>
            </tr>
            <tr>
                <td style="border: 1px groove #000000; width: 150px; height: 15px; font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #000000; padding-left: 2px;">Set speed limit</td>
                <td colspan="2" style="border: 1px groove #000000; width: 150px; height: 15px; font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #000000; padding-left: 2px;">@Html.DisplayFor(model => model.SetSpeed) km/hr</td>
                <td colspan="0" style="border: 1px groove #000000; width: 150px; height: 15px; font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #000000; padding-left: 2px; font-family: arial unicode ms;">Лимит скорости
                </td>
            </tr>
            <tr>
                <td style="border: 1px groove #000000; width: 150px; height: 15px; font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #000000; padding-left: 2px;">Technician Name</td>
                <td colspan="2" style="border: 1px groove #000000; width: 150px; height: 15px; font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #000000; padding-left: 2px;">@Html.DisplayFor(model => model.TechnicianName)</td>
                <td colspan="0" style="width: 150px; height: 15px; font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #000000; padding-left: 2px; font-family: arial unicode ms;"><span>Установщик</td>
            </tr>
            <tr>
                <td colspan="5" style="padding-top: 2px; padding-bottom: 1px; padding-left: 5px; font-size: 10px; font-weight: bold; font-family: arial unicode ms" bgcolor="#66B65A">DEALER DETAILS / ДАННЫЕ ДИЛЕРА
                </td>
            </tr>
            <tr>
                <td style="border: 1px groove #000000; width: 150px; height: 15px; font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #000000; padding-left: 2px;">Dealer Name</td>
                <td colspan="2" style="border: 1px groove #000000; width: 150px; height: 15px; font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #000000; padding-left: 2px;">@Html.DisplayFor(model => model.Name)</td>
                <td colspan="0" style="border: 1px groove #000000; width: 150px; height: 15px; font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #000000; padding-left: 2px; font-family: arial unicode ms;">Дилер
                </td>
            </tr>
            <tr>
                <td style="width: 150px; height: 15px; font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #000000; padding-left: 2px;">Address & Phone </td>
                <td colspan="2" style="border: 1px groove #000000; width: 150px; height: 15px; font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #000000; padding-left: 2px;">@Html.DisplayFor(model => model.Address),@Html.DisplayFor(model => model.PhoneNo)</td>
                <td colspan="0" style="border: 1px groove #000000; width: 150px; height: 15px; font-family: Arial, Helvetica, sans-serif; font-family: arial unicode ms; font-size: 9px; color: #000000; padding-left: 2px;">Адрес и телефон</td>
            </tr>
        </table>
        <br />
        <table style="width: 100%; height: 15px; font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #000000;">
            <tr>
                @* <td colspan="0" style="width: 150px; height: 15px; font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #000000; padding-left: 2px;">@Html.DisplayFor(model => model.CertificateNo)</td>*@
                @*<td colspan="3" style="width: 150px; height: 15px; font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #000000; padding-left: 2px;font-family:arial unicode ms;">@Html.DisplayFor(model => model.CertificateNo)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>
                   Уникальный идентификационный номер</td>*@
                <td style="width: 150px; height: 15px; font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #000000; padding-left: 2px;">Unique identification number</td>

                <td colspan="0" style="width: 150px; height: 15px; font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #000000; padding-left: 2px;">@Html.DisplayFor(model => model.CertificateNo)

                </td>
                <td colspan="2" style="width: 150px; height: 15px; font-size: 9px; color: #000000; padding-left: 2px; font-family: arial unicode ms;">Уникальный идентификационный номер</td>
            </tr>
            <tr>
                <td style="width: 150px; height: 15px; font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #000000; padding-left: 2px;">Valid Upto</td>
                <td colspan="0" style="width: 150px; height: 15px; font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #000000; padding-left: 2px;">@Html.DisplayFor(model => model.ExpDate)</td>
                <td colspan="2" style="width: 150px; height: 15px; font-size: 9px; color: #000000; padding-left: 2px; font-family: arial unicode ms;">Действителен до
                </td>
            </tr>
        </table>
        <p style="font-family: Arial,Helvetica, sans-serif; font-size: 7px; color: #000000; text-align: center">
            [ONE YEAR FREE-REPLACEMENT WARRANTY ON THE UNIT SUBJECT TO CONTINUED RENEWAL OF CERTIFICATE]
        </p>
        <p style="font-size: 7px; color: #000000; text-align: center; font-family: arial unicode ms;">
            [ТРЕХЛЕТНЯЯ ГАРАНТИЯ НА ПРИБОР ПРИ ПОВТОРНОМ ПРОДЛЕНИИ СЕРТИФИКАТА]
        </p>
        <br />
        <table class="certificate_table1">

            <tr>
                <td class="td_6">
                    @Html.QRCode("http://" + Request.Url.Host + "/Certificate/GetDet?searchString=" + Model.CertificateNo, 80, 4, QRCodeErrorCorrectionLevel.High)<br />
                </td>

                <td class="td_5" style="font-family: Arial, Helvetica, sans-serif; font-family: arial unicode ms; font-size: 9px;">
                Dealer Stamp Печать дилера
                <td class="td_7">@*<img id="img"  src="/Barcode.ashx?m=0&h=60&vCode=@ViewBag.vCode" alt="@ViewBag.vCode"/>*@@*<img width="120" height="50" src="@Model.DealerLogo" />*@</td>
            </tr>

        </table>
        <p style="font-family: Arial,Helvetica, sans-serif; font-size: 7px; color: #000000; text-align: center">
            The validity of this Certificate is verified from the following website or scanning the QR Code
        </p>
        <p style="font-size: 7px; font-family: arial unicode ms; text-align: center">
            Действительность данного сертификата проверяется на сайте или при сканировании QR-кода
        </p>
        <p style="font-family: Arial,Helvetica, sans-serif; font-size: 7px; color: #000000; text-align: center">www.thinture.com/get </p>
    </div>
    <br />
</body>

</html>
