﻿@model Certificate_AdminPanel.Models.Certificate
@using System.Web.Optimization
@{

    ViewBag.Title = "Search";

    if (Certificate_AdminPanel.SessionWrapper.AdminLevel == AdminLevel.None)
    {
        Layout = null;
        
    @Styles.Render("~/bundles/bootstrap")
    @Styles.Render("~/bundles/BootstrapDatatable")
    @Styles.Render("~/bundles/MaterialTheme")
    @Styles.Render("~/bundles/Datetime")
    @Styles.Render("~/bundles/morris")
    @Styles.Render("~/bundles/DateRangePicker")
    @Styles.Render("~/bundles/jvectormap")
    @Styles.Render("~/bundles/wysihtml5")
    @Scripts.Render("~/bundles/jqueryLib")
    <div class="container">
        <div class="row ">
            <div class="col-md-8 col-md-offset-3">
                <form class="form-horizontal" id="ui_element">
                    <div class="col-lg-10 centered">
                        <div class="row text-center" style="margin-top: 20px">
                            <img src="~/Content/Thinturelogo.png" style="max-width: 150px; max-height: 90px;" />
                        </div>
                        <br />
                        <div class='input-group text'>
                            <input type='text' class="form-control" id="searchString" placeholder="Search" style="min-height: 40px; font-size: 20px;" />
                            <div class="input-group-btn">
                                <button class="btn btn-success sb_search" type="button" id="SubmitButton" style="min-height: 40px;">
                                    <i class="glyphicon glyphicon-search"></i>
                                </button>
                            </div>
                        </div>
                        <div>
                            <div id="certtxt" style="display: none">
                                <h2>Congratulations!! </h2>
                                <span style="font-size: 24px; font-family: monospace;">The product is genuine</span>
                            </div>
                            <div id="CertDetails" class="table-responsive" style="border: none">
                            </div>
                        </div>
                    </div>
                </form>

            </div>

        </div>
    </div>


    }
    else
    {
       
    <div class="content-wrapper">

        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>Device
       
        <small>Search Details</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
                <li><a href="#">Device</a></li>
                <li class="active">Search</li>
            </ol>
        </section>
        <!-- Content Header (Page header) -->


        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Device Details</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">

                            <form class="form-horizontal" id="ui_element">
                                <div class="col-lg-10 centered">
                                    <div class='input-group text' style="display: block; text-align: center">
                                        <input type='text' class="form-control" id="searchString" placeholder="Search" style="min-height: 40px; font-size: 20px;" />
                                        <div class="input-group-btn">
                                            <button class="btn btn-success sb_search" type="button" id="SubmitButton" style="min-height: 40px;">
                                                <i class="glyphicon glyphicon-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div>
                                        <div id="certtxt" style="display: none">
                                            <h2>Congratulations!! </h2>
                                            <span style="font-size: 24px; font-family: monospace;">The product is genuine</span>
                                        </div>
                                        <div id="CertDetails" class="table-responsive" style="border: none">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    }


}

<style>
    footer {
        position: fixed;
        bottom: 0;
        padding: 10px;
        width: 100%;
        height: 50px; /* Height of the footer */
        background: #EFEBE9;
        font-weight: bold;
    }

    table.tbl_thinture {
        font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
        font-size: 12px;
        margin: 0px;
        min-width: 200px;
        text-align: left;
        border-collapse: collapse;
    }

    .tbl_thinture th {
        font-size: 14px;
        font-weight: normal;
        margin-right: 0px;
        color: #039;
    }

    .tbl_thinture td {
        margin-right: 0px;
        color: #669;
        border: 1px solid black;
        padding: 11px;
    }
</style>
<style type="text/css">
    .word-wrap {
        width: 100px; /* adjust to desired wrapping */
        display: table;
        white-space: pre-wrap; /* css-3 */
        white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
        white-space: -pre-wrap; /* Opera 4-6 */
        white-space: -o-pre-wrap; /* Opera 7 */
        word-wrap: break-word; /* Internet Explorer 5.5+ */
    }


    #one-column-emphasis {
        font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
        font-size: 12px;
        margin: 0px;
        min-width: 200px;
        text-align: left;
        border-collapse: collapse;
    }

        #one-column-emphasis th {
            font-size: 14px;
            font-weight: normal;
            margin-right: 0px;
            color: #039;
        }

        #one-column-emphasis td {
            margin-right: 0px;
            color: #669;
            border-top: 1px solid #e8edff;
        }


    #oce {
        text-align: center;
        font-size: 16px;
        color: red;
        height: 30px;
        /*width:280px; text-align: center;*/
        /*behavior:url(PIE.htc);*/
    }
</style>


<script>

    $(function () {
        var availableTags = new Array();
        $.getJSON("/Certificate/GetRegistrationNumber", null, function (data) {
            availableTags =
            $.each(data, function (i, item) {
                availableTags[i] = item;
            });
            $(".sb_input").autocomplete({
                source: availableTags
            });
        });



        function GetCertificateDetails(div, item) {
            div.append("<br/>" + "FName: " + item.FirstName + ", LName: " + item.LastName);
            $.each(item.Addresses, function (i, addr) {
                printAddress(div, addr);
            });
        }


        $(".sb_search").click(function () {

            if ($("#searchString").val() == null || $("#searchString").val() == '') { alert('Please Enter Vehicle Registration Number'); } else
            {
                var div = $('#CertDetails');
                var valstr = $("#searchString").val();
                var re = new RegExp("[a-zA-Z0-9]+[//]+[a-zA-Z0-9]+[//]+[a-zA-Z0-9]");
                if (re.test(valstr)) {
                    console.log("Valid");
                    $.getJSON("/Certificate/CheckSerialNo/?ser=" + $("#searchString").val(), null, function (data) {
                        debugger;
                        //if ($("#searchString").val() == "Expired")
                        //{
                        //    div.html("<br/><h3> " + "Found" + "</h3><br/>");
                        //}
                        if (data.genuine == false || data.length == 0) {
                            div.empty();
                            $("#certtxt").hide();
                            div.html("<br/><h3> " + "The Product is not Genuine!" + "</h3><br/>");
                        }

                        else {
                            div.empty();
                            $("#certtxt").show();
                            div.append("<br/><br/>");
                            exp = $('<p></p>').attr({ id: "oce" });

                            // mytable = $('<table></table>').attr({ id: "one-column-emphasis" });
                            mytable = $('<table class="tbl_thinture"  style=" table-layout: fixed; word-wrap: break-word;" ></table>');
                            //trow.appendTo(mytable);
                            colgroup = $('<colgroup></colgroup>')
                            $('<col></col>').attr({ id: "oce" }).appendTo(colgroup);
                            mytable.append(colgroup);
                            //  mytable.append(" <thead><Tr><th style='background-color:#CECEF6'>Dealer</th><th>Date</th><th>Status</th><th>Genuine</th></tr> </thead>");
                            mytable.append("<tbody style='white-space:normal;word-wrap:break-word;'>");
                            $.each(data, function (i, item) {
                                mytable.append("<tr><td data-title='Name'>Dealer</td><td data-title='Details'style='white-space:normal;word-wrap:break-word;'>" + item.dealer + "</td></tr>");
                                //mytable.append("<tr><td data-title='Name'style=' white-space:normal;word-wrap:break-word;'>Date</td><td data-title='Details'style='white-space:normal;word-wrap:break-word;'>" + formatdate(item.date) + "</td></tr>");
                                //mytable.append("<tr><td data-title='Name'style=' white-space:normal;word-wrap:break-word;'>Genuine</td><td data-title='Details' style='white-space:normal;word-wrap:break-word;'>" + item.genuine + "</td></tr>");
                                //  mytable.append("<tr><td data-title='Name'style=' white-space:normal;word-wrap:break-word;'>Status</td><td data-title='Details'style='white-space:normal;word-wrap:break-word;'>" + item.status + "</td></tr>");

                                mytable.append("<tr><td data-title='Name'style=' white-space:normal;word-wrap:break-word;'>Certified by</td><td data-title='Details' style='white-space:normal;word-wrap:break-word;'><img src='../Content/Thinturelogo.png' height=40px;width=100%/></td></tr>");


                            });

                            mytable.append("</tbody>");
                            div.append(mytable);
                            div.append("<br/><br/>");
                        }
                    });

                } else {
                    $("#certtxt").hide();
                    console.log("Invalid");
                    $.getJSON("/Certificate/GetCertificateDetails/?RegNo=" + $("#searchString").val(), null, function (data) {
                        //if ($("#searchString").val() == "Expired")
                        //{
                        //    div.html("<br/><h3> " + "Found" + "</h3><br/>");
                        //}
                        if (data == '') {

                            div.empty();
                            div.html("<br/><h3> " + "No Data Found" + "</h3><br/>");
                        }

                        else {
                            div.empty();

                            div.append("<br/><br/>");
                            exp = $('<p></p>').attr({ id: "oce" });

                            // mytable = $('<table></table>').attr({ id: "one-column-emphasis" });
                            mytable = $('<table class="table table-hover"  style=" table-layout: fixed; word-wrap: break-word;" ></table>').attr({ id: "one-column-emphasis" });
                            //trow.appendTo(mytable);
                            colgroup = $('<colgroup></colgroup>')
                            $('<col></col>').attr({ id: "oce" }).appendTo(colgroup);
                            mytable.append(colgroup);
                            $.each(data, function (i, item) {
                                // div.append(" <Tr><th><h3>"+item.Expired +"</h3></th></tr> ");
                                //if (item.Expired == 'Expired')
                                //{
                                //    //trow.append("<p>"+item.Expired+"</p>");
                                //    //  exp.append("<tr><td><th>" + item.Expired + "</th></td></tr>");
                                //    exp.append("<tr><td><th   style='padding-left:50%;font-size: 16px;font-weight: bold;margin-right: 0px;color: red;' >" + item.Expired + "</th></td></tr>");
                                //    div.append(exp);
                                //}
                                if (item.Expired == 'Expired') {
                                    exp.append("Expired");
                                    div.append(exp);
                                }
                                //mytable.append(" <thead><Tr><th scope=col>Name</th><th>Details</th></tr> </thead>");
                                //mytable.append("<Tr><td>Certificate No</td><td>" + item.CertificateNo + "</td></tr>");
                                //mytable.append("<Tr><td>Registration No</td><td>" + item.VehRegistrationNo + "</td></tr>");
                                //mytable.append("<Tr><td>Owner Name</td><td>" + item.OwnerName + "</td></tr>");
                                //mytable.append("<Tr><td>Chassis No</td><td>" + item.ChassisNo + "</td></tr>");
                                //mytable.append("<Tr><td>Engine No</td><td>" + item.EngineNo + "</td></tr>");
                                //mytable.append("<Tr><td>Manufacture Year</td><td>" + item.ManufactureYear + "</td></tr>");
                                //mytable.append("<Tr><td>Make Of Vehicle</td><td>" + item.MakeOfVehicle + "</td></tr>");
                                //mytable.append("<Tr><td>Model Of Vehicle</td><td>" + item.ModelOfVehicle + "</td></tr>");
                                //mytable.append("<Tr><td>Type of Speed Limiter No</td><td>" + item.TypeSpeedLimiter + "</td></tr>");
                                //mytable.append("<Tr><td>Set Speed</td><td>" + item.SetSpeed+","+item.speed2 + "</td></tr>");
                                //mytable.append("<Tr><td>Serial No</td><td>" + item.SerialNo + "</td></tr>");
                                //mytable.append("<Tr><td>Tamper Seal No</td><td>" + item.TamperSealNo + "</td></tr>");
                                //mytable.append("<Tr><td>Company</td><td>" + item.Name + "</td></tr>")
                                //mytable.append("<Tr><td>Install Date</td><td>" + formatdate(item.InstallDate) + "</td></tr>");
                                ////if (item.RenewalDate != null) {
                                ////    mytable.append("<Tr><td>Re-Calibration Date</td><td>" + formatdate(item.RenewalDate) + "</td></tr>");
                                ////}
                                ////else {
                                ////    mytable.append("<Tr><td>Re-Calibration Date</td><td>" + "N/A" + "</td></tr>");

                                ////}
                                //mytable.append("<Tr><td>Calibration Date</td><td>" + formatdate(item.CalibrationDate) + "</td></tr>");
                                //mytable.append("<Tr><td>Expiry Date</td><td>" + formatdate(item.ExpDate) + "</td></tr>");
                                //mytable.append("<Tr><td>Applicable Standard</td><td>" + item.ApplicableStandard + "</td></tr>");
                                //mytable.append("<Tr><td>Country</td><td>" + item.CountryName + "</td></tr>");

                                mytable.append(" <thead><Tr><th style='background-color:#CECEF6'>Name</th><th>Details</th></tr> </thead>");
                                mytable.append("<tbody style='white-space:normal;word-wrap:break-word;'><Tr><td data-title='Name'style='background-color:#CECEF6'>Certificate No</td><td data-title='Details'style='white-space:normal;word-wrap:break-word;'>" + item.CertificateNo + "</td></tr>");
                                mytable.append("<Tr><td data-title='Name'style='background-color:#CECEF6; white-space:normal;word-wrap:break-word;'>Registration No</td><td data-title='Details'style='white-space:normal;word-wrap:break-word;'>" + item.VehRegistrationNo + "</td></tr>");
                                mytable.append("<Tr><td data-title='Name'style='background-color:#CECEF6; white-space:normal;word-wrap:break-word;'>Owner Name</td><td data-title='Details'style='white-space:normal;word-wrap:break-word;'>" + item.OwnerName + "</td></tr>");
                                mytable.append("<Tr><td data-title='Name'style='background-color:#CECEF6; white-space:normal;word-wrap:break-word;'>Chassis No</td><td data-title='Details' style='white-space:normal;word-wrap:break-word;'>" + item.ChassisNo + "</td></tr>");
                                mytable.append("<Tr><td data-title='Name'style='background-color:#CECEF6; white-space:normal;word-wrap:break-word;'>Engine No</td><td data-title='Details' style='white-space:normal;word-wrap:break-word;'>" + item.EngineNo + "</td></tr>");
                                mytable.append("<Tr><td data-title='Name'style='background-color:#CECEF6; white-space:normal;word-wrap:break-word;'>Manufacture Year</td><td data-title='Details' style='white-space:normal;word-wrap:break-word;'>" + item.ManufactureYear + "</td></tr>");
                                mytable.append("<Tr><td data-title='Name'style='background-color:#CECEF6; white-space:normal;word-wrap:break-word;'>Make Of Vehicle</td><td data-title='Details' style='white-space:normal;word-wrap:break-word;'>" + item.MakeOfVehicle + "</td></tr>");
                                mytable.append("<Tr><td data-title='Name'style='background-color:#CECEF6; white-space:normal;word-wrap:break-word;'>Model Of Vehicle</td><td data-title='Details' style='white-space:normal;word-wrap:break-word;'>" + item.ModelOfVehicle + "</td></tr>");
                                mytable.append("<Tr><td data-title='Name'style='background-color:#CECEF6; white-space:normal;word-wrap:break-word;'>Type of Speed Limiter No</td><td data-title='Details' style='white-space:normal;word-wrap:break-word;'>" + item.TypeSpeedLimiter + "</td></tr>");
                                mytable.append("<Tr><td data-title='Name'style='background-color:#CECEF6; white-space:normal;word-wrap:break-word;'>Set Speed</td><td data-title='Details' style='white-space:normal;word-wrap:break-word;'>" + item.SetSpeed + "</td></tr>");
                                mytable.append("<Tr><td data-title='Name'style='background-color:#CECEF6; white-space:normal;word-wrap:break-word;'>Serial No</td><td data-title='Details' style='white-space:normal;word-wrap:break-word;'>" + item.SerialNo + "</td></tr>");
                                mytable.append("<Tr><td data-title='Name'style='background-color:#CECEF6; white-space:normal;word-wrap:break-word;'>Tamper Seal No</td><td data-title='Details' style='white-space:normal;word-wrap:break-word;'>" + item.TamperSealNo + "</td></tr>");
                                mytable.append("<Tr><td data-title='Name'style='background-color:#CECEF6; white-space:normal;word-wrap:break-word;'>Company</td><td data-title='Details' style='white-space:normal;word-wrap:break-word;'>" + item.Name + "</td></tr>")
                                mytable.append("<Tr><td data-title='Name'style='background-color:#CECEF6; white-space:normal;word-wrap:break-word;'>Install Date</td><td data-title='Details' style='white-space:normal;word-wrap:break-word;'>" + formatdate(item.InstallDate) + "</td></tr>");
                                //if (item.RenewalDate != null) {
                                //    mytable.append("<Tr><td>Re-Calibration Date</td><td>" + formatdate(item.RenewalDate) + "</td></tr>");
                                //}
                                //else {
                                //    mytable.append("<Tr><td>Re-Calibration Date</td><td>" + "N/A" + "</td></tr>");

                                //}
                                mytable.append("<Tr><td data-title='Name'style='background-color:#CECEF6; white-space:normal;word-wrap:break-word;'>Calibration Date</td><td data-title='Details' style='white-space:normal;word-wrap:break-word;'>" + formatdate(item.CalibrationDate) + "</td></tr>");
                                mytable.append("<Tr><td data-title='Name'style='background-color:#CECEF6; white-space:normal;word-wrap:break-word;'>Expiry Date</td><td data-title='Details' style='white-space:normal;word-wrap:break-word;'>" + formatdate(item.ExpDate) + "</td></tr>");
                                mytable.append("<Tr><td data-title='Name'style='background-color:#CECEF6; white-space:normal;word-wrap:break-word;'>Applicable Standard</td><td data-title='Details' style='white-space:normal;word-wrap:break-word;'>" + item.ApplicableStandard + "</td></tr>");
                                mytable.append("<Tr><td data-title='Name'style='background-color:#CECEF6; white-space:normal;word-wrap:break-word;'>Country</td><td data-title='Details' style='white-space:normal;word-wrap:break-word;'>" + item.CountryName + "</td></tr>");

                            });

                            div.append(mytable);
                            div.append("<br/><br/>");
                        }
                    });
                }
                //alert($("#searchString").val());
            }
        })

        $('#searchString').keypress(function (e) {
            if (e.which == 13) {

                if ($("#searchString").val() == null || $("#searchString").val() == '') { alert('Please Enter Vehicle Registration Number'); } else
                {
                    var div = $('#CertDetails');
                    var valstr = $("#searchString").val();
                    var re = new RegExp("[a-zA-Z0-9]+[//]+[a-zA-Z0-9]+[//]+[a-zA-Z0-9]");
                    if (re.test(valstr)) {
                        console.log("Valid");
                        $.getJSON("/Certificate/CheckSerialNo/?ser=" + $("#searchString").val(), null, function (data) {
                            debugger;
                            //if ($("#searchString").val() == "Expired")
                            //{
                            //    div.html("<br/><h3> " + "Found" + "</h3><br/>");
                            //}
                            if (data.genuine == false || data.length == 0) {
                                div.empty();
                                $("#certtxt").hide();
                                div.html("<br/><h3> " + "The Product is not Genuine!" + "</h3><br/>");
                            }

                            else {
                                div.empty();
                                $("#certtxt").show();
                                div.append("<br/><br/>");
                                exp = $('<p></p>').attr({ id: "oce" });

                                // mytable = $('<table></table>').attr({ id: "one-column-emphasis" });
                                mytable = $('<table class="tbl_thinture"  style=" table-layout: fixed; word-wrap: break-word;" ></table>');
                                //trow.appendTo(mytable);
                                colgroup = $('<colgroup></colgroup>')
                                $('<col></col>').attr({ id: "oce" }).appendTo(colgroup);
                                mytable.append(colgroup);
                                //  mytable.append(" <thead><Tr><th style='background-color:#CECEF6'>Dealer</th><th>Date</th><th>Status</th><th>Genuine</th></tr> </thead>");
                                mytable.append("<tbody style='white-space:normal;word-wrap:break-word;'>");
                                $.each(data, function (i, item) {
                                    mytable.append("<tr><td data-title='Name'>Dealer</td><td data-title='Details'style='white-space:normal;word-wrap:break-word;'>" + item.dealer + "</td></tr>");
                                    //mytable.append("<tr><td data-title='Name'style=' white-space:normal;word-wrap:break-word;'>Date</td><td data-title='Details'style='white-space:normal;word-wrap:break-word;'>" + formatdate(item.date) + "</td></tr>");
                                    //mytable.append("<tr><td data-title='Name'style=' white-space:normal;word-wrap:break-word;'>Genuine</td><td data-title='Details' style='white-space:normal;word-wrap:break-word;'>" + item.genuine + "</td></tr>");
                                    //   mytable.append("<tr><td data-title='Name'style=' white-space:normal;word-wrap:break-word;'>Status</td><td data-title='Details'style='white-space:normal;word-wrap:break-word;'>" + item.status + "</td></tr>");

                                    mytable.append("<tr><td data-title='Name'style=' white-space:normal;word-wrap:break-word;'>Certified by</td><td data-title='Details' style='white-space:normal;word-wrap:break-word;'><img src='../Content/Thinturelogo.png' height=40px;width=100%/></td></tr>");


                                });

                                mytable.append("</tbody>");
                                div.append(mytable);
                                div.append("<br/><br/>");
                            }
                        });
                    }
                    else {
                        $("#certtxt").hide();
                        $.getJSON("/Certificate/GetCertificateDetails/?RegNo=" + $("#searchString").val(), null, function (data) {
                            //if ($("#searchString").val() == "Expired")
                            //{
                            //    div.html("<br/><h3> " + "Found" + "</h3><br/>");
                            //}
                            if (data == '') {

                                div.empty();
                                div.html("<br/><h3> " + "No Data Found" + "</h3><br/>");

                            }

                            else {
                                div.empty();

                                div.append("<br/><br/>");
                                exp = $('<p></p>').attr({ id: "oce" });

                                // mytable = $('<table></table>').attr({ id: "one-column-emphasis" });
                                mytable = $('<table class="table table-hover"  style=" table-layout: fixed; word-wrap: break-word;" ></table>').attr({ id: "one-column-emphasis" });
                                //trow.appendTo(mytable);
                                colgroup = $('<colgroup></colgroup>')
                                $('<col></col>').attr({ id: "oce" }).appendTo(colgroup);
                                mytable.append(colgroup);
                                $.each(data, function (i, item) {
                                    // div.append(" <Tr><th><h3>"+item.Expired +"</h3></th></tr> ");
                                    //if (item.Expired == 'Expired') {
                                    //    //trow.append("<p>"+item.Expired+"</p>");
                                    //    exp.append("<tr><td style='font-size: 14px;font-weight: normal;margin-right: 0px;color: red;'><th >" + item.Expired + "</th></td></tr>");
                                    //    div.append(exp);
                                    //}
                                    if (item.Expired == 'Expired') {
                                        exp.append("Expired");
                                        div.append(exp);
                                    }
                                    //mytable.append(" <thead><Tr><th scope=col>Name</th><th>Details</th></tr> </thead>");
                                    //mytable.append("<Tr><td>Certificate No</td><td>" + item.CertificateNo + "</td></tr>");
                                    //mytable.append("<Tr><td>Registration No</td><td>" + item.VehRegistrationNo + "</td></tr>");
                                    //mytable.append("<Tr><td>Owner Name</td><td>" + item.OwnerName + "</td></tr>");
                                    //mytable.append("<Tr><td>Chassis No</td><td>" + item.ChassisNo + "</td></tr>");
                                    //mytable.append("<Tr><td>Engine No</td><td>" + item.EngineNo + "</td></tr>");
                                    //mytable.append("<Tr><td>Manufacture Year</td><td>" + item.ManufactureYear + "</td></tr>");
                                    //mytable.append("<Tr><td>Make Of Vehicle</td><td>" + item.MakeOfVehicle + "</td></tr>");
                                    //mytable.append("<Tr><td>Model Of Vehicle</td><td>" + item.ModelOfVehicle + "</td></tr>");
                                    //mytable.append("<Tr><td>Type of Speed Limiter No</td><td>" + item.TypeSpeedLimiter + "</td></tr>");
                                    //mytable.append("<Tr><td>Set Speed</td><td>" + item.SetSpeed + "</td></tr>");
                                    //mytable.append("<Tr><td>Serial No</td><td>" + item.SerialNo + "</td></tr>");
                                    //mytable.append("<Tr><td>Tamper Seal No</td><td>" + item.TamperSealNo + "</td></tr>");
                                    //mytable.append("<Tr><td>Company</td><td>" + item.Name + "</td></tr>")
                                    //mytable.append("<Tr><td>Install Date</td><td>" + formatdate(item.InstallDate) + "</td></tr>");
                                    ////if (item.RenewalDate != null) {
                                    ////    mytable.append("<Tr><td>Re-Calibration Date</td><td>" + formatdate(item.RenewalDate) + "</td></tr>");
                                    ////}
                                    ////else {
                                    ////    mytable.append("<Tr><td>Re-Calibration Date</td><td>" + "N/A" + "</td></tr>");

                                    ////}
                                    //mytable.append("<Tr><td>Calibration Date</td><td>" + formatdate(item.CalibrationDate) + "</td></tr>");
                                    //mytable.append("<Tr><td>Expiry Date</td><td>" + formatdate(item.ExpDate) + "</td></tr>");
                                    //mytable.append("<Tr><td>Applicable Standard</td><td>" + item.ApplicableStandard + "</td></tr>");
                                    //mytable.append("<Tr><td>Country</td><td>" + item.CountryName + "</td></tr>");
                                    mytable.append(" <thead><Tr><th style='background-color:#CECEF6'>Name</th><th>Details</th></tr> </thead>");
                                    mytable.append("<tbody style='white-space:normal;word-wrap:break-word;'><Tr><td data-title='Name'style='background-color:#CECEF6'>Certificate No</td><td data-title='Details'style='white-space:normal;word-wrap:break-word;'>" + item.CertificateNo + "</td></tr>");
                                    mytable.append("<Tr><td data-title='Name'style='background-color:#CECEF6; white-space:normal;word-wrap:break-word;'>Registration No</td><td data-title='Details'style='white-space:normal;word-wrap:break-word;'>" + item.VehRegistrationNo + "</td></tr>");
                                    mytable.append("<Tr><td data-title='Name'style='background-color:#CECEF6; white-space:normal;word-wrap:break-word;'>Owner Name</td><td data-title='Details'style='white-space:normal;word-wrap:break-word;'>" + item.OwnerName + "</td></tr>");
                                    mytable.append("<Tr><td data-title='Name'style='background-color:#CECEF6; white-space:normal;word-wrap:break-word;'>Chassis No</td><td data-title='Details' style='white-space:normal;word-wrap:break-word;'>" + item.ChassisNo + "</td></tr>");
                                    mytable.append("<Tr><td data-title='Name'style='background-color:#CECEF6; white-space:normal;word-wrap:break-word;'>Engine No</td><td data-title='Details' style='white-space:normal;word-wrap:break-word;'>" + item.EngineNo + "</td></tr>");
                                    mytable.append("<Tr><td data-title='Name'style='background-color:#CECEF6; white-space:normal;word-wrap:break-word;'>Manufacture Year</td><td data-title='Details' style='white-space:normal;word-wrap:break-word;'>" + item.ManufactureYear + "</td></tr>");
                                    mytable.append("<Tr><td data-title='Name'style='background-color:#CECEF6; white-space:normal;word-wrap:break-word;'>Make Of Vehicle</td><td data-title='Details' style='white-space:normal;word-wrap:break-word;'>" + item.MakeOfVehicle + "</td></tr>");
                                    mytable.append("<Tr><td data-title='Name'style='background-color:#CECEF6; white-space:normal;word-wrap:break-word;'>Model Of Vehicle</td><td data-title='Details' style='white-space:normal;word-wrap:break-word;'>" + item.ModelOfVehicle + "</td></tr>");
                                    mytable.append("<Tr><td data-title='Name'style='background-color:#CECEF6; white-space:normal;word-wrap:break-word;'>Type of Speed Limiter No</td><td data-title='Details' style='white-space:normal;word-wrap:break-word;'>" + item.TypeSpeedLimiter + "</td></tr>");
                                    mytable.append("<Tr><td data-title='Name'style='background-color:#CECEF6; white-space:normal;word-wrap:break-word;'>Set Speed</td><td data-title='Details' style='white-space:normal;word-wrap:break-word;'>" + item.SetSpeed + "</td></tr>");
                                    mytable.append("<Tr><td data-title='Name'style='background-color:#CECEF6; white-space:normal;word-wrap:break-word;'>Serial No</td><td data-title='Details' style='white-space:normal;word-wrap:break-word;'>" + item.SerialNo + "</td></tr>");
                                    mytable.append("<Tr><td data-title='Name'style='background-color:#CECEF6; white-space:normal;word-wrap:break-word;'>Tamper Seal No</td><td data-title='Details' style='white-space:normal;word-wrap:break-word;'>" + item.TamperSealNo + "</td></tr>");
                                    mytable.append("<Tr><td data-title='Name'style='background-color:#CECEF6; white-space:normal;word-wrap:break-word;'>Company</td><td data-title='Details' style='white-space:normal;word-wrap:break-word;'>" + item.Name + "</td></tr>")
                                    mytable.append("<Tr><td data-title='Name'style='background-color:#CECEF6; white-space:normal;word-wrap:break-word;'>Install Date</td><td data-title='Details' style='white-space:normal;word-wrap:break-word;'>" + formatdate(item.InstallDate) + "</td></tr>");
                                    //if (item.RenewalDate != null) {
                                    //    mytable.append("<Tr><td>Re-Calibration Date</td><td>" + formatdate(item.RenewalDate) + "</td></tr>");
                                    //}
                                    //else {
                                    //    mytable.append("<Tr><td>Re-Calibration Date</td><td>" + "N/A" + "</td></tr>");

                                    //}
                                    mytable.append("<Tr><td data-title='Name'style='background-color:#CECEF6; white-space:normal;word-wrap:break-word;'>Calibration Date</td><td data-title='Details' style='white-space:normal;word-wrap:break-word;'>" + formatdate(item.CalibrationDate) + "</td></tr>");
                                    mytable.append("<Tr><td data-title='Name'style='background-color:#CECEF6; white-space:normal;word-wrap:break-word;'>Expiry Date</td><td data-title='Details' style='white-space:normal;word-wrap:break-word;'>" + formatdate(item.ExpDate) + "</td></tr>");
                                    mytable.append("<Tr><td data-title='Name'style='background-color:#CECEF6; white-space:normal;word-wrap:break-word;'>Applicable Standard</td><td data-title='Details' style='white-space:normal;word-wrap:break-word;'>" + item.ApplicableStandard + "</td></tr>");
                                    mytable.append("<Tr><td data-title='Name'style='background-color:#CECEF6; white-space:normal;word-wrap:break-word;'>Country</td><td data-title='Details' style='white-space:normal;word-wrap:break-word;'>" + item.CountryName + "</td></tr>");

                                });

                                div.append(mytable);
                                div.append("<br/><br/>");
                            }
                        });

                        //alert($("#searchString").val());

                    }
                }
            }

        });
        var mon = ["JAN", "FEB", "MAR", "APR", "MAY", "JUN", "JUL", "AUG", "SEP", "OCT", "NOV", "DEC"]


        function formatdate(_jsondate) {

            var _date = new Date(parseInt(_jsondate.substr(6)));


            var month = _date.getMonth();
            var day = _date.getDate();
            var year = _date.getFullYear();

            return day + '-' + mon[month] + '-' + year;
        }

    });

    $(function () {
        $('#searchString').keypress(function (e) {
            if (e.which == 13) {
                document.getElementById('SubmitButton').click();
                return false;
            }
            else {
                return true;
            }

        })
    });

</script>

@if (Certificate_AdminPanel.SessionWrapper.AdminLevel != AdminLevel.None)
{
    
    <footer class="container-fluid text-center">
        <p><a href="http://www.thinture.com/" target="_blank">&copy; @DateTime.Now.Year - Thinture Technologies Pvt. Ltd.</a></p>
    </footer>
}