﻿@model Certificate_AdminPanel.Models.SpeedLimiterSerialNo

@{
    ViewBag.Title = "SerialNoEdit";
    Layout = null;
}
@*@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>Edit</legend>

        @Html.HiddenFor(model => model.Recno)
        @Html.HiddenFor(model => model.User)
        @Html.HiddenFor(model => model.Date)
        @Html.HiddenFor(model => model.E_Stat)
        @Html.HiddenFor(model => model.DealerId)
        <div class="editor-label">
            @Html.LabelFor(model => model.SerialNo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SerialNo)
            @Html.ValidationMessageFor(model => model.SerialNo)
        </div>

      
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}
*@

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Serial No Edit</h4>
    </div>
   
        @using (Html.BeginForm("SerialNoEdit", "certificate", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
        {
            @Html.ValidationSummary(true)
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Recno)
            @Html.HiddenFor(model => model.User)
            @Html.HiddenFor(model => model.Date)
            @Html.HiddenFor(model => model.E_Stat)
            @Html.HiddenFor(model => model.DealerId)
            <div class="box-body">
                <!-- left column -->
                <div class="col-sm-6">

                    <div class="form-group">
                        <label for="SerialNo" class="col-sm-2 control-label">SerialNo</label>

                        <div class="col-sm-10">
                            <input class="text-box single-line col-sm-2 form-control" data-val="true" data-val-required="SerialNo required" id="SerialNo" name="SerialNo" type="text" value="@Model.SerialNo" style="width: 168px" />
                            <span class="field-validation-valid" data-valmsg-for="SerialNo" data-valmsg-replace="true"></span>

                        </div>
                    </div>
                </div>
            </div>
             <div class="box-footer">
                <button type="button" class="btn btn-info pull-left" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-info pull-right">Save Changes</button>
                   </div>
         
      
        }

</div>
