﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title | Certification</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
     <!-- Bootstrap 3.3.6 -->
    @System.Web.Optimization.Styles.Render("~/bundles/bootstrap")
    <!-- Font Awesome -->
    <link href="~/Content/Font-Awesome-master/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Theme style -->
    @System.Web.Optimization.Styles.Render("~/bundles/Theme")
    <!-- Material Design -->
    @System.Web.Optimization.Styles.Render("~/bundles/MaterialDesign")
    <!-- MaterialAdminLTE Skins-->
    @System.Web.Optimization.Styles.Render("~/bundles/MaterialThemeSkins")
    <!-- Morris chart -->
    @System.Web.Optimization.Styles.Render("~/bundles/morris")
    <!-- jvectormap -->
    @System.Web.Optimization.Styles.Render("~/bundles/jvectormap")
    <!-- Date Picker -->
    @System.Web.Optimization.Styles.Render("~/bundles/Datetime")
    <!-- Daterange picker -->
    @System.Web.Optimization.Styles.Render("~/bundles/DateRangePicker")
    <!-- bootstrap wysihtml5 - text editor -->
    @System.Web.Optimization.Styles.Render("~/bundles/wysihtml5")



    <!-- jQuery 2.2.3 -->
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryLib")
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>
    <!-- Bootstrap 3.3.6 -->
    @System.Web.Optimization.Scripts.Render("~/bundles/Bootstrapjs")
    <!-- Material Design -->
    @System.Web.Optimization.Scripts.Render("~/bundles/MaterialDesignjs")
    <script>
        $.material.init();
    </script>
    <!-- Morris.js charts -->
    @System.Web.Optimization.Scripts.Render("~/bundles/Morris")
    <!-- Sparkline -->
    @System.Web.Optimization.Scripts.Render("~/bundles/Sparkline")
    <!-- jvectormap -->
    @System.Web.Optimization.Scripts.Render("~/bundles/jvectormap")
    <!-- jQuery Knob Chart -->
    @System.Web.Optimization.Scripts.Render("~/bundles/Knob")
    <!-- daterangepicker -->
    @System.Web.Optimization.Scripts.Render("~/bundles/DateRangePicker")
    <!-- datepicker -->
    @System.Web.Optimization.Scripts.Render("~/bundles/Datepicker")
    <!-- Bootstrap WYSIHTML5 -->
    @System.Web.Optimization.Scripts.Render("~/bundles/WYSIHTML5")
    <!-- Slimscroll -->
    @System.Web.Optimization.Scripts.Render("~/bundles/Slimscroll")
    <!-- FastClick -->
    @System.Web.Optimization.Scripts.Render("~/bundles/FastClick")
    <!-- AdminLTE App -->
    @System.Web.Optimization.Scripts.Render("~/bundles/AdminLTEApp")


    @System.Web.Optimization.Scripts.Render("~/bundles/dataTable")

    <script src="~/Scripts/bootstrap-notify.js"></script>

    <!-- Notify CSS -->
    <link href="~/Scripts/bootstrap-notify.css" rel="stylesheet" />
    <!-- Custom Styles -->
    <link href="~/Scripts/alert-bangtidy.css" rel="stylesheet" />
    <link href="~/Scripts/alert-blackgloss.css" rel="stylesheet" />
    <style>
        .field-validation-error {
            color: #ff6a00;
        }
         .dataTables_filter {
            float:right;
        }
        .pagination {
             float:right;
        }
    </style>
    <script>
        var month = new Array("Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec");
        function formatDate(isoformat) {
            var date = new Date(isoformat);
            var hours = date.getHours();
            var minutes = date.getMinutes();
            var ampm = hours >= 12 ? 'PM' : 'AM';
            hours = hours % 12;
            hours = hours ? hours : 12; // the hour '0' should be '12'
            minutes = minutes < 10 ? '0' + minutes : minutes;
            var strTime = hours + ':' + minutes + ' ' + ampm;
            return ("0" + date.getDate()).slice(-2) + "-" + month[(date.getMonth())] + "-" + date.getFullYear() + "  " + strTime;
        }
        $(document).ready(function () {
            $(".hidden_xs").hide();
            if ($(document).width() < 767) {
                $(".hidden_xs").show();
            }
        });
        $(window).resize(function () {

            if ($(document).width() < 767) {
                $(".hidden_xs").show();
            }
            else {
                $(".hidden_xs").hide();
            }
        });
    </script>
    <style>
    .switch {
        position: relative;
        display: inline-block;
        width: 45px;
        height: 20px;
    }

        .switch input {
            display: none;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 16px;
            width: 16px;
            left: 2px;
            bottom: 2px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #11ad57;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 19px;
    }

        .slider.round:before {
            border-radius: 50%;
        }
</style>
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

        <header class="main-header">
            <!-- Logo -->
            <a href="https://www.thinture.net/" target="_blank" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini">T<b>H</b></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Thinture</b></span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">

                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="" data-toggle="dropdown">
                                <i class="fa fa-power-off hidden_xs" aria-hidden="true"></i>
                                <span class="hidden-xs">@Certificate_AdminPanel.SessionWrapper.DisplayName.ToUpper()</span>
                            </a>
                            <ul class="dropdown-menu">

                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-right">

                                        <a href="/Account/LogOff" class="btn btn-default btn-flat">Log Off</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                       @* <!-- Control Sidebar Toggle Button -->
                        <li>
                            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                        </li>*@
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">

                @*                <!-- search form -->
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>*@
                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu">
                    <li class="header">Management</li>
                    @* <li class="active treeview">
                        <a href="#">
                            <i class="fa fa-dashboard"></i><span>Dashboard</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li class="active"><a href="index.html"><i class="fa fa-circle-o"></i>Dashboard v1</a></li>
                            <li><a href="../../AdminTemplates/index2.html"><i class="fa fa-circle-o"></i>Dashboard v2</a></li>
                        </ul>
                    </li>*@
                    <li class="active treeview">
                        <a href="/Dashboard/Index">
                            <i class="fa fa-dashboard"></i><span>Dashboard</span>
                            <span class="pull-right-container"></span>
                        </a>
                        @if (Certificate_AdminPanel.SessionWrapper.AdminLevel == AdminLevel.Admin)
                        {
                            <li class="treeview">
                                <a href="/Administer/Index">
                                    <i class="fa fa-user"></i><span>Administer</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li class="active"><a href="/Administer/Index"><i class="fa fa-circle-o"></i>Details</a></li>
                                    <li class=""><a href="/Administer/Create"><i class="fa fa-circle-o"></i>Create</a></li>
                                    <li><a href="/Audit/Index"><i class="fa fa-circle-o"></i>Audit Log
                                    </a></li>
                                       <li><a href="/Administer/changepassword"><i class="fa fa-circle-o"></i>Change Password
                                    </a></li>
                                </ul>
                            </li>
                            <li class="treeview">
                                <a href="/Administer/Index">
                                    <i class="fa fa-sticky-note"></i><span>Templates</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li class="active"><a href="/Template/Index"><i class="fa fa-circle-o"></i>Details</a></li>
                                    <li><a href="/Template/Create"><i class="fa fa-circle-o"></i>Create</a></li>

                                </ul>
                            </li>
                       
                        }
                    @if (Certificate_AdminPanel.SessionWrapper.IsAdmin)
                    {
                        <li class="treeview">
                            <a href="/Company/Index">
                                <i class="fa fa-user"></i><span>Dealer</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li class="active"><a href="/Company/Index"><i class="fa fa-circle-o"></i>Details</a></li>
                                <li class=""><a href="/Company/Create"><i class="fa fa-circle-o"></i>Create</a></li>
                                  @*<li><a href="/Account/changepassword"><i class="fa fa-circle-o"></i>Change Password
                                </a></li>*@
                            </ul>
                        </li>
                    }
                    @if (Certificate_AdminPanel.SessionWrapper.IsAdmin || Certificate_AdminPanel.SessionWrapper.AdminLevel == AdminLevel.CompanyAdmin)
                    {
                        <li class="treeview">
                            <a href="/User/Index">
                                <i class="fa fa-users"></i><span>User</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li class="active"><a href="/User/Index"><i class="fa fa-circle-o"></i>Details</a></li>
                                <li class=""><a href="/User/Create"><i class="fa fa-circle-o"></i>Create</a></li>
                                @*  <li><a href="/Account/changepassword"><i class="fa fa-circle-o"></i>Change Password
                                </a></li>*@
                            </ul>
                        </li>
                    }
                    <li class="header">Certificate</li>
                    <li class="treeview">
                        <a href="/Certificate/Index">
                            <i class="fa fa-truck"></i><span>Speed Limiter</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li class="active"><a href="/Certificate/Index"><i class="fa fa-circle-o"></i>Details</a></li>
                            <li class=""><a href="/Certificate/Create"><i class="fa fa-circle-o"></i>Create</a></li>
                            @if (Certificate_AdminPanel.SessionWrapper.IsAdmin || Certificate_AdminPanel.SessionWrapper.AdminLevel == AdminLevel.CompanyAdmin)
                            {
                                if (Certificate_AdminPanel.SessionWrapper.IsAdmin || Certificate_AdminPanel.SessionWrapper.CompanyID == 27 || Certificate_AdminPanel.SessionWrapper.CompanyID == 65 || Certificate_AdminPanel.SessionWrapper.CompanyID == 78 || Certificate_AdminPanel.SessionWrapper.CompanyID == 80)
                                {
                                <li class=""><a href="/Certificate/calibrate"><i class="fa fa-circle-o"></i>Renewal</a></li>

                                }
                                <li class=""><a href="/Certificate/deliverydetails"><i class="fa fa-circle-o"></i><span>Devices</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                    <ul class="treeview-menu">
                                        <li class=""><a href="/Certificate/search"><i class="fa fa-circle-o"></i>Search</a></li>
                                        <li class=""><a href="/Certificate/deliverydetails"><i class="fa fa-circle-o"></i>Details</a></li>
                                        @if (Certificate_AdminPanel.SessionWrapper.AdminLevel == AdminLevel.Admin)
                                        {
                                            <li class=""><a href="/Certificate/delivery"><i class="fa fa-circle-o"></i>Create</a></li>
                                        }
                                    </ul>

                                </li>
                            }
                        </ul>
                    </li>

                    @*                    <li class="treeview">
                        <a href="/gpscertifcate/Index">
                            <i class="fa fa-cab"></i><span>GPS</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li class="active"><a href="/GPSCertifcate/Index"><i class="fa fa-circle-o"></i>Details</a></li>
                            <li class=""><a href="/GPSCertifcate/Create"><i class="fa fa-circle-o"></i>Create</a></li>
                            @if (Certificate_AdminPanel.SessionWrapper.IsAdmin || Certificate_AdminPanel.SessionWrapper.AdminLevel == AdminLevel.CompanyAdmin)
                            {
                                <li class=""><a href="#"><i class="fa fa-circle-o"></i><span>Devices</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                    <ul class="treeview-menu">

                                        <li class=""><a href="/GPSCertifcate/gpsserialno"><i class="fa fa-circle-o"></i>Details</a></li>
                                        @if (Certificate_AdminPanel.SessionWrapper.AdminLevel == AdminLevel.Admin)
                                        {
                                            <li class=""><a href="/GPSCertifcate/serialnoadd"><i class="fa fa-circle-o"></i>Create</a></li>
                                        }
                                    </ul>

                                </li>
                            }

                        </ul>
                    </li>*@

                    <li class="treeview">
                        <a href="/Certificate/dailyreport">
                            <i class="fa fa-file"></i><span>Reports</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li class="active"><a href="/Certificate/dailyreport"><i class="fa fa-circle-o"></i>Installation</a></li>
                            <li class=""><a href="/Certificate/expiredreport"><i class="fa fa-circle-o"></i>Expired</a></li>
                            <li class=""><a href="/Certificate/TobeExpiredReport"><i class="fa fa-circle-o"></i>To be Expired</a></li>
                        </ul>
                    </li>
                    @* <li class="header">Complaints</li>
                    <li class="treeview">
                        <a href="/gpscertifcate/dailyreport">
                            <i class="fa fa-phone"></i><span>Complaints</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li class="active"><a href="/Complaints/Create"><i class="fa fa-circle-o"></i>Register</a></li>
                            <li class=""><a href="/Complaints/Index"><i class="fa fa-circle-o"></i>Open</a></li>
                            <li class=""><a href="/Complaints/ComplaintsRecord"><i class="fa fa-circle-o"></i>Closed</a></li>
                        </ul>
                    </li>*@

                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->

        @RenderBody()
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 1.0.0
   
            </div>
            <strong>Copyright &copy; @DateTime.Now.ToString("yyyy") <a href="http://thinture.com/" target="_blank">Thinture Technologies Pvt Ltd</a>,</strong> All rights   reserved.
 
        </footer>
       


        <!-- ./wrapper -->
    </div>
</body>
</html>
<style>
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 23px;
    }
</style>

