﻿@model Certificate_AdminPanel.Models.LogOnModel
@{
    ViewBag.Title = "Log On";
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/login/layoutlogin.css" rel="stylesheet" />
  @*  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />*@
     <link href="~/Content/Font-Awesome-master/css/font-awesome.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.3.js"></script>
    <link href="~/Scripts/styles/jquery-ui.css" rel="stylesheet" />
         <!-- Bootstrap 3.3.6 -->
    <script src="../../AdminTemplates/bootstrap/js/bootstrap.min.js"></script>
        <!-- Bootstrap 3.3.6 -->
    <link href="../../AdminTemplates/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {
            $("form").addClass("login");
                var working = false;
                $('.login').submit(function (e) {
                 
                   // e.preventDefault();
                    //if (working) return;
                    //working = true;
                    var $this = $(this),
                    $state = $this.find('button > .state');
                    $this.addClass('loading');
                    $state.html('Authenticating');
                    //setTimeout(function () {
                    //    $this.addClass('ok');
                    //    $state.html('Welcome back!');
                    //    setTimeout(function () {
                    //        $state.html('Log in');
                    //        $this.removeClass('ok loading');
                    //        working = false;
                    //    }, 4000);
                    //}, 3000);
                   
                });
            // JS script
                $('.ls-modal').on('click', function (e) {
                    e.preventDefault();
                    debugger;
                    $('#myModal').modal('show').find('.contents').load($(this).attr('href'));
                });
        });
    </script>
    <style>
        .validation-summary-errors {
            color:red;
            font-family:sans-serif;
            font-size:12px;

        }
            .validation-summary-errors li {
                list-style:none
            }
    </style>
</head>

<body>
    <div class="wrapper">
        <p style="color: white; font-size: 25px; font-weight: bold">Certification System</p>
        @using (Html.BeginForm())
        {
            <p class="title">Log in</p>
            <input type="text" placeholder="Username" id="UserName" name="UserName" autofocus required />
            <i class="fa fa-user"></i>
            
            <input type="password" placeholder="Password" name="Password" id="Password" required />
            <i class="fa fa-key"></i>
           
          
            @*
           
          
            <a href="/account/forgotpassword" data-toggle="modal" data-target="myModal" class="forget ls-modal">Forgot your password?</a>*@

            <button>
                <i class="spinner"></i>
                <span class="state">Log in</span>
            </button>
            @Html.ValidationSummary(true, "")
        }
        <footer>
            <p>Copyright © - @DateTime.Now.ToString("yyyy")</p>
            <p>Powered by <strong><a href="http://www.thinture.com/" target="_blank">Thinture Technologies pvt ltd,</a></strong></p>
        </footer>
    </div>
     <div class="modal modal-info " id="myModal" role="dialog">
        <div class="modal-dialog contents">
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->

    <!-- /.modal -->
</body>
</html>
