﻿@{
    ViewBag.Title = "UnAuthenticated";
    Layout = null;
}
<link href="~/Content/Site.css" rel="stylesheet" />
<img class="align" src="~/Content/Images/download.jpg"/>
<h2 class="align">Un Authenticated User !!</h2>
<span class="align">@Html.ActionLink("Back to Login","","")</span>

