﻿@model Certificate_AdminPanel.Models.InvoiceView

@{
    ViewBag.Title = "Create";
    Layout = null;
}
<script src="~/Scripts/jquery.validate.js"></script>
   <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        GetRegistrationDate('#PurchaseDate');
        
    });
        $('#chk').click(function () {
            $("#div1").hide(this.checked);
        $("#div").show(this.checked);
    });
    
</script>
<h2>Add</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend></legend>        
        <table class="grid">
            <tr>
                <td>
               
        <div class="editor-label">
            @Html.LabelFor(model => model.PurchaseOrderNo)
        </div>
                    </td>
                <td>
        <div class="editor-field">
            @Html.EditorFor(model => model.PurchaseOrderNo)
            @Html.ValidationMessageFor(model => model.PurchaseOrderNo)
        </div>
                    </td>
                <td>
        <div class="editor-label">
            @Html.LabelFor(model => model.PurchaseDate)
        </div></td>
                <td>
        <div class="editor-field">
            @Html.EditorFor(model => model.PurchaseDate)
            @Html.ValidationMessageFor(model => model.PurchaseDate)
        </div></td>
                </tr>
            <tr>
                <td rowspan="2">
        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div></td>
                <td rowspan="2">
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Description, new { style="width:150px"})
            @Html.ValidationMessageFor(model => model.Description)
        </div>
</td>
                <td>
        <div class="editor-label">
            @Html.LabelFor(model => model.QuantityOrdered)
        </div></td>
                <td>
        <div class="editor-field">
            @Html.EditorFor(model => model.QuantityOrdered)
            @Html.ValidationMessageFor(model => model.QuantityOrdered)
        </div>
</td></tr><tr>
                <td>
        <div class="editor-label">
            @Html.LabelFor(model => model.QuantityShipped)
        </div></td>
                <td>
        <div class="editor-field">
            @Html.EditorFor(model => model.QuantityShipped)
            @Html.ValidationMessageFor(model => model.QuantityShipped)
        </div></td>
                
    </tr>
            <tr>
                <td>
        <div class="editor-label">
            @Html.LabelFor(model => model.UnitPrice)
        </div></td>
                <td>
        <div class="editor-field">
            @Html.EditorFor(model => model.UnitPrice)
            @Html.ValidationMessageFor(model => model.UnitPrice)
        </div></td>
                <td>

        <div class="editor-label">
            @Html.LabelFor(model => model.ShippingPrice)
        </div></td>
                <td>
        <div class="editor-field">
            @Html.EditorFor(model => model.ShippingPrice)
            @Html.ValidationMessageFor(model => model.ShippingPrice)
        </div></td>
                </tr>
            <tr>
                <td>

        <div class="editor-label">
            @Html.LabelFor(model => model.SerialNO)
        </div></td>
                <td>
        <div class="editor-field">
            @Html.ListBox("SerialNO",ViewBag.cont as MultiSelectList)
        </div></td>

<td>
    Buyer
</td>
                <td >
                    <div id="div1">
                    <input type="checkbox" id="chk" /></div>
                

        <div id="div" style="display:none">
            
            @*@Html.EditorFor(model => model.Buyer)*@    <input class="text-box single-line" id="Buyer" name="Buyer" type="text" value="Buyer" onfocus="this.value==this.defaultValue?this.value='':null"/>  <br /> <br />
            @Html.EditorFor(model => model.BuyerAddress)<br /> <br />
           
            @Html.EditorFor(model => model.BuyerAddress1)<br /> <br />
            @Html.EditorFor(model => model.BuyerAddress2)
           

            @Html.ValidationMessageFor(model => model.BuyerAddress)
        </div>
                    </td>
                  
                <tr>
        <td>
            <input type="submit" value="Create" />
        </td>
                     
            </tr>
        </table>
    </fieldset>
}

