﻿   
@model IEnumerable<Certificate_AdminPanel.Models.InvoiceView>
    @{
        Layout = null;
    }
<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8" />
   <title>@ViewBag.Title - Invoice</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    </head>
<link href="~/Content/Site.css" rel="stylesheet" />
    <body>
 <div  style="padding-left:4em;padding-right:4em;border:1px groove #000000;">
    <p style="text-align:center;text-decoration:underline;font-weight:bold;font-size:18px">
        INVOICE
    </p>
    
     <p style="font-weight:bold;font-size:16px;">
       SELLER: AL JAZEERA OCEANLINE LLC

    </p>
    <table style="width:100%">
        <tr><td>PO BOX 3430,CPO</td><td rowspan="5"><img height="90" style="padding-left:6em" src="../../Content/AJOL2.jpg" alt="" /></td></tr>
        
        <tr><td>MUSCAT 111</td></tr>
        <tr><td>OMAN</td></tr>
        <tr><td>GSM:+968 97475567,93480212</td></tr>

    </table>
     <br />
    <table style="width:100%">
        
        <tr><td  style="font-weight:bold;font-size:16px;">BUYER:Papo Hapo Solutions Technologic Ltd</td><td style="padding-left:6em"></td></tr>
        <tr><td>Tumaini House Fourth Floor</td><td style="padding-left:6em">INVOICE No:ALJ/14-15/0001</td></tr>
        <tr><td>Moi Avenue </td><td style="padding-left:6em">INVOICE DATE:12/10/2014</td></tr>
        <tr><td>NAIROBI-25462, KENYA</td><td style="padding-left:6em"></td></tr>

    </table>
     <br />
    <table class="invoice">
  
     <tr>
         <th>
            S.No
         </th>
        <th>
          Name of Goods
        </th>
        <th>
            Quantiy Ordered
        </th>
        <th>
            Quantity Shipped
        </th>
        <th>
            Unit Price
        </th>
        
        </tr>
       <tr >
           <td>
           1
           </td> 
           <td style="width:200px">
               Speed Eye, Speed2
           </td> 
           <td>
               50
           </td> 
           <td>
               40
           </td> 
           <td>
               20
           </td> 
           
       </tr>
        
        <tr>
            <td></td><td></td><td></td><td style="font-weight:bold">Shipping Price</td><td>500</td>
        </tr>
        
        <tr>
            <td></td><td></td><td></td><td>TOTAL</td><td>500</td>
        </tr>
          

         </table>

     <p>Description</p>
        </div>
        </body>
    </html>

