﻿@model Certificate_AdminPanel.Models.Invoice

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Invoice</legend>

        @Html.HiddenFor(model => model.RecNo)

        <div class="editor-label">
            @Html.LabelFor(model => model.InvoiceNo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.InvoiceNo)
            @Html.ValidationMessageFor(model => model.InvoiceNo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.InvoiceDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.InvoiceDate)
            @Html.ValidationMessageFor(model => model.InvoiceDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PurchaseOrderNo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PurchaseOrderNo)
            @Html.ValidationMessageFor(model => model.PurchaseOrderNo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PurchaseDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PurchaseDate)
            @Html.ValidationMessageFor(model => model.PurchaseDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.QuantityOrdered)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.QuantityOrdered)
            @Html.ValidationMessageFor(model => model.QuantityOrdered)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.QuantityShipped)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.QuantityShipped)
            @Html.ValidationMessageFor(model => model.QuantityShipped)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UnitPrice)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UnitPrice)
            @Html.ValidationMessageFor(model => model.UnitPrice)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ShippingPrice)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ShippingPrice)
            @Html.ValidationMessageFor(model => model.ShippingPrice)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BuyerAddress)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BuyerAddress)
            @Html.ValidationMessageFor(model => model.BuyerAddress)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.I_stat)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.I_stat)
            @Html.ValidationMessageFor(model => model.I_stat)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
