﻿@model IEnumerable<Certificate_AdminPanel.Models.InvoiceView>

@{
    ViewBag.Title = "Create Invoice";
}
<h2>Create Invoice</h2>


<script type="text/javascript">
    //$(window).on('beforeunload', function () {
    //    return 'Are you sure you want to leave?';
    //});
    $(document).ready(function () {
        
        $("#example").dataTable({
            "bJQueryUI": true,
            "sScrollX": "100%",
            "bAutoWidth": false,
            "bScrollAutoCss": true, "bScrollCollapse": true,
            "sDom": '<"clear">',
            "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            "oLanguage": { "oPaginate": { "sFirst": "&lt&lt", "sLast": "&gt&gt", "sNext": "&gt", "sPrevious": "&lt" }, },

            "sPaginationType": "full_numbers",

        });
        $("#Create").click(function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            $("#dialog-create").dialog({
                draggable: false,
                resizable: false,
                height: 530,
                width: 690,
                show: { effect: 'drop', direction: "up" },
                modal: true,
                draggable: false,
                open: function (event, ui) {
                    $(this).load(url);
                    //$.validate.unobtrusive.parse("myform");

                }, close: function (event, ui) {
                    $(this).dialog('close');
                }
            });
            $("#dialog-create").dialog('open'); return false;
        });

       
    });
</script>
<div><a id="Create" href="/order/Create">Add @*<img src="~/Content/Images/Button-Add-icon.png" title="create" style="height:20px;width:20px;" />*@</a> </div>  

@if(Model.Where(a=>a.I_stat==false).Count()>0)
{
    <div id="container">

<table id="example" class="display">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InvoiceNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvoiceDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PurchaseOrderNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </th>
        <th>
            Name Of Goods
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuantityOrdered)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuantityShipped)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShippingPrice)
        </th>
      
        <th>
            @Html.DisplayNameFor(model => model.BuyerAddress)
        </th>
        
       
    </tr>
        </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.InvoiceNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InvoiceDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PurchaseOrderNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PurchaseDate)
        </td>
         <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuantityOrdered)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuantityShipped)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShippingPrice)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.BuyerAddress)
        </td>
       
       
    </tr>
}</tbody>
    <tfoot>
    <tr>
        <td>
          
        </td>
        <td>
           
        </td>
        <td>
           
        </td><td>
            
        </td>
        
        
        <td>
          
        </td> <td>
           
        </td><td style="font-weight:bold">
           Total
        </td>
        <td>
            @if(Model.Where(a=>a.I_stat==false).Count()>0)
           {
         <span>$</span>@Math.Round(Model.Select(a=>a.TotalUnit).Aggregate((Model.Select(a=>a.ShippingPrice).First()),(a,b)=>a+b),2)
            }
        </td>
        <td> 
          
        </td>
       
        <td>
         
        </td>
        <td>
           
        </td>
    </tr>
        </tfoot>
</table>
 </div>
    <br />
    <br />
    

@Html.ActionLink("Clear","Update")
    
    @Html.ActionLink("Print","pdf")
}
        <br /><br />
   