﻿@model IEnumerable<Certificate_AdminPanel.Models.Invoice>

@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/invoice.js"></script>

   <div id="container">
<table id="example" class="display">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InvoiceNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvoiceDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PurchaseOrderNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </th>
        <th>
            Name Of Goods
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuantityOrdered)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuantityShipped)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShippingPrice)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.BuyerAddress)
        </th>
        <th></th>
    </tr>
        </thead>
@foreach (var item in Model) {
    
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.InvoiceNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InvoiceDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PurchaseOrderNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PurchaseDate)
        </td>
         <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuantityOrdered)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuantityShipped)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShippingPrice)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.BuyerAddress)
        </td>
        <td>
             @(new HtmlString(@Ajax.ImageActionLink("../../Content/Images/grid/ACP_PDF%202_file_document.png", "print", "Print", "pdf1", new { id=item.RecNo}, "generateimage", new AjaxOptions
            {
                HttpMethod = "GET",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "ImageEdit",
                LoadingElementId = "dialog-edit",
                OnSuccess = "Popup"
            })))
           @* @Html.ActionLink("Print", "Pdf1", new { id=item.RecNo })           *@
           @* @Html.ActionLink("Edit", "Edit", new { id=item.RecNo }) |          
            @Html.ActionLink("Delete", "Delete", new { id=item.RecNo })*@
        </td>
    </tr>

}

</table>
       </div>