﻿@model IEnumerable<Certificate_AdminPanel.Models.SpeedLimiterSerialNo>

@{
    ViewBag.Title = "SerialNos";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#example").dataTable({
        
            "bJqueryUI":true,
            "sScrollX": "100%",
            "bAutoWidth": false,
            "bScrollAutoCss": true, "bScrollCollapse": true,
            "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            "oLanguage": { "oPaginate": { "sFirst": "&lt&lt", "sLast": "&gt&gt", "sNext": "&gt", "sPrevious": "&lt" }, },
            "sPaginationType": "full_numbers",
        });
    })
</script>
<div id="container">
<table id="example" class="display">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SerialNo)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.InvoiceNo)
        </th>
       
    </tr>
        </thead>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SerialNo)
        </td>
    
        <td>
            @Html.DisplayFor(modelItem => item.InvoiceNo)
        </td>
       
    </tr>
}

</table>
    </div>