﻿   
@model IEnumerable<Certificate_AdminPanel.Models.InvoiceView>
    @{
        Layout = null;
        ViewBag.Title = "Invoice";
    }

       @* <script src="~/Scripts/jquery-1.9.1.js"></script>
        <script src="~/Scripts/jquery-ui-1.10.3.js"></script>*@
<link href="~/Content/Site.css" rel="stylesheet" />
    <script type="text/javascript">
        //var url = '/invoice/update';
        //$(window).on('beforeunload', function () {
        //    return 'Are you sure you want to leave?';
        //});

        //window.onbeforeunload = function () {
        //    alert();
        //}

        // $(window).on('unload',function(){
        //     update();
        // });
        //// $(document).ready(function () {
        //    function update() {
        //         alert();
        //         $.ajax({
        //             type: 'POST',
        //             url: '/invoice/update',
        //             data: "",
        //             // dataType: "json",
        //             success: function (msg) {
        //                 alert("success");
        //             },
        //             error: function (e) {
        //                 alert("wrong");
        //             }
        //             //data: { lat: $('#markerlat').val(), lng: $('#markerlng').val(), name: $('#markername').val() },})
        //         })
        //    // };

        // };
    </script>
    <body >
 <div  style="padding-left:4em;padding-right:4em;border:1px groove #000000;">
    <p style="text-align:center;text-decoration:underline;font-weight:bold;font-size:18px">
        INVOICE
    </p>
    <h2>@TempData["Message"]</h2>
     <p style="font-weight:bold;font-size:16px;">
       SELLER: AL JAZEERA OCEANLINE LLC

    </p>
    <table style="width:100%">
        <tr><td>PO BOX 3430,CPO</td><td rowspan="5"><img height="90" style="padding-left:6em" src="../../Content/AJOL2.jpg" alt="" /></td></tr>
        
        <tr><td>MUSCAT 111</td></tr>
        <tr><td>OMAN.</td></tr>
        <tr><td>GSM:+968 97475567,93480212</td></tr>

    </table>
     <br />
    <table style="width:100%">
        
        <tr><td  style="font-weight:bold;font-size:16px;">BUYER:@Model.Select(a=>a.Buyer).First()</td><td style="padding-left:6em"></td></tr>
        <tr><td>@*Tumaini House Fourth Floor*@@Model.Select(a=>a.BuyerAddress).First()</td><td style="padding-left:6em">INVOICE No: @Model.Select(a=>a.InvoiceNo).First()</td></tr>
        <tr><td>@*Moi Avenue *@@Model.Select(a=>a.BuyerAddress1).First()</td><td style="padding-left:6em">INVOICE DATE:@Model.Select(a=>a.InvoiceDate).First()</td></tr>
        <tr><td>@*NAIROBI-25462, KENYA*@@Model.Select(a=>a.BuyerAddress2).First()</td><td style="padding-left:6em"></td></tr>

    </table>
     <br />
    <table class="invoice">
  
     <tr>
         <th>
            S.No
         </th>
        <th>
          Name of Goods
        </th>
        <th>
            Quantiy Ordered
        </th>
        <th>
            Quantity Shipped
        </th>
        <th>
            Unit Price
        </th>
        
        </tr>
        @{int i=1;}
        @foreach(var item in Model)
        {
       <tr >
           <td>
           @i
           </td> 
           <td style="width:200px">
              @item.Description
           </td> 
           <td>
               @item.QuantityOrdered
           </td> 
           <td>
               @item.QuantityShipped
           </td> 
           <td>
               $@Math.Round(item.UnitPrice,2)
           </td> 
           
       </tr>
            i = i + 1;
        }
        <tr>
            <td></td><td></td><td></td><td style="font-weight:bold">Shipping Price</td><td>$@Math.Round(Model.Select(a=>a.ShippingPrice).First(),2)</td>
        </tr>
        
        <tr>
            <td></td><td></td><td></td><td style="font-weight:bold">TOTAL</td><td>$@*@Model.Select(a=>a.Total).First()*@@Math.Round(Model.Select(a=>a.TotalUnit).Aggregate((Model.Select(a=>a.ShippingPrice).First()),(a,b)=>a+b),2)</td>
        </tr>
          

         </table>
     @*<p><span style="font-weight:bold">Amount in words:</span> Twenty Thousand </p>*@
     <br />
     <p>Declaration : Certified that the particulars given above are true and correct and amount indicated represents the price actually charged and that there is no flow of additional consideration directly or indirectly from the buyer. </p>
     <br />
     <br />   
     <p style="font-weight:bold;text-align:right"> Autorised Signatory:</p>
 <br />
     <br />
     <br />
 </div>
        </body>

