﻿html
{ /*background-color:black;*/
    /*background:url("bodyback9.jpg");*/
    background-color:white;
    margin: 0;
    padding: 0;
}

body
{
   
    /*background:url("bodyback9.jpg");*/
    background-color:white;
    /*border-top: solid 2px #000;*/
    color: #333;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
}

a
{
    color: #333;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: underline;
}

    a:link, a:visited,
    a:active, a:hover
    {
        color: #333;
    }

    a:hover
    {
        background-color: #c7d1d6;
    }

header, footer, hgroup,
nav, section
{
    display: block;
}

mark
{
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

.float-left
{
    float: left;
}
.editimage
{
    height: 15px;
    width: 15px;
}
.repair
{
    height: 15px;
    width: 15px;
}
.generateimage
{
    height:15px;
    width:15px;
    }
.deleteimage
{
    height:15px;
    width:15px;
    }
.details 
{
    height:15px;
    width:15px;
}
.reissue 
{height:15px;
    width:15px;
}
.float-right
{
    float: right;
}

.clear-fix:after
{
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h1, h2, h3,
h4, h5, h6
{
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1
{
    font-size: 2em;
}

h2
{
    font-size: 1.75em;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

    h5 a:link, h5 a:visited, h5 a:active
    {
        padding: 0;
        text-decoration: none;
    }

    /* Menu Layout
       -------------------------------------------- */
    .content-wrapper_menu
{
    margin: 30px 0px 0px 300px;
    max-width: 1260px;
    /*width:960px;*/
    
}
    header .content-wrapper_menu
{
    padding-top: 10px;
}
/* main layout
----------------------------------------------------------*/
.content-wrapper
{
    margin: 0 auto;
    max-width: 1260px;
    /*width:960px;*/
    
}
.content
{
    margin:0 auto;
    width:1160px;
   
    }
#body
{   /*background-color:#EFEEEF;*/
    /*background:url("bodyback10.jpg");*/
    background-color:white;
    background-repeat:repeat;
    /*background-color:#1f1e1e;*/
    clear: both;
    padding-bottom: 0px;
    
}

.main-content
{ 
    padding-left: 10px;
    padding-top: 30px;
    
}



header .content-wrapper
{
    padding-top: 10px;
}

footer {
    clear: both;
    background-color: #a8a4a4;
    font-size: .8em;
    margin: 0em 0em 0em 0em;
    position: relative; 
    /*top:50px;*/
    /*bottom:-180px;*/
    border-top: 1px solid #000;    
    /*padding-bottom:4em;*/
}


/* site title
----------------------------------------------------------*/
.site-title
{
    color: #c8c8c8;
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    font-size: 2.3em;
    margin: 0;
}

    .site-title a, .site-title a:hover, .site-title a:active
    {
        background: none;
        color: #c8c8c8;
        outline: none;
        text-decoration: none;
    }
    
/* login
----------------------------------------------------------*/
#login
{
    display: block;
    font-size: .85em;
    margin: 0 0 10px;
    text-align: right;
}

    #login a
    {
        background-color: #d3dce0;
        margin-left: 10px;
        margin-right: 3px;
        padding: 2px 3px;
        text-decoration: none;
    }

        #login a.username
        {
            background: none;
            margin: 0;
            padding: 0;
            text-decoration: underline;
        }

    #login ul
    {
        margin: 0;
    }

    #login li
    {
        display: inline;
        list-style: none;
    }



/* page elements
----------------------------------------------------------*/
/* featured */
.featured
{
    background-color:#fff;
}

.mfeatured
{ 
    
    font-size:14px;
        background-color: #FFFFFF;
        background-image: linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        color: #3e5667;
        padding: 0px 0px 0px 0px;
        border-collapse:collapse;
        
}
.th1
{
    padding: 6px 5px;
       
} 

 .featured .content-wrapper
    {
        border-style: groove groove groove groove;
        border-width: 1px;
        border-color: #000000;
        background-color: #FFFFFF;
        background-image: linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        color: #3e5667;
        padding: 20px 40px 30px 40px;
    }

    .featured hgroup.title h1, .featured hgroup.title h2
    {
        color: #fff;
    }

    .featured p
    {
        font-size: 1.1em;
    }

/* page titles */
hgroup.title
{
    margin-bottom: 10px;
}

    hgroup.title h1, hgroup.title h2
    {
        display: inline;
    }

    hgroup.title h2
    {
        font-weight: normal;
        margin-left: 3px;
    }

/* features */
section.feature
{
    width: 300px;
    float: left;
    padding: 10px;
}

/* ordered list */
ol.round
{
    list-style-type: none;
    padding-left: 0;
}

    ol.round li
    {
        margin: 25px 0;
        padding-left: 45px;
    }

        ol.round li.zero
        {
            background: url("../Images/orderedList0.png") no-repeat;
            
        }

        ol.round li.one
        {
            background: url("../Images/orderedList1.png") no-repeat;
        }

        ol.round li.two
        {
            background: url("../Images/orderedList2.png") no-repeat;
        }

        ol.round li.three
        {
            background: url("../Images/orderedList3.png") no-repeat;
        }

        ol.round li.four
        {
            background: url("../Images/orderedList4.png") no-repeat;
        }

        ol.round li.five
        {
            background: url("../Images/orderedList5.png") no-repeat;
        }

        ol.round li.six
        {
            background: url("../Images/orderedList6.png") no-repeat;
        }

        ol.round li.seven
        {
            background: url("../Images/orderedList7.png") no-repeat;
        }

        ol.round li.eight
        {
            background: url("../Images/orderedList8.png") no-repeat;
        }

        ol.round li.nine
        {
            background: url("../Images/orderedList9.png") no-repeat;
        }

/* content */
article
{
    float: left;
    width: 70%;
}

aside
{
    float: right;
    width: 25%;
}

    aside ul
    {
        list-style: none;
        padding: 0;
    }

        aside ul li
        {
            background: url("../Images/bullet.png") no-repeat 0 50%;
            padding: 2px 0 2px 20px;
        }

.label
{
    font-weight: 700;
}

/* login page */
#loginForm
{
    border-right: solid 2px #c8c8c8;
    float: left;
    width: 55%;
}

    #loginForm .validation-error
    {
        display: block;
        margin-left: 15px;
    }

    #loginForm .validation-summary-errors ul
    {
        margin: 0;
        padding: 0;
    }

    #loginForm .validation-summary-errors li
    {
        display: inline;
        list-style: none;
        margin: 0;
    }

    #loginForm input
    {
        width: 250px;
    }

        #loginForm input[type="checkbox"],
        #loginForm input[type="submit"],
        #loginForm input[type="button"],
        #loginForm button
        {
            width: auto;
        }

#socialLoginForm
{
    margin-left: 40px;
    float: left;
    width: 40%;
}

    #socialLoginForm h2
    {
        margin-bottom: 5px;
    }

#socialLoginList button
{
    margin-bottom: 12px;
}

#logoutForm
{
    display: inline;
}

/* contact */
.contact h3
{
    font-size: 1.2em;
}

.contact p
{
    margin: 5px 0 0 10px;
}

.contact iframe
{
    border: 1px solid #333;
    margin: 5px 0 0 10px;
}

/* forms */
/*fieldset
{
    border: none;
    margin: 0;
    padding: 0;
}

    fieldset legend
    {
        display: none;
    }

    fieldset ol
    {
        padding: 0;
        list-style: none;
    }

        fieldset ol li
        {
            padding-bottom: 5px;
        }*/

label
{
    display: block;
    font-size: 1.2em;
    font-weight: normal;
}

    label.checkbox
    {
        display: inline;
    }

/*input, textarea
{
    border: 1px solid #e2e2e2;
    background: #fff;
    color: #333;
    font-size: 1.2em;
    margin: 5px 0 6px 0;
    padding: 5px;
    width: 300px;
}*/

textarea
{
    font-family: inherit;
    width: 500px;
}

    input:focus, textarea:focus
    {
        border: 1px solid #7ac0da;
    }

input[type="checkbox"]
{
    background: transparent;
    border: inherit;
    width: auto;
}

input[type="submit"],
input[type="button"],
button
{
    background-color: #d3dce0;
    border: 1px solid #787878;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 600;
    padding: 7px;
    margin-right: 8px;
    width: auto;
}

td input[type="submit"],
td input[type="button"],
td button
{
    font-size: 1em;
    padding: 4px;
    margin-right: 4px;
}

/* info and errors */
.message-info
{
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}

.message-error
{
    clear: both;
    color: #e80c4d;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-success
{
    color: #7ac0da;
    font-size: 1.3em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.error
{
    color: #e80c4d;
}

/* styles for validation helpers */
.field-validation-error
{
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid
{
    display: none;
}

input.input-validation-error
{
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error
{
    border: 0 none;
}

.validation-summary-errors
{
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid
{
    display: none;
}

.company_logo
{
    width: 120px;
    height: 60px;
}

/* tables
----------------------------------------------------------*/
table
{
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 0.75em;
    border: 0 none;
  
}

th
{
    font-size: 1.0em;
    text-align: left;
    border: none 0px;
    padding-left: 0;
    width:200px;
    white-space:nowrap;

}

    th a
    {
        display: block;
        position: relative;
    }

        th a:link, th a:visited, th a:active, th a:hover
        {
            color: #333;
            font-weight: 600;
            text-decoration: none;
            padding: 0;
        }

        th a:hover
        {
            color: #000;
        }

    th.asc a, th.desc a
    {
        margin-right: .75em;
    }

        th.asc a:after, th.desc a:after
        {
            display: block;
            position: absolute;
            right: 0em;
            top: 0;
            font-size: 0.75em;
        }

        th.asc a:after
        {
            content: '▲';
        }

        th.desc a:after
        {
            content: '▼';
        }

td
{
    padding: 0.25em 2em 0.25em 0em;
    border: 0 none;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;

    
}

tr.pager td
{
    padding: 0 0.25em 0 0;
}

/*table1 
{
    font-size: 12px;
    border: solid 1px #e8eef4;
    border-collapse: collapse;
}

table td1
{
   
    padding: 5px;
    border: solid 1px #e8eef4;
}

table th1
{
    padding: 6px 5px;
    text-align: left;
    background-color: #e8eef4;
    border: solid 1px #e8eef4;
    text-transform: capitalize;
}*/


/*.......GRID......*/
.grid
{
    font-size: 12px;
    border: solid 1px #e8eef4;
    border-collapse: collapse;
 
}
.grid td
{
    padding: 5px;
    border: solid 1px #e8eef4;
    white-space:nowrap;
    font-weight:normal;
    font-style:normal;
    font-family:Arial;
}
.grid th 
{
    padding: 6px 5px;
    text-align: left;
    background-color: lightgray ;
    border: solid 1px #e8eef4;
    text-transform: capitalize;
    white-space:nowrap;
}

fieldset
{
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
    font-weight:normal;
}
legend
{
    font-size: 1.2em;
    font-weight: bold;
}
.display-label
{
    margin: 1em 0 0 0;
    
} 
.editor-label {
    margin: 1em 0 0 0;
}

.display-field
{
       margin: 0.5em 0 0 0;
}
.editor-field {
    margin: 0.5em 0 0 0;
   
}

.text-box {
    width:150px;
}

text-box
{ 
    width:100px;
}

.length 
{
   min-height:600px;
   padding-left:200px;
   padding-bottom:2em;
}
/*.text-box {
    width: 200px;
}

.text-box.multi-line {
    height: 6.5em;
    width:200px;
}
.display-label, 
.editor-label {
    margin: 1em 0 0 0;
    width:200px;
}

.display-field, 
.editor-field {
    margin: 0.5em 0 0 0;
    width:200px;
}*/


/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 850px)
{

    /* header
    ----------------------------------------------------------*/
    header .float-left,
    header .float-right
    {
        float: none;
    }

    /* logo */
    header .site-title
    {
        margin: 10px;
        text-align: center;
    }

    /* login */
    #login
    {
        font-size: .85em;
        margin: 0 0 12px;
        text-align: center;
    }

        #login ul
        {
            margin: 5px 0;
            padding: 0;
        }

        #login li
        {
            display: inline;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        #login a
        {
            background: none;
            color: #999;
            font-weight: 600;
            margin: 2px;
            padding: 0;
        }

            #login a:hover
            {
                color: #333;
            }

    /* menu */
    nav
    {
        margin-bottom: 5px;
    }

    ul#menu
    {
        margin: 0;
        padding: 0;
        text-align: center;
    }

        ul#menu li
        {
            margin: 0;
            padding: 0;
        }


    /* main layout
    ----------------------------------------------------------*/
    .main-content,
    .featured + .main-content
    {
        background-position: 10px 0;
    }

    .content-wrapper
    {
        padding-right: 10px;
        padding-left: 10px;
    }

    .featured .content-wrapper
    {
        padding: 10px;
    }

    /* page content */
    article, aside
    {
        float: none;
        width: 100%;
    }

    /* ordered list */
    ol.round
    {
        list-style-type: none;
        padding-left: 0;
    }

        ol.round li
        {
            padding-left: 10px;
            margin: 25px 0;
        }

            ol.round li.zero,
            ol.round li.one,
            ol.round li.two,
            ol.round li.three,
            ol.round li.four,
            ol.round li.five,
            ol.round li.six,
            ol.round li.seven,
            ol.round li.eight,
            ol.round li.nine
            {
                background: none;
            }

    /* features */
    section.feature
    {
        float: none;
        padding: 10px;
        width: auto;
    }

        section.feature img
        {
            color: #999;
            content: attr(alt);
            font-size: 1.5em;
            font-weight: 600;
        }

    /* forms */
    input
    {
        width: 90%;
    }

    /* login page */
    #loginForm
    {
        border-right: none;
        float: none;
        width: auto;
    }

        #loginForm .validation-error
        {
            display: block;
            margin-left: 15px;
        }

    #socialLoginForm
    {
        margin-left: 0;
        float: none;
        width: auto;
    }


    /* footer
    ----------------------------------------------------------*/
    footer .float-left,
    footer .float-right
    {
        float: none;
    }

    footer
    {
        text-align: center;
        height: auto;
       padding: 10px 0;
        background-color: #fff;
    
    }

        footer p
        {
            margin: 0;
        }
}


/*sudheesh 04-jun-2013*/
.alignleft
{
    float: left;
    width: 150px;
    height: 70px;
}

.alignright
{
    font-family: 'Times New Roman';
    float: right;
    font-weight: bold;
    text-transform: uppercase;
    font-size: x-large;
}



.certificate_table
{
    border: 1px groove #000000;
    width: 100%;
    height: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-small;
    font-weight: bold;
    color: #000000;
   
}


.certificate_table1
{
    border: 1px groove #000000;
    width: 100%;
    height: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-small;
    font-weight: bold;
    color: #000000;
   
}


.td_1
{
    border: 1px groove #000000;
    width: 150px;
    height: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: #000000;
     padding-left: 5px;
}

.td_2
{
    border: 1px groove #000000;
    width: 100px;
    height: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: #000000;
     padding-left: 5px;
}

.td_3
{
    border: 1px groove #000000;
    width:83%;
    height: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: #000000;
     padding-left: 5px;
}

.td_4
{
    border: 1px groove #000000;
    width:50px;
    height: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    
    color: #000000;
     padding-left: 5px;
}

.td_5
{
    border: 1px groove #000000;
    width:150px;
    height: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-small;
    font-weight: bold;
    color: #000000;
   text-align:center;
}


.td_6
{
    border: 1px groove #000000;
    width:50px;
    height: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-small;
    font-weight: bold;
    color: #000000;
   text-align:center;
}

.td_7
{
    border: 1px groove #000000;
    width:250px;
    height: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-small;
    font-weight: bold;
    color: #000000;

   text-align:center;
}

table_col
{
    width:100px;
    background-color:azure;
}

.certificate_headerow2
{
    text-align: center;
    background-color: #66B65A;
    color: #000000;
    font-weight: bold;
    width:100%;
}
  /*background-color: #66B65A;*/
.certificate_headerow3
{
    text-align: right;
    font-size:12px;
}

.certificate_headertable
{
    width:100%;
}

.certificate_sections
{
    width: 100%;
    text-align: left;
    padding-left: 5px;
    padding-top: 2px;
    height: 16px;
    font-weight: bold;
    font-size:14px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #66B65A;
    color: #000000;
}

.abc input[type=text]
{
    padding:0px 0px 0px 0px;
    width:10%;
    height:20px;
   font-size:12px;
   }
.search
 {
font-size: 15px;
    border: solid 2px #000;
    border-collapse: collapse;
    
}
.search td
{
    padding: 5px;
    border: solid 1px #e8eef4;
    white-space:nowrap;
    font-weight:normal;
    font-style:normal;
    font-family:Arial;
}
.search th 
{
    padding: 6px 5px;
    text-align: left;
    background-color: lightgray ;
    border: solid 1px #e8eef4;
    text-transform: capitalize;
    white-space:nowrap;
}
.search-label
{
    margin: 0.7em 0 0 0;
    font-weight:normal;
} 
.search-field
{
       margin: 0.5em 0 0 0;
       font-weight:400;
}
.sbutton 
{
      height:30px;
    width:100px;

}
.speed {
    text-decoration: underline;
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    }

/*.button
{
     
    height:35px;
    width:80px;
    }*/

.align 
{
   margin-left:480px;
}
.para {
    color: #000000;
}


.sb_wrapper{

	margin:0;
	padding:0;
	position: absolute;
	top:80px;
	left:200px;
	width:372px;
}
.sb_input {
    border: 1px solid #fff;
    background: #fafafa;
    background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#fafafa));
    background: -moz-linear-gradient(top, #f2f2f2, #fafafa);
    font-size: 24px;
    font-family: "Myriad Pro" , "Trebuchet MS" , sans-serif;
    -moz-box-shadow: 1px 1px 3px #555;
    -webkit-box-shadow: 1px 1px 3px #555;
    -box-shadow: 1px 1px 3px #555;
    outline: none;
    padding: 6px 5px 6px 20px;
    text-shadow: 1px 1px 1px #fff;
    width: 295px;
    float: left;
    margin: 3px 0px;
    background-color: #f2f2f2;
    color: #C0C0C0;
}
    .sb_input:focus {
    color:black}
input.sb_search
{
    background: #f2f2f2 url('Images/search.png') no-repeat center center;
    height: 43px;
    width: 50px;
    float: left;
    border: none;
    margin: 3px 0px;
    border: 1px solid #fff;
    -moz-box-shadow: 1px 1px 3px #555;
    -webkit-box-shadow: 1px 1px 3px #555;
    -box-shadow: 1px 1px 3px #555;
    outline: none;
    cursor: pointer;
}
input.sb_search:hover{
	background-color:#fff;

}




/*Table Style Css Sudheesh Begin*/


#hor-minimalist-a
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	background: #fff;
	margin: 45px;
	width: 480px;
	border-collapse: collapse;
	text-align: left;
}
#hor-minimalist-a th
{
	font-size: 14px;
	font-weight: normal;
	color: #039;
	padding: 10px 8px;
	border-bottom: 2px solid #6678b1;
}
#hor-minimalist-a td
{
	color: #669;
	padding: 9px 8px 0px 8px;
}
#hor-minimalist-a tbody tr:hover td
{
	color: #009;
}


#hor-minimalist-b
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	background: #fff;
	margin: 45px;
	width: 480px;
	border-collapse: collapse;
	text-align: left;
}
#hor-minimalist-b th
{
	font-size: 14px;
	font-weight: normal;
	color: #039;
	padding: 10px 8px;
	border-bottom: 2px solid #6678b1;
}
#hor-minimalist-b td
{
	border-bottom: 1px solid #ccc;
	color: #669;
	padding: 6px 8px;
}
#hor-minimalist-b tbody tr:hover td
{
	color: #009;
}


#ver-minimalist
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 45px;
	width: 480px;
	text-align: left;
	border-collapse: collapse;
}
#ver-minimalist th
{
	padding: 8px 2px;
	font-weight: normal;
	font-size: 14px;
	border-bottom: 2px solid #6678b1;
	border-right: 30px solid #fff;
	border-left: 30px solid #fff;
	color: #039;
}
#ver-minimalist td
{
	padding: 12px 2px 0px 2px;
	border-right: 30px solid #fff;
	border-left: 30px solid #fff;
	color: #669;
}


#box-table-a
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 45px;
	width: 480px;
	text-align: left;
	border-collapse: collapse;
}
#box-table-a th
{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #b9c9fe;
	border-top: 4px solid #aabcfe;
	border-bottom: 1px solid #fff;
	color: #039;
}
#box-table-a td
{
	padding: 8px;
	background: #e8edff; 
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid transparent;
}
#box-table-a tr:hover td
{
	background: #d0dafd;
	color: #339;
}


#box-table-b
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 45px;
	width: 480px;
	text-align: center;
	border-collapse: collapse;
	border-top: 7px solid #9baff1;
	border-bottom: 7px solid #9baff1;
}
#box-table-b th
{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #e8edff;
	border-right: 1px solid #9baff1;
	border-left: 1px solid #9baff1;
	color: #039;
}
#box-table-b td
{
	padding: 8px;
	background: #e8edff; 
	border-right: 1px solid #aabcfe;
	border-left: 1px solid #aabcfe;
	color: #669;
}


#hor-zebra
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 45px;
	width: 480px;
	text-align: left;
	border-collapse: collapse;
}
#hor-zebra th
{
	font-size: 14px;
	font-weight: normal;
	padding: 10px 8px;
	color: #039;
}
#hor-zebra td
{
	padding: 8px;
	color: #669;
}
#hor-zebra .odd
{
	background: #e8edff; 
}


#ver-zebra
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 45px;
	width: 480px;
	text-align: left;
	border-collapse: collapse;
}
#ver-zebra th
{
	font-size: 14px;
	font-weight: normal;
	padding: 12px 15px;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	color: #039;
}
#ver-zebra td
{
	padding: 8px 15px;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	color: #669;
}
.vzebra-odd
{
	background: #eff2ff;
}
.vzebra-even
{
	background: #e8edff;
}
#ver-zebra #vzebra-adventure, #ver-zebra #vzebra-children
{
	background: #d0dafd;
	border-bottom: 1px solid #c8d4fd;
}
#ver-zebra #vzebra-comedy, #ver-zebra #vzebra-action
{
	background: #dce4ff;
	border-bottom: 1px solid #d6dfff;
}


#one-column-emphasis
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 0px;
	width: 480px;
	text-align: left;
	border-collapse: collapse;
    
}
#one-column-emphasis th
{
	font-size: 14px;
	font-weight: normal;
	padding: 12px 15px;
	color: #039;
}
#one-column-emphasis td
{
	padding: 10px 15px;
	color: #669;
	border-top: 1px solid #e8edff;
}
#oce-first
{
	background: #d0dafd;
	border-right: 2px solid transparent;
	border-left: 2px solid transparent;
}
#oce { 
    background: #fa5353;
    float:left;   
    padding-left:170px;
    font-size:small;
    color:black;
    height:30px;
    width:280px; text-align: center; 
    /*behavior:url(PIE.htc);*/
}
  #col-grp-left
{
	background: #7ACBF3;
	border-right: 2px solid transparent;
	border-left: 2px solid transparent;
}
  #col-grp-right
{
	background: #cae7f6;
	border-right: 2px solid transparent;
	border-left: 2px solid transparent;
}

#one-column-emphasis tr:hover td
{
	color: #339;
	background: #eff2ff;
}

#one-column-emphasis-det 
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 0px;
	width: 350px;
	text-align: left;
	border-collapse: collapse;
    
}
#one-column-emphasis-det th
{
	font-size: 14px;
	font-weight: normal;
	padding: 6px 6px;
	color: #039;
}
#one-column-emphasis-det td
{
	padding: 2px 2px ;
	color: #669;
	border-top: 1px solid #e8edff;
}

#one-column-emphasis-det tr:hover td
{
	color: #e8edff;
	background: #20486f;
}


#newspaper-a
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 45px;
	width: 480px;
	text-align: left;
	border-collapse: collapse;
	border: 1px solid #69c;
}
#newspaper-a th
{
	padding: 12px 17px 12px 17px;
	font-weight: normal;
	font-size: 14px;
	color: #039;
	border-bottom: 1px dashed #69c;
}
#newspaper-a td
{
	padding: 7px 17px 7px 17px;
	color: #669;
}
#newspaper-a tbody tr:hover td
{
	color: #339;
	background: #d0dafd;
}


#newspaper-b
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 45px;
	width: 480px;
	text-align: left;
	border-collapse: collapse;
	border: 1px solid #69c;
}
#newspaper-b th
{
	padding: 15px 10px 10px 10px;
	font-weight: normal;
	font-size: 14px;
	color: #039;
}
#newspaper-b tbody
{
	background: #e8edff;
}
#newspaper-b td
{
	padding: 10px;
	color: #669;
	border-top: 1px dashed #fff;
}
#newspaper-b tbody tr:hover td
{
	color: #339;
	background: #d0dafd;
}


#newspaper-c
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 45px;
	width: 480px;
	text-align: left;
	border-collapse: collapse;
	border: 1px solid #6cf;
}
#newspaper-c th
{
	padding: 20px;
	font-weight: normal;
	font-size: 13px;
	color: #039;
	text-transform: uppercase;
	border-right: 1px solid #0865c2;
	border-top: 1px solid #0865c2;
	border-left: 1px solid #0865c2;
	border-bottom: 1px solid #fff;
}
#newspaper-c td
{
	padding: 10px 20px;
	color: #669;
	border-right: 1px dashed #6cf;
}


#rounded-corner
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 45px;
	width: 480px;
	text-align: left;
	border-collapse: collapse;
}
#rounded-corner thead th.rounded-company
{
	background: #b9c9fe url('table-images/left.png') left -1px no-repeat;
}
#rounded-corner thead th.rounded-q4
{
	background: #b9c9fe url('table-images/right.png') right -1px no-repeat;
}
#rounded-corner th
{
	padding: 8px;
	font-weight: normal;
	font-size: 13px;
	color: #039;
	background: #b9c9fe;
}
#rounded-corner td
{
	padding: 8px;
	background: #e8edff;
	border-top: 1px solid #fff;
	color: #669;
}
#rounded-corner tfoot td.rounded-foot-left
{
	background: #e8edff url('table-images/botleft.png') left bottom no-repeat;
}
#rounded-corner tfoot td.rounded-foot-right
{
	background: #e8edff url('table-images/botright.png') right bottom no-repeat;
}
#rounded-corner tbody tr:hover td
{
	background: #d0dafd;
}


#background-image
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 45px;
	width: 480px;
	text-align: left;
	border-collapse: collapse;
	background: url('table-images/blurry.jpg') 330px 59px no-repeat;
}
#background-image th
{
	padding: 12px;
	font-weight: normal;
	font-size: 14px;
	color: #339;
}
#background-image td
{
	padding: 9px 12px;
	color: #669;
	border-top: 1px solid #fff;
}
#background-image tfoot td
{
	font-size: 11px;
}
#background-image tbody td
{
	background: url('table-images/back.png');
}
* html #background-image tbody td
{
	/* 
	   ----------------------------
		PUT THIS ON IE6 ONLY STYLE 
		AS THE RULE INVALIDATES
		YOUR STYLESHEET
	   ----------------------------
	*/
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='table-images/back.png',sizingMethod='crop');
	background: none;
}	
#background-image tbody tr:hover td
{
	color: #339;
	background: none;
}


#gradient-style
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 45px;
	width: 480px;
	text-align: left;
	border-collapse: collapse;
}
#gradient-style th
{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #b9c9fe url('table-images/gradhead.png') repeat-x;
	border-top: 2px solid #d3ddff;
	border-bottom: 1px solid #fff;
	color: #039;
}
#gradient-style td
{
	padding: 8px; 
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid #fff;
	background: #e8edff url('table-images/gradback.png') repeat-x;
}
#gradient-style tfoot tr td
{
	background: #e8edff;
	font-size: 12px;
	color: #99c;
}
#gradient-style tbody tr:hover td
{
	background: #d0dafd url('table-images/gradhover.png') repeat-x;
	color: #339;
}


#pattern-style-a
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 45px;
	width: 480px;
	text-align: left;
	border-collapse: collapse;
	background: url('table-images/pattern.png');
}
#pattern-style-a thead tr
{
	background: url('table-images/pattern-head.png');
}
#pattern-style-a th
{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	border-bottom: 1px solid #fff;
	color: #039;
}
#pattern-style-a td
{
	padding: 8px; 
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid transparent;
}
#pattern-style-a tbody tr:hover td
{
	color: #339;
	background: #fff;
}


#pattern-style-b
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 45px;
	width: 480px;
	text-align: left;
	border-collapse: collapse;
	background: url('table-images/patternb.png');
}
#pattern-style-b thead tr
{
	background: url('table-images/patternb-head.png');
}
#pattern-style-b th
{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	border-bottom: 1px solid #fff;
	color: #039;
}
#pattern-style-b td
{
	padding: 8px; 
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid transparent;
}
#pattern-style-b tbody tr:hover td
{
	color: #339;
	background: #cdcdee;
}
.txt
 {
    width:60px;
    font-size:10px;
}
/*------------------LOGO size in the layout----------------------*/
#cont {
 /*width: 200px;
        height: 80px;*/
        /*display: table;*/
       position:absolute;
       top:8px;
       left:80px;
    }

    /*#cont .image-container {
        text-align: center;
        vertical-align: middle;
        display: table-cell;
    }*/

    #cont .image-container img {
        margin-top:12px;
        max-width: 180px;
        max-height: 70px;        
    }

    #cont_end {
       position:absolute;
       top:30px;
       right:100px;
    }

    /*#cont .image-container {
        text-align: center;
        vertical-align: middle;
        display: table-cell;
    }*/

    #cont_end .image-container img {
        max-width: 150px;
        max-height: 55px;        
    }

/*Table Style Css Sudheesh End*/

#loading {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  display:block;
  opacity: 1.0;
  background-color: #fff;
  z-index: 99;
  text-align: center;
}

#loading-image {
  position: absolute;
  top: 180px;
  left: 400px;
  z-index: 100;
}

.invoice {
    border:1px solid #000000;
    padding:0.2em 0.2em 0.2em 0.2em;
}
    .invoice th {
        border:1px solid #000000;
        height: 40px;
        padding:0.2em 0.2em 0.2em 0.2em;
    }
    .invoice td {
       text-overflow:clip;
       overflow-wrap:break-word;
       overflow:hidden;
        padding:0.2em 0.2em 0.2em 0.2em;
    border:1px solid #000000;
    }