﻿@model Certificate_AdminPanel.Models.Template

@{
    ViewBag.Title = "Edit";
    // Layout = "~/Views/Shared/_LayoutFancybox.cshtml";
    Layout = "~/Views/Shared/_AdminTemplate.cshtml";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Templates
       
            <small>Edit form</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a href="/Template/Index">Template</a></li>
            <li class="active">Edit</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">

            <!-- Horizontal Form -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Edit</h3>
                </div>
                <div>
                    @using (Html.BeginForm("Edit", "Template", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
                    {
                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(model => model.ID)
                        <div class="box-body">

                            <!-- left column -->
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.TemplateName, new { @class = "col-sm-2 control-label " })

                                    <div class="col-sm-10">

                                        @Html.TextBoxFor(model => model.TemplateName, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.TemplateName)
                                    </div>
                                </div>

                            </div>



                        </div>
                        <div class="box-footer">
                            @Html.ActionLink("Back to Index", "Index", null, new { @class = "btn btn-info pull-left" })
                            <button type="submit" class="btn btn-info pull-right">Submit</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

