﻿@model IEnumerable<Certificate_AdminPanel.Models.Template>

@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jquerytemplate.js"></script>
<script src="~/AdminTemplates/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
<link href="~/AdminTemplates/plugins/datatables/extensions/Responsive/css/dataTables.responsive.css" rel="stylesheet" />
<script>
    $(document).ready(function () {
       var table= $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false
        });

        new $.fn.dataTable.Responsive(table);


    });
</script>
<div class="content-wrapper">


    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Templates
       
        <small>Certificate Templates</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a href="#">Templates</a></li>
            <li class="active">Index</li>
        </ol>
    </section>
    <!-- Content Header (Page header) -->


    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Template Details</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <a href="/Template/Create"  class="btn bg-olive pull-left">Create</a>
                        <table id="example2" class="table table-bordered table-striped" >
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ID)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TemplateName)
                                    </th>
                                    <th>@Html.DisplayNameFor(model => model.ViewName)</th>
                                    <th></th>
                                </tr>
                            </thead>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TemplateName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ViewName)
                                    </td>
                                    <td style="text-align: center">

                                        <a href="/Template/Edit/@item.ID" class="iframe" title="Edit" style="text-decoration:none">
                                            <span class="glyphicon glyphicon-edit"></span>
                                        </a>

                                        @* @(new HtmlString(@Ajax.ImageActionLink("../../Content/images/grid/Edit.png", "imageEdit", "edit", "edit", new { id = item.ID }, "editimage", new AjaxOptions
            {
                HttpMethod = "GET",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "targetdiv"
            })))
                    <div id="dialog-edit" style="display: none"></div>*@
                                    </td>
                                </tr>
                            }

                        </table>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

