﻿

@{
    ViewBag.Title = "Change Password";
    Layout = null;
}
<div class="float-left">
                <p class="site-title">
                    <img style=" width: 120px;height: 60px;" src="~/Images/logo/Untitled.jpg" />
                </p>
 </div>
<h2>@TempData["Message1"]</h2>
<p>
    @TempData["Message"]
    <input type="button" value="Back" onclick="history.go(-2)" />
</p>
