﻿@model Certificate_AdminPanel.Models.LoginMaster


@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_LayoutFancybox.cshtml";
}


<div style="display: block; text-align: center; padding: 5px; color: #337ab7">
    <h2>Forgot Password</h2>
    <p style="padding-left: 0em">Please enter correct LoginName to retreive your password</p>

</div>

@using (Html.BeginForm())
{
    <div class="form-group form-group-sm">

        <!-- left column -->

        <div class="col-sm-6">
            <div class="form-group">
                @Html.LabelFor(model => model.LoginName, new { @class = "col-sm-2 control-label " })

                <div class="col-sm-10">

                    @Html.TextBoxFor(model => model.LoginName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.LoginName)
                </div>

            </div>

        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <input type="submit" value="submit" class="btn btn-primary" />

                <input type="button" value="Cancel"  onclick="window.location='@Url.Action("")    '" class="btn btn" />
            </div>

        </div>
        <p style="color: red">@TempData["Message"]</p>
    </div>@*
    <div style="padding-left: 4em">
        <fieldset style="width: 300px">
            <legend></legend>
            <table style="border: 1px">
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.LoginName, "Login Name")
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.LoginName)
                            @Html.ValidationMessageFor(model => model.LoginName)
                        </div>
                    </td>
                </tr>


            </table>
            <p>
                <input type="submit" value="submit" />

                <input type="button" value="Cancel" onclick="window.location='@Url.Action("")    '" class="button" />
            </p>

            <p style="color: red">@TempData["Message"]</p>
        </fieldset>
    </div>*@
}