﻿@{
    ViewBag.Title = "Logged Out";
}
@{
    this.Response.Cache.SetExpires(DateTime.UtcNow.AddMinutes(-1));
    this.Response.Cache.SetCacheability(HttpCacheability.NoCache);
    this.Response.Cache.SetNoStore();
    }
<h2>Thinture Technologies !!</h2>
<p>
  You Logged out successfully.
</p>
