﻿@model Certificate_AdminPanel.Models.AdminLogin

@{
    ViewBag.Title = "Change Password";
    
}


<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Administer
       
            <small>Change Password form</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a href="/Administer/Index">Administer</a></li>
            <li class="active">Change Password</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">

            <!-- Horizontal Form -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Password</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                @using (Html.BeginForm("ChangePassword", "Administer", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
                { 
                    @Html.HiddenFor(model => model.LoginID)
                    @Html.HiddenFor(model => model.Type)
                    @Html.HiddenFor(model => model.RoleID)
                    @Html.HiddenFor(model => model.E_Stat)
                    @Html.HiddenFor(model => model.AdminID)
                    @Html.HiddenFor(model => model.CDate)
        
                    <div class="box-body">

                        <!-- left column -->
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.LoginName, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.LoginName, new { @class = "form-control", style = "width:265px" })
                                    @Html.ValidationMessageFor(model => model.LoginName)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Password, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.Password, new { @class = "form-control", style = "width:265px" })
                                    @Html.ValidationMessageFor(model => model.Password)
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="ConfirmPassword" class="col-sm-2 control-label ">Confirm New Password</label>

                                <div class="col-sm-10">

                                    <input class="text-box single-line password form-control" data-val="true" data-val-equalto="Password must match" data-val-equalto-other="*.Password" id="ConfirmPassword" name="ConfirmPassword" type="password" value="" style="width: 265px" />
                                    <span class="field-validation-valid" data-valmsg-for="ConfirmPassword" data-valmsg-replace="true"></span>

                                </div>
                            </div>
                        </div>

                    </div>
   
                    <div class="box-footer">
                        @Html.ActionLink("Back to Index", "Index", null, new { @class = "btn btn-info pull-left" })
                        <button type="submit" class="btn btn-info pull-right">Save</button>
                    </div>
                }
            </div>
        </div>
    </section>

</div>

