﻿@model Certificate_AdminPanel.Models.AdminLogin

@{
    ViewBag.Title = "Create";
    // Layout = "~/Views/Shared/_LayoutFancybox.cshtml";
    Layout = "~/Views/Shared/_AdminTemplate.cshtml";
}
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/AdminTemplates/plugins/select2/select2.full.min.js"></script>
<link href="~/AdminTemplates/plugins/select2/select2.min.css" rel="stylesheet" />
<script src="~/AdminTemplates/plugins/iCheck/icheck.min.js"></script>
@*<style>
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 23px;
    }
  
</style>*@
<script type="text/javascript">
    $(document).ready(function () {
        //// $('#AdminMaster_ExpDate').datepicker({ dateFormat: "dd-M-yy", changeYear: true, changeMonth: true, showOn: 'button', buttonImageOnly: true, buttonImage: '../../Content/Images/DatetimePicker/icon_cal.png' });
        //$('#CDate').datepicker({ dateFormat: "dd/M/yy", changeYear: true, changeMonth: true, showOn: 'button', buttonImageOnly: true, buttonImage: '../../Content/Images/DatetimePicker/icon_cal.png' });
        $(".select2").select2();
        $("#AdminMaster_ExpDate").datepicker({
            autoclose: true,
            format: 'dd/M/yyyy'
        });

    });
    //document.getElementById('AdminMaster_ExpDate').readOnly = 'readonly';

    // GetExpDate('#AdminMaster_ExpDate');
    //Initialize Select2 Elements

</script>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Administer
       
            <small>Admin Creation form</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a href="/Administer/Index">Administer</a></li>
            <li class="active">Admin Creation</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">

            <!-- Horizontal Form -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Admin Creation</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                @using (Html.BeginForm("Create", "Administer", FormMethod.Post, new { enctype = "multipart/form-data", id = "myForm1", @class = "form-horizontal" }))
                {
                    <div class="box-body">
                        <!--/.col (left) -->
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.AdminMaster.Name, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">
                                    @Html.TextBoxFor(model => model.AdminMaster.Name, new { @class = "form-control",tabindex=1 })
                                    @Html.ValidationMessageFor(model => model.AdminMaster.Name)

                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.LoginName, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.LoginName, new { @class = "form-control" ,tabindex=3})
                                    @Html.ValidationMessageFor(model => model.LoginName)
                                </div>
                            </div>
                            <div class="form-group">

                                <label for="ConfirmPassword" class="col-sm-2 control-label ">Confirm Password</label>
                                <div class="col-sm-10">

                                    <input class="text-box single-line password form-control" data-val="true" tabindex="5" data-val-equalto="Password must match" data-val-equalto-other="*.Password" id="ConfirmPassword" name="ConfirmPassword" type="password" value="" />
                                    <span class="field-validation-valid" data-valmsg-for="ConfirmPassword" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.AdminMaster.MobileNo, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.AdminMaster.MobileNo, new { @class = "form-control",tabindex=7 })
                                    @Html.ValidationMessageFor(model => model.AdminMaster.MobileNo)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.AdminMaster.Email, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.AdminMaster.Email, new { @class = "form-control",tabindex=9 })
                                    @Html.ValidationMessageFor(model => model.AdminMaster.Email)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.AdminMaster.Logo, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">
                                    <input type="text" readonly="" class="form-control" name="file" placeholder="Browse..." id="file_name",tabindex="11">

                                    <input data-val="true" data-val-required="field required" type="file" name="file" id="file" onchange="document.getElementById('file_name').value = this.value" style="width: 150px;" class="form-control" />
                                    @Html.ValidationMessage("file")
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.AdminMaster.TemplateID, new { @class = "col-sm-2 control-label Template " })

                                <div class="col-sm-10">

                                    @Html.DropDownListFor(model => model.AdminMaster.TemplateID, (IEnumerable<SelectListItem>)ViewBag.templatelist, "-select-", new { style = "width:100%;", @class = "form-control select2" ,tabindex=13})
                                    @Html.ValidationMessageFor(model => model.AdminMaster.TemplateID)
                                </div>
                            </div>
                        </div>
                        <!--/.col (left) -->
                        <!--/.col (right) -->
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.AdminMaster.DisplayName, new { @class = "col-sm-2 control-label" })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.AdminMaster.DisplayName, new { @class = "form-control" ,tabindex=2 })
                                    @Html.ValidationMessageFor(model => model.AdminMaster.DisplayName)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Password, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.PasswordFor(model => model.Password, new { @class = "form-control",tabindex=4 })
                                    @Html.ValidationMessageFor(model => model.Password)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.AdminMaster.Address, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextAreaFor(model => model.AdminMaster.Address, new { @class = "form-control", rows = 3,tabindex=6 })
                                    @Html.ValidationMessageFor(model => model.AdminMaster.Address)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.AdminMaster.PhoneNo, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.AdminMaster.PhoneNo, new { @class = "form-control",tabindex=8 })
                                    @Html.ValidationMessageFor(model => model.AdminMaster.PhoneNo)
                                </div>
                            </div>
                           
                            <div class="form-group">
                                @Html.LabelFor(model => model.AdminMaster.ExpDate, new { @class = "col-sm-2 control-label " })



                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.AdminMaster.ExpDate, new { @class = "form-control pull-right",tabindex=10 })
                                    @Html.ValidationMessageFor(model => model.AdminMaster.ExpDate)
                                </div>


                            </div>
                             <div class="form-group">
                                @Html.LabelFor(model => model.AdminMaster.TimeZoneID, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.DropDownListFor(model => model.AdminMaster.TimeZoneID, (IEnumerable<SelectListItem>)ViewBag.timezone, "-select-", new { style = "width:100%;", @class = "form-control select2",tabindex=12 })
                                    @*@Html.EditorFor(model=>model.AdminMaster.TimeZoneID)*@
                                    @Html.ValidationMessageFor(model => model.AdminMaster.TimeZoneID)
                                </div>
                            </div>

                            <!--/.col (right) -->
                        </div>
                        <!-- /.box-body -->

                    </div>
                    <div class="box-footer">
                         @Html.ActionLink("Back to Index", "Index", null, new { @class = "btn btn-info pull-left",tabindex=14    })
                        <button type="submit" class="btn btn-info pull-right" tabindex="15">Submit</button>
                    </div>
                    <!-- /.box-footer -->
                }
            </div>


        </div>


    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->


