﻿@model Certificate_AdminPanel.ViewModels.admin

@{
    ViewBag.Title = "Details";
    //Layout = "~/Views/Shared/_LayoutFancybox.cshtml";
    Layout = "~/Views/Shared/_AdminTemplate.cshtml";
}


@*<style>
    table {
        width: 100%;
        padding: 5px;
    }

    div h2 {
        display: block;
        text-align: center;
    }

    th, td {
        text-align: left;
        padding: 10px;
        border: 1px solid black;
    }
</style>*@
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Administer
       
        <small>Details</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a href="#">Administer</a></li>
            <li class="active">Details</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Details</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example2" class="table table-bordered table-striped">


                            <tr>
                                <th>Name</th>
                                <td>@Html.DisplayFor(model => model.Name)</td>
                                <th>Display Name</th>
                                <td>@Html.DisplayFor(model => model.DisplayName)</td>
                            </tr>

                            <tr>
                                <th>LoginName</th>
                                <td>@Html.DisplayFor(model => model.LoginName)</td>
                                <th>PhoneNo</th>
                                <td>@Html.DisplayFor(model => model.PhoneNo)</td>
                            </tr>
                            <tr>
                                <th>Address</th>
                                <td colspan="3">@Html.DisplayFor(model => model.Address)</td>
                            </tr>
                            <tr>
                                <th>MobileNo</th>
                                <td>@Html.DisplayFor(model => model.MobileNo)</td>
                                <th>Email</th>
                                <td>@Html.DisplayFor(model => model.Email)</td>
                            </tr>

                            <tr>
                                <th>Time Zone</th>
                                <td>@Html.DisplayFor(model => model.time_zone)</td>
                                <th>Created Date</th>
                                <td>@Html.DisplayFor(model => model.CDate)</td>
                            </tr>

                            <tr>
                                <th>Modified Date</th>
                                <td>@Html.DisplayFor(model => model.MDate)</td>
                                <th>@Html.DisplayNameFor(model => model.Type)</th>
                                <td>@Html.DisplayFor(model => model.Type)</td>
                            </tr>


                        </table>
                    </div>
                    <div class="box-footer">
                        @Html.ActionLink("Back to Index", "Index", null, new { @class = "btn btn-info pull-left" })

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

