﻿@model Certificate_AdminPanel.Models.AdminLogin

@{
    ViewBag.Title = "Edit";
 
    Layout = "~/Views/Shared/_AdminTemplate.cshtml";
   
}
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/AdminTemplates/plugins/select2/select2.full.min.js"></script>
<link href="~/AdminTemplates/plugins/select2/select2.min.css" rel="stylesheet" />
<script src="~/AdminTemplates/plugins/iCheck/icheck.min.js"></script>
<style>
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 23px;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        // $('#AdminMaster_ExpDate').datepicker({ dateFormat: "dd-M-yy", changeYear: true, changeMonth: true, showOn: 'button', buttonImageOnly: true, buttonImage: '../../Content/images/DatetimePicker/icon_cal.png' });
        //  $('#CDate').datepicker({ dateFormat: "dd/M/yy", changeYear: true, changeMonth: true, showOn: 'button', buttonImageOnly: true, buttonImage: '../../Content/images/DatetimePicker/icon_cal.png' });
        $(".select2").select2();
        $("#AdminMaster_ExpDate").datepicker({
            autoclose: true,
            format: 'dd/M/yyyy'
        });
    });
</script>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Administer
       
            <small>Admin Edit form</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a href="/Administer/Index">Administer</a></li>
            <li class="active">Edit</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">

            <!-- Horizontal Form -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Edit</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                @using (Html.BeginForm("Edit", "Administer", FormMethod.Post, new { enctype = "multipart/form-data", id = "myForm1", @class = "form-horizontal" }))
                {                @Html.ValidationSummary(true)

                    @Html.HiddenFor(model => model.LoginID)
                    @Html.HiddenFor(model => model.LoginName)
                    @Html.HiddenFor(model => model.Password)
                    @Html.HiddenFor(model => model.E_Stat)
                    <div class="box-body">
                        <!--/.col (left) -->
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.AdminMaster.Name, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">
                                    @Html.TextBoxFor(model => model.AdminMaster.Name, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.AdminMaster.Name)

                                </div>
                            </div>
                            
                            <div class="form-group">
                                @Html.LabelFor(model => model.AdminMaster.MobileNo, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.AdminMaster.MobileNo, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.AdminMaster.MobileNo)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.AdminMaster.Email, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.AdminMaster.Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.AdminMaster.Email)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.AdminMaster.Logo, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">
                                    <input type="text" readonly="" class="form-control" placeholder="Browse..." id="file_name">
                                    
                                                                      <input data-val="true" data-val-required="field required" type="file" name="file" id="file" style="width: 150px;" class="form-control" onchange="document.getElementById('file_name').value=this.value" />
                                    @Html.ValidationMessage("file")
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.AdminMaster.TemplateID, new { @class = "col-sm-2 control-label Template " })

                                <div class="col-sm-10">

                                    @Html.DropDownListFor(model => model.AdminMaster.TemplateID, (IEnumerable<SelectListItem>)ViewBag.templatelist, "-select-", new { style = "width:100%;", @class = "form-control select2" })
                                    @Html.ValidationMessageFor(model => model.AdminMaster.TemplateID)
                                </div>
                            </div>
                        </div>
                        <!--/.col (left) -->
                        <!--/.col (right) -->
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.AdminMaster.DisplayName, new { @class = "col-sm-2 control-label" })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.AdminMaster.DisplayName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.AdminMaster.DisplayName)
                                </div>
                            </div>
                            
                            <div class="form-group">
                                @Html.LabelFor(model => model.AdminMaster.Address, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextAreaFor(model => model.AdminMaster.Address, new { @class = "form-control",rows=3 })
                                    @Html.ValidationMessageFor(model => model.Password)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.AdminMaster.PhoneNo, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.AdminMaster.PhoneNo, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.AdminMaster.PhoneNo)
                                </div>
                            </div>
                           
                            <div class="form-group">
                                @Html.LabelFor(model => model.AdminMaster.ExpDate, new { @class = "col-sm-2 control-label " })



                                <div class="col-sm-10">

                                    @Html.TextBoxFor(model => model.AdminMaster.ExpDate,"{0:dd/MMM/yyyy}", new { @class = "form-control pull-right" })
                                    @Html.ValidationMessageFor(model => model.AdminMaster.ExpDate)
                                </div>


                            </div>
                             <div class="form-group">
                                @Html.LabelFor(model => model.AdminMaster.TimeZoneID, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">

                                    @Html.DropDownListFor(model => model.AdminMaster.TimeZoneID, (IEnumerable<SelectListItem>)ViewBag.timezone, "-select-", new { style = "width:100%;", @class = "form-control select2" })
                                    @*@Html.EditorFor(model=>model.AdminMaster.TimeZoneID)*@
                                    @Html.ValidationMessageFor(model => model.AdminMaster.TimeZoneID)
                                </div>
                            </div>

                            <!--/.col (right) -->
                        </div>
                        <!-- /.box-body -->

                    </div>
                    <div class="box-footer">
                        @Html.ActionLink("Back to Index", "Index", null, new { @class = "btn btn-info pull-left" })
                        <button type="submit" class="btn btn-info pull-right">Save</button>
                    </div>
                    <!-- /.box-footer -->
                }
            </div>


        </div>


    </section>
   
</div>

