﻿@model Certificate_AdminPanel.Models.Certificate
@{
    
    ViewBag.Title = "Search";
    
    if(Certificate_AdminPanel.SessionWrapper.AdminLevel == AdminLevel.None)
    {
        Layout = null;
    }
    
   
}

 @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
@Styles.Render("~/Content/themes/base/css")
     
 @if(Certificate_AdminPanel.SessionWrapper.AdminLevel == AdminLevel.None){

<div class="float-left">
                <p class="site-title">
                    <img class="company_logo" src="~/Images/logo/Untitled.jpg" />
                </p>
 </div>

<link href="~/Content/Site.css" rel="stylesheet" />
     <link href="~/Content/themes/base/jquery.ui.base.css" rel="stylesheet" />
     <link href="~/Content/themes/base/jquery.ui.theme.css" rel="stylesheet" />
     <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
     
     
}
<br />
<br />

 <script>
     
    $(function () {
        var availableTags = new Array();
        $.getJSON("/Certificate/GetRegistrationNumber", null, function (data) {
            availableTags = 
            $.each(data, function (i, item) {
                availableTags[i] = item;
            });
            $(".sb_input").autocomplete({
                source: availableTags
            });
        });

       
        
        function GetCertificateDetails(div, item) {
            div.append("<br/>" + "FName: " + item.FirstName + ", LName: " + item.LastName);
            $.each(item.Addresses, function (i, addr) {
                printAddress(div, addr);
            });
        }


        $(".sb_search").click(function () {
            
            if ($("#searchString").val() == null || $("#searchString").val() == '') { alert('Please Enter Vehicle Registration Number'); } else
            {
                var div = $('#CertDetails');
                $.getJSON("/Certificate/GetCertificateDetails/?RegNo=" + $("#searchString").val(), null, function (data) {
                    //if ($("#searchString").val() == "Expired")
                    //{
                    //    div.html("<br/><h3> " + "Found" + "</h3><br/>");
                    //}
                    if (data == '')
                    {
                        div.empty();
                        div.html("<br/><h3> " + "No Data Found" + "</h3><br/>");
                    }
            
                    else {
                        div.empty();

                        div.append("<br/><br/>");
                        exp = $('<td></td>').attr({ id: "oce" });
                    
                        mytable = $('<table></table>').attr({ id: "one-column-emphasis" });
                       //trow.appendTo(mytable);
                        colgroup =  $('<colgroup></colgroup>')
                        $('<col></col>').attr({ id:"oce-first"}).appendTo(colgroup);
                        mytable.append(colgroup);
                        $.each(data, function (i, item) {
                            // div.append(" <Tr><th><h3>"+item.Expired +"</h3></th></tr> ");
                            if (item.Expired == 'Expired')
                            {
                                //trow.append("<p>"+item.Expired+"</p>");
                                exp.append("<tr><td><th>" + item.Expired + "</th></td></tr>");
                                div.append(exp);
                            }
                            mytable.append(" <thead><Tr><th scope=col>Name</th><th>Details</th></tr> </thead>");
                            mytable.append("<Tr><td>Certificate No</td><td>" + item.CertificateNo + "</td></tr>");
                            mytable.append("<Tr><td>Registration No</td><td>" + item.VehRegistrationNo + "</td></tr>");
                            mytable.append("<Tr><td>Owner Name</td><td>" + item.OwnerName + "</td></tr>");
                            mytable.append("<Tr><td>Chassis No</td><td>" + item.ChassisNo + "</td></tr>");
                            mytable.append("<Tr><td>Engine No</td><td>" + item.EngineNo + "</td></tr>");
                            mytable.append("<Tr><td>Manufacture Year</td><td>" + item.ManufactureYear + "</td></tr>");
                            mytable.append("<Tr><td>Make Of Vehicle</td><td>" + item.MakeOfVehicle + "</td></tr>");
                            mytable.append("<Tr><td>Model Of Vehicle</td><td>" + item.ModelOfVehicle + "</td></tr>");
                            mytable.append("<Tr><td>Type of Speed Limiter No</td><td>" + item.TypeSpeedLimiter + "</td></tr>");
                            mytable.append("<Tr><td>Set Speed</td><td>" + item.SetSpeed+","+item.speed2 + "</td></tr>");
                            mytable.append("<Tr><td>Serial No</td><td>" + item.SerialNo + "</td></tr>");
                            mytable.append("<Tr><td>Tamper Seal No</td><td>" + item.TamperSealNo + "</td></tr>");
                            mytable.append("<Tr><td>Company</td><td>" + item.Name + "</td></tr>")
                            mytable.append("<Tr><td>Install Date</td><td>" + formatdate(item.InstallDate) + "</td></tr>");
                            //if (item.RenewalDate != null) {
                            //    mytable.append("<Tr><td>Re-Calibration Date</td><td>" + formatdate(item.RenewalDate) + "</td></tr>");
                            //}
                            //else {
                            //    mytable.append("<Tr><td>Re-Calibration Date</td><td>" + "N/A" + "</td></tr>");

                            //}
                            mytable.append("<Tr><td>Calibration Date</td><td>" + formatdate(item.CalibrationDate) + "</td></tr>");
                            mytable.append("<Tr><td>Expiry Date</td><td>" + formatdate(item.ExpDate) + "</td></tr>");
                            mytable.append("<Tr><td>Applicable Standard</td><td>" + item.ApplicableStandard + "</td></tr>");
                            mytable.append("<Tr><td>Country</td><td>" + item.CountryName + "</td></tr>");
                            
                        });
                        
                        div.append(mytable);                        
                        div.append("<br/><br/>");
                    }
                });

                //alert($("#searchString").val());
               
                
            }
        })
      
            $('#searchString').keypress(function (e) {
                if (e.which ==13) {
                    if ($("#searchString").val() == null || $("#searchString").val() == '') { alert('Please Enter Vehicle Registration Number'); } else
                    {
                        var div = $('#CertDetails');
                        $.getJSON("/Certificate/GetCertificateDetails/?RegNo=" + $("#searchString").val(), null, function (data) {
                            //if ($("#searchString").val() == "Expired")
                            //{
                            //    div.html("<br/><h3> " + "Found" + "</h3><br/>");
                            //}
                            if (data == '') {
                                div.empty();
                                div.html("<br/><h3> " + "No Data Found" + "</h3><br/>");
                            }

                            else {
                                div.empty();

                                div.append("<br/><br/>");
                                exp = $('<td></td>').attr({ id: "oce" });

                                mytable = $('<table></table>').attr({ id: "one-column-emphasis" });
                                //trow.appendTo(mytable);
                                colgroup = $('<colgroup></colgroup>')
                                $('<col></col>').attr({ id: "oce-first" }).appendTo(colgroup);
                                mytable.append(colgroup);
                                $.each(data, function (i, item) {
                                    // div.append(" <Tr><th><h3>"+item.Expired +"</h3></th></tr> ");
                                    if (item.Expired == 'Expired') {
                                        //trow.append("<p>"+item.Expired+"</p>");
                                        exp.append("<tr><td><th>" + item.Expired + "</th></td></tr>");
                                        div.append(exp);
                                    }
                                    mytable.append(" <thead><Tr><th scope=col>Name</th><th>Details</th></tr> </thead>");
                                    mytable.append("<Tr><td>Certificate No</td><td>" + item.CertificateNo + "</td></tr>");
                                    mytable.append("<Tr><td>Registration No</td><td>" + item.VehRegistrationNo + "</td></tr>");
                                    mytable.append("<Tr><td>Owner Name</td><td>" + item.OwnerName + "</td></tr>");
                                    mytable.append("<Tr><td>Chassis No</td><td>" + item.ChassisNo + "</td></tr>");
                                    mytable.append("<Tr><td>Engine No</td><td>" + item.EngineNo + "</td></tr>");
                                    mytable.append("<Tr><td>Manufacture Year</td><td>" + item.ManufactureYear + "</td></tr>");
                                    mytable.append("<Tr><td>Make Of Vehicle</td><td>" + item.MakeOfVehicle + "</td></tr>");
                                    mytable.append("<Tr><td>Model Of Vehicle</td><td>" + item.ModelOfVehicle + "</td></tr>");
                                    mytable.append("<Tr><td>Type of Speed Limiter No</td><td>" + item.TypeSpeedLimiter + "</td></tr>");
                                    mytable.append("<Tr><td>Set Speed</td><td>" + item.SetSpeed + "</td></tr>");
                                    mytable.append("<Tr><td>Serial No</td><td>" + item.SerialNo + "</td></tr>");
                                    mytable.append("<Tr><td>Tamper Seal No</td><td>" + item.TamperSealNo + "</td></tr>");
                                    mytable.append("<Tr><td>Company</td><td>" + item.Name + "</td></tr>")
                                    mytable.append("<Tr><td>Install Date</td><td>" + formatdate(item.InstallDate) + "</td></tr>");
                                    //if (item.RenewalDate != null) {
                                    //    mytable.append("<Tr><td>Re-Calibration Date</td><td>" + formatdate(item.RenewalDate) + "</td></tr>");
                                    //}
                                    //else {
                                    //    mytable.append("<Tr><td>Re-Calibration Date</td><td>" + "N/A" + "</td></tr>");
                                    
                                    //}
                                    mytable.append("<Tr><td>Calibration Date</td><td>" + formatdate(item.CalibrationDate) + "</td></tr>");
                                    mytable.append("<Tr><td>Expiry Date</td><td>" + formatdate(item.ExpDate) + "</td></tr>");
                                    mytable.append("<Tr><td>Applicable Standard</td><td>" + item.ApplicableStandard + "</td></tr>");
                                    mytable.append("<Tr><td>Country</td><td>" + item.CountryName + "</td></tr>");

                                });

                                div.append(mytable);
                                div.append("<br/><br/>");
                            }
                        });

                        //alert($("#searchString").val());


                    }
                }
           
        });
        var mon = ["JAN", "FEB", "MAR", "APR", "MAY", "JUN", "JUL", "AUG", "SEP", "OCT", "NOV", "DEC"]
        
        
        function formatdate(_jsondate)
        {
            
            var _date = new Date(parseInt(_jsondate.substr(6)));
            //var _date = new Date(parseInt(_jsondate.replace(/(^.*\()|([+-].*$)/g, '')));
            //var _date = new Date( eval(_jsondate.replace(/\/Date\((.*?)\)\//gi, "new Date($1)")));
            //return _date.getMonth() + 1 + '-' + _date.getDate() + '-' + _date.getFullYear();
            
            var month = _date.getMonth();
            var day = _date.getDate();
            var year = _date.getFullYear();
            //return _date.getDate()  + '-' + _date.getMonth()+ 1 + '-' + _date.getFullYear();
            return day + '-' + mon[month]+ '-' + year;
        }

    });
    
    //$("#ui_element").keypress(function (e) {
    //    return e.which != 13;
     //});
    //function submitOnEnter(inputElement, event) {
    //    if (event.keyCode == 13) { // No need to do browser specific checks. It is always 13.  
    //        inputElement.form.submit();
    //    }
    //}

    //function keypressHandler(e) {
    //    if (e.which == 13) {
    //        $(this).blur();
    //        $('#sub').focus().click();//give your submit an ID
    //    }
    //}

    //$('#ui_element').keypress(keypressHandler);
    $(function() {
        $('#searchString').keypress(function (e) {
            if (e.which == 13) {
                document.getElementById('SubmitButton').click();
                return false;
            }
            else
            {
                return true;
            }

                           })
                    });
          //  });
    //$('body').keypress(function(e) 
    //{
    //    if (e.keyCode == '13') {
    //        e.stopPropagation()

    //    }
     //});​
    //$(document).ready(function () {
    //    $("input").bind("keydown", function (event) {
    //        var keycode = (event.keyCode ? event.keyCode : (event.which ? event.which : event.charCode));
    //        if (keycode == 13) {
    //            document.getElementById('SubmitButton').click();
    //            return false;
    //        } else {
    //            return true;
    //        }
    //    });
    //});
</script>         <body style="background-color:white" >
    <div class="contetn"
         <div style="height:760px;">
<form  method="get" id="ui_element" class="sb_wrapper" style="padding-top:3em;" >
                    <p >
						<input id="searchString" class="sb_input" type="text" value="Registration Number" onfocus="this.value==this.defaultValue?this.value='':null"/>
                        @*<input type="submit" style="display:none"/>  *@
                        <input id="SubmitButton" class="sb_search" type="button"  value="" /></p>
					
    <br />
    <br />

 <div id="CertDetails">
     </div>
    					
                </form></div></body>      
 @*@if(Certificate_AdminPanel.SessionWrapper.AdminLevel == AdminLevel.None){
<footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - Thinture Technologies Pvt. Ltd.</p>
            </div>
        </div>
    </footer>}*@