﻿@model Certificate_AdminPanel.Models.LoginMaster


@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminTemplate.cshtml";
    
}

<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/AdminTemplates/plugins/select2/select2.full.min.js"></script>
<link href="~/AdminTemplates/plugins/select2/select2.min.css" rel="stylesheet" />
<script src="~/AdminTemplates/plugins/iCheck/icheck.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        ///GetRegistrationDate('#UserMst_RegDate');
       /// document.getElementById('UserMst_RegDate').readOnly = 'readonly';
        $(".select2").select2();
        $("#UserMst_RegDate").datepicker({
            autoclose: true,
            format: 'dd/M/yyyy'
        });

    });
</script>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>User
       
            <small>User Creation form</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a href="/User/Index">User</a></li>
            <li class="active">User Creation</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">

            <!-- Horizontal Form -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">User Creation</h3>
                </div>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="box-body">
                        <!--/.col (left) -->
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.UserMst.Name, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">
                                    @Html.TextBoxFor(model => model.UserMst.Name, new { @class = "form-control", tabindex = 1 })
                                    @Html.ValidationMessageFor(model => model.UserMst.Name)

                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Password, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">
                                    @Html.TextBoxFor(model => model.Password, new { @class = "form-control", tabindex = 3 })
                                    @Html.ValidationMessageFor(model => model.Password)

                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.UserMst.Address, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">
                                    @Html.TextAreaFor(model => model.UserMst.Address, new { @class = "form-control", rows = 3, tabindex = 5 })
                                    @Html.ValidationMessageFor(model => model.UserMst.Address)

                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.UserMst.Mobile, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">
                                    @Html.TextBoxFor(model => model.UserMst.Mobile, new { @class = "form-control", tabindex = 7 })
                                    @Html.ValidationMessageFor(model => model.UserMst.Mobile)

                                </div>
                            </div>
                            @if (Certificate_AdminPanel.SessionWrapper.IsAdmin)
                            {
                                <div class="form-group">
                                    @Html.Label("Company", new { @class = "col-sm-2 control-label " })

                                    <div class="col-sm-10">
                                        @Html.DropDownList("UserMst.CompID", (SelectList)ViewData["CompID"], "-Select-", new { style = "width:100%;", @class = "form-control select2" })


                                    </div>
                                </div>
                            }
                        </div>
                        <!--/.col (Right) -->
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.LoginName, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">
                                    @Html.TextBoxFor(model => model.LoginName, new { @class = "form-control", tabindex = 2 })
                                    @Html.ValidationMessageFor(model => model.LoginName)

                                </div>
                            </div>
                            <div class="form-group">
                                <label for="ConfirmPassword" class="col-sm-2 control-label ">Confirm Password</label>


                                <div class="col-sm-10">

                                    <input class="text-box single-line password form-control" data-val="true" data-val-equalto="Password must match" data-val-equalto-other="*.Password" id="ConfirmPassword" name="ConfirmPassword" type="password" value="" tabindex="4" />
                                    <span class="field-validation-valid" data-valmsg-for="ConfirmPassword" data-valmsg-replace="true"></span>

                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.UserMst.PhoneNo, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">
                                    @Html.TextBoxFor(model => model.UserMst.PhoneNo, new { @class = "form-control", tabindex = 6 })
                                    @Html.ValidationMessageFor(model => model.UserMst.PhoneNo)

                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.UserMst.RegDate, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">
                                    @Html.TextBoxFor(model => model.UserMst.RegDate, new { @class = "form-control", tabindex = 8 })
                                    @Html.ValidationMessageFor(model => model.UserMst.RegDate)

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="box-footer">
                        @Html.ActionLink("Back to Index", "Index", null, new { @class = "btn btn-info pull-left", tabindex = 10 })
                        <button type="submit" class="btn btn-info pull-right" tabindex="15">Submit</button>
                    </div>
                }
            </div>
        </div>
    </section>
</div>
