﻿@model Certificate_AdminPanel.ViewModels.UserView

@{
    ViewBag.Title = "Details";
 Layout = "~/Views/Shared/_AdminTemplate.cshtml";
}


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>User
       
        <small>Details</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a href="#">User</a></li>
            <li class="active">Details</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Details</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example2" class="table table-bordered table-striped">


                            <tr>
                                <th>Name</th>
                                <td>@Html.DisplayFor(model => model.Name)</td>
                               <th>LoginName</th>
                                <td>@Html.DisplayFor(model => model.LoginName)</td>
                            </tr>

                            <tr>
                                
                                <th>PhoneNo</th>
                                <td>@Html.DisplayFor(model => model.PhoneNo)</td>
                                <th>MobileNo</th>
                                <td>@Html.DisplayFor(model => model.Mobile)</td>
                            </tr>
                            <tr>
                                <th>Address</th>
                                <td colspan="3">@Html.DisplayFor(model => model.Address)</td>
                            </tr>

                            <tr>
                                <th>Time Zone</th>
                                <td>@Html.DisplayFor(model => model.pwd)</td>
                                <th>Created Date</th>
                                <td>@Html.DisplayFor(model => model.CDate)</td>
                            </tr>

                            <tr>
                                <th>Modified Date</th>
                                <td>@Html.DisplayFor(model => model.MDate)</td>
                                <th>@Html.DisplayNameFor(model => model.Type)</th>
                                <td>@Html.DisplayFor(model => model.Type)</td>
                            </tr>
                            <tr>
                                 <th>Company</th>
                                <td>@Html.DisplayFor(model => model.Company)</td>
                            </tr>

                        </table>
                    </div>
                    <div class="box-footer">
                        @Html.ActionLink("Back to Index", "Index", null, new { @class = "btn btn-info pull-left" })

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


@*<table id="one-column-emphasis-det">
    <colgroup>
    <col class="col-grp-left" style="width:100px;" >
    <col class="col-grp-right" style="width:150px">
  </colgroup>
    <tr>
        <td>
    <div class="display-label">
        Name
    </div>
        </td>
        <td>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
</td></tr>
 <tr>
        <td>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.LoginName)
    </div></td>
        <td>
    <div class="display-field">
        @Html.DisplayFor(model => model.LoginName)
    </div>
</td>
        </tr><tr><td>
    <div class="display-label">
         Password
    </div></td><td>
    <div class="display-field">
        @Html.DisplayFor(model => model.pwd)
    </div></td>
             </tr><tr><td>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Address)
    </div></td><td>
    <div class="display-field" style="display:block;overflow:scroll;text-overflow:initial;width:180px;">
        @Html.DisplayFor(model => model.Address)
    </div>
        </td> </tr><tr><td>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.PhoneNo)
    </div></td><td>
    <div class="display-field">
        @Html.DisplayFor(model => model.PhoneNo)
    </div>
        </td> </tr><tr><td>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Mobile)
    </div></td><td>
    <div class="display-field">
        @Html.DisplayFor(model => model.Mobile)
    </div></td> </tr>

    <tr><td>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CDate)
    </div></td><td>
    <div class="display-field">
        @Html.DisplayFor(model => model.CDate)
    </div></td></tr>
    <tr><td>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MDate)
    </div></td><td>
    <div class="display-field">
        @Html.DisplayFor(model => model.MDate)
    </div></td></tr>
    <tr><td>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Company)
    </div></td><td>
    <div class="display-field">
        @Html.DisplayFor(model => model.Company)
    </div></td></tr>
</table>*@
