﻿@model Certificate_AdminPanel.Models.LoginMaster

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminTemplate.cshtml";
   
}
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/AdminTemplates/plugins/select2/select2.full.min.js"></script>
<link href="~/AdminTemplates/plugins/select2/select2.min.css" rel="stylesheet" />
<script src="~/AdminTemplates/plugins/iCheck/icheck.min.js"></script>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>User
       
            <small>User Edit form</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a href="/User/Index">User</a></li>
            <li class="active">Edit</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">

            <!-- Horizontal Form -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Edit</h3>
                </div>
                @using (Html.BeginForm())
                {
                   
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(model => model.LoginID)
                    @Html.HiddenFor(model => model.UserMst.UserID)
                    @Html.HiddenFor(model => model.UserMst.CompID)
                    @Html.HiddenFor(model => model.LoginName)
                    @Html.HiddenFor(model => model.Password)
                    @Html.HiddenFor(model => model.E_Stat)
                    <div class="box-body">
                        <!--/.col (left) -->
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.UserMst.Name, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">
                                    @Html.TextBoxFor(model => model.UserMst.Name, new { @class = "form-control", tabindex = 1 })
                                    @Html.ValidationMessageFor(model => model.UserMst.Name)

                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.UserMst.PhoneNo, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">
                                    @Html.TextBoxFor(model => model.UserMst.PhoneNo, new { @class = "form-control", tabindex = 3 })
                                    @Html.ValidationMessageFor(model => model.UserMst.PhoneNo)

                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.UserMst.Address, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">
                                    @Html.TextAreaFor(model => model.UserMst.Address, new { @class = "form-control", rows = 5, tabindex = 5 })
                                    @Html.ValidationMessageFor(model => model.UserMst.Address)

                                </div>
                            </div>


                        </div>
                        <!--/.col (Right) -->
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.UserMst.Mobile, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">
                                    @Html.TextBoxFor(model => model.UserMst.Mobile, new { @class = "form-control", tabindex = 2 })
                                    @Html.ValidationMessageFor(model => model.UserMst.Mobile)

                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Type, new { @class = "col-sm-2 control-label " })

                                <div class="col-sm-10">
                                    @Html.TextBoxFor(model => model.Type, new { @class = "form-control", tabindex = 4 })
                                    @Html.ValidationMessageFor(model => model.Type)

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="box-footer">
                        @Html.ActionLink("Back to Index", "Index", null, new { @class = "btn btn-info pull-left", tabindex = 6 })
                        <button type="submit" class="btn btn-info pull-right" tabindex="15">Save</button>
                    </div>
                
                }
            </div>
        </div>
    </section>
</div>
