﻿@model IEnumerable<Certificate_AdminPanel.ViewModels.UserView>

@{
    ViewBag.Title = "Index";
}
@*<script src="~/AdminTemplates/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
<link href="~/AdminTemplates/plugins/datatables/extensions/Responsive/css/dataTables.responsive.css" rel="stylesheet" />*@
@using System.Web.Optimization
@Styles.Render("~/bundles/DatatableResposive")
@Scripts.Render("~/bundles/DatetableResposiveJs")
<link href="~/Scripts/TableTools.css" rel="stylesheet" />
<script src="~/Scripts/TableTools.min.js"></script>
<script>
    $(document).ready(function () {
        var table = $("#example").DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "aoColumnDefs": [
                //{ "sWidth": "180px", "aTargets": [0, 4, 6, 7] },
                { 'bSortable': false, 'aTargets': [4] }],
            "sDom": 'T<"clear">lfrtip',
            "oTableTools": {
                "aButtons": [
                    "xls",
                    "print"],
                "sSwfPath": "../../Content/swf/copy_csv_xls_pdf.swf"
            },
        })
        new $.fn.dataTable.Responsive(table);
        // JS script
        $('.ls-modal').on('click', function (e) {
            e.preventDefault();
            debugger;
            $('#myModal').modal('show').find('.contents').load($(this).attr('href'));
        });
    });//end of main function
</script>


<div class="content-wrapper">


    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>User
       
        <small>Login Credentials</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a href="#">User</a></li>
            <li class="active">Index</li>
        </ol>
    </section>
    <!-- Content Header (Page header) -->


    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Login Details</h3>

                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <a href="/User/Create" class="btn bg-olive pull-left">Create</a>
                        <table id="example" class="table table-bordered table-striped  display">
                            <thead>

                                <tr>
                                    <th>Name
                                    </th>
                                    <th>LoginName
                                    </th>
                                    <th>Password
                                    </th>

                                    <th>Company
                                    </th>
                                    @if (Certificate_AdminPanel.SessionWrapper.IsAdmin||Certificate_AdminPanel.SessionWrapper.AdminLevel==AdminLevel.CompanyAdmin )
                                    {
                                        <th>Status</th>
                                         
                                     }

                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.LoginName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.pwd)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.Company)
                                        </td>
                                        @if (Certificate_AdminPanel.SessionWrapper.IsAdmin||Certificate_AdminPanel.SessionWrapper.AdminLevel==AdminLevel.CompanyAdmin )
                                        {
                                           
                                            <td>
                                                @if (item.isLogin)
                                                {

                                                    <label class="switch">
                                                        <input type="checkbox" checked>
                                                        <span class="slider round"></span>
                                                    </label>
                                                }
                                                else
                                                {
                                                    <label class="switch">
                                                        <input type="checkbox">
                                                        <span class="slider round"></span>
                                                    </label>
                                                }
                                            </td>
                                        }
                                        <td>
                                            <a href="/User/details/@item.UserID" class="iframedetails" title="Details" style="text-decoration:none">
                                                <span class="glyphicon glyphicon-list-alt"></span>
                                            </a>&nbsp;&nbsp;
                        <a href="/User/edit/@item.UserID" class="iframEdit" title="Edit" style="text-decoration:none">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>&nbsp;&nbsp;
                      <a href="/User/delete/@item.UserID"   data-toggle="modal" title="Delete" data-target="myModal" class="ls-modal" style="text-decoration:none">
                          <span class="glyphicon glyphicon-trash"></span></a></td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- /.example-modal -->


<div class="modal modal-info " id="myModal" role="dialog">
    <div class="modal-dialog contents">
    </div>
</div>
<!-- /.modal-content -->
