﻿@model IEnumerable<Certificate_AdminPanel.Models.AuditView>

@{
    ViewBag.Title = "Index";
}
<script type="text/javascript">
    $(document).ready(function () {
        $('#example2').DataTable({
            "paging": true,

            "ajax": {
                "url": '../../JsonStorage/Audit.txt',
                "dataSrc": ""
            },
            "lengthChange": false,
            "searching": true,
            "ordering": false,
            "info": true,
            "autoWidth": false,
            "aoColumns": [
       { "data": "IPAddress" },
       { "data": "UserName" },
       { "data": "URLAccessed" },
       {
           "data": "TimeAccessed",
           "render": function (data, type, row) {
               var date = new Date(data);
               return formatDate(date);
           }
       }

            ]
        });
    })


</script>

<div class="content-wrapper">


    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Administer
       
        <small>Audit Details</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a href="/Administer/Index">Administer</a></li>
            <li class="active">Audit</li>
        </ol>
    </section>
    <!-- Content Header (Page header) -->


    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Audit</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">

                        <table id="example2" class="table table-bordered table-striped">
                            <thead>
                                <tr>

                                    <th>
                                        @Html.DisplayNameFor(model => model.IPAddress)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.UserName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.URLAccessed)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TimeAccessed)
                                    </th>

                                </tr>
                            </thead>
                            @*@foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IPAddress)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UserName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.URLAccessed)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TimeAccessed)
                                    </td>

                                </tr>
                            }*@

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
